@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://ww.w3.org/TR/REChtml40");

/* NEW WIDGET ANDING: <button> */

/** plain (raw) buttons, class="plain" **/

  button.plain
    {
      -moz-binding			  : url(chrome://global/content/xulBindings.xml#buttonleft);
    }

  button.plain, button.plain:hover, button.plain:hover:active,
  button.plain:hover:active > .button-internal-box,
  button.plain > .button-internal-box, 
  button.plain > .button-internal-box:hover:active,
  button.plain > .button-internal-box > .button-text-container, 
  button.plain > .button-internal-box > .button-text-container:hover:active,
  button.plain > .button-internal-box > .button-text-container > .button-text, 
  button.plain > .button-internal-box > .button-text-container > .button.text:hover:active,
  button-plain > .button-internal-box > .button-icon, 
  button.plain > .button-internal-box > .button.icon:hover:active
    {
      border              : 0px;
      margin              : 0px;
      padding             : 0px;
      color				  : #000000;
    }
  
/*** class=plain-extended ***/
/****************************/
/* This class has all the functionality of the plain class, but extends it so that it includes
 * rollover styles, borders, paddings, and margins.  Essentially, this class consists of the
 * old, pre-Macified button styles, similar to the ones on Windows.  You can use this class if
 * you want to make standard square buttons that do not look like Mac Buttons with rounded corners, etc.
 ****************************/
 
  button.plain-extended
    {
      -moz-binding        : url("chrome://global/skin/buttonBindings.xml#buttonleft");
      border-left         : 1px solid #DDDDDD;
      border-top          : 1px solid #DDDDDD;
      border-right        : 1px solid #000000;
      border-bottom       : 1px solid #000000;
      margin              : 1px 5px 2px 5px;
      background-color    : #DDDDDD;
      min-width           : 8em;
      font                : geneva 10px;
      color               : #000000;
      -moz-border-radius  : 3px 2px 2px 3px;
    }
  
  button.plain-extended > .button-box-1  
    {
      border-left         : 1px solid #FFFFFF;
      border-top          : 1px solid #FFFFFF;
      border-right        : 1px solid #9D9D9D;
      border-bottom       : 1px solid #9D9D9D;
    }

  button.plain-extended > .button-box-1 > .button-box-2
    {
	  border              : 1px solid #DDDDDD;	
    }
    
  button.plain-extended:hover:active,
  button.plain-extended:hover 
    {
      border              : 1px solid #000000;
    }

  button.plain-extended:hover:active > .button-box-1
    {
      border              : 1px solid #9D9D9D;
    }

  button.plain-extended:hover:active > .button-box-1 > .button-box-2
    {
      border              : 1px solid #DDDDDD;
    }

  button.plain-extended:hover:active > .button-box-1 > .button-box-2 > .button-box-text
    {
      padding             : 1px 2px 0px 3px;
      color				  : #000000;
    }
  
  button.plain-extended[disabled="true"],
  button.plain-extended[disabled="true"]:hover:active 
    {
      color               : #999999;
    }
        
  button.plain-extended > .button-box-1 > .button-box-2 > .button-box-text,
  button.plain-extended > .button-box-1 > .button-box-2 > .button-box-text
    {
      padding             : 0px 3px 1px 2px;
    }

  
  
/** Mac Buttons **/
/** All .button-* styles also apply to dialog exit buttons (OK/Cancel) (as seen in XBL binding) **/

button, .exit-dialog {
	-moz-binding			: url(chrome://global/skin/buttonBindings.xml#exit-button);
	border				: 0px;
	-moz-user-focus			: ignore;
	min-width			: 60px;
	color				: #000000;
	background-color	: transparent !important;  /* Greatly increases responsiveness and 'feel' */
}

button {
	font				: 10px geneva;
	padding				: 0px;
    margin              : 4px 5px 5px 5px;
}

.exit-dialog {
	font				: 12px charcoal ! important;
	margin				: 4px 5px 5px 5px;  /* So that non-default "Cancel" buttons line up with default ones */
}

.exit-dialog[default="true"] {
	margin              : 1px 5px 2px 5px;
}

.button-image-left {
	background			: url(chrome://global/skin/button-normal-left.gif) no-repeat;
	width				: 4px;
	height				: 20px;
}

.button-image-middle {
	background: url(chrome://global/skin/button-normal-middle.gif) repeat-x;
}

.button-text-box {
	text-align          : center;
    vertical-align      : middle;
    padding				: 0px 3px;
}

.button-image-right {
	background: url(chrome://global/skin/button-normal-right.gif) no-repeat;
	width				: 4px;
	height				: 20px;
}

.button-top-spring {
	height				: 2px;
}

.button-bottom-spring {
	height				: 3px;
}

button:hover:active {
	color				: #FFFFFF
}

button:hover:active > .button-image-left {
	background			: url(chrome://global/skin/button-pressed-left.gif) no-repeat;
}

button:hover:active > .button-image-middle {
	background			: url(chrome://global/skin/button-pressed-middle.gif) repeat-x;
}

button:hover:active > .button-image-right {
	background			: url(chrome://global/skin/button-pressed-right.gif) no-repeat;
}

button[disabled="true"]:hover:active > .button-image-left,
.button-image-left[disabled="true"] {
	background			: url(chrome://global/skin/button-disabled-left.gif) no-repeat;
}

button[disabled="true"]:hover:active > .button-image-middle,
.button-image-middle[disabled="true"] {
	background			: url(chrome://global/skin/button-disabled-middle.gif) repeat-x;
}

button[disabled="true"]:hover:active > .button-image-right,
.button-image-right[disabled="true"] {
	background			: url(chrome://global/skin/button-disabled-right.gif) no-repeat;
}

/** Styles for "DEFAULT" buttons (usually 'OK' or equivalent in dialogs. 
 *  To activate, set 'default' attribute on button.
 **/

button[default="true"] {
	min-width			: 66px;
	padding				: 0px;
}

.button-image-left[default="true"] {
	background: url(chrome://global/skin/button-def-normal-left.gif) no-repeat;
	width				: 7px;
	height				: 26px;
}

.button-image-middle[default="true"] {
	background			: url(chrome://global/skin/button-def-normal-middle.gif) repeat-x;
}

.button-image-right[default="true"] {
	background: url(chrome://global/skin/button-def-normal-right.gif) no-repeat;
	width				: 7px;
	height				: 26px;
}

.button-image-middle[default="true"] > .button-top-spring {
	height				: 3px;
}

.button-image-middle[default="true"] > .button-bottom-spring {
	height				: 2px;
}


button:hover:active > .button-image-left[default="true"] {
	background			: url(chrome://global/skin/button-def-pressed-left.gif) no-repeat;
}

button:hover:active > .button-image-middle[default="true"] {
	background			: url(chrome://global/skin/button-def-pressed-middle.gif) repeat-x;
}

button:hover:active > .button-image-right[default="true"] {
	background			: url(chrome://global/skin/button-def-pressed-right.gif) no-repeat;
}

button[default="true"][disabled="true"]:hover:active > .button-image-left,
.button-image-left[default="true"][disabled="true"] {
	background			: url(chrome://global/skin/button-def-disabled-left.gif) no-repeat;
}

button[default="true"][disabled="true"]:hover:active > .button-image-middle,
.button-image-middle[default="true"][disabled="true"] {
	background			: url(chrome://global/skin/button-def-disabled-middle.gif) repeat-x;
}

button[default="true"][disabled="true"]:hover:active > .button-image-right,
.button-image-right[default="true"][disabled="true"] {
	background			: url(chrome://global/skin/button-def-disabled-right.gif) no-repeat;
}


/**
 * Reorder buttons 
 **/
   
  .reorder-up
    {
      min-width           : 0px;
      list-style-image    : url("chrome://global/skin/scroll-up.gif");
    }    
    
  .reorder-down
    {
      min-width           : 0px;
      list-style-image    : url("chrome://global/skin/scroll-down.gif");
    }    
    
  .reorder-up > .button-internal-box > .button-icon,
  .reorder-down > .button-internal-box > .button-icon
    {
      margin              : none;
      padding             : none;
    }
    
    
