/* stylesheet for XUL <checkbox> element */

/* default checkbox for dialogs */

/* outer checkbox frame */
  checkbox 
    {
      margin: 3px 5px 3px 5px;
      -moz-user-focus: ignore;
    }

/* checkmark outer frame */
  checkbox > .internal-box > .checkmark-box 
    {
      margin-top: 2px;
      margin-right: 2px;
    }

  checkbox[disabled="true"] > .internal-box > .checkmark-box,
  checkbox[disabled="true"]:hover > .internal-box > .checkmark-box 
    {
    }
    
/* checkmark inner frame */
  checkbox > .internal-box > .checkmark-box > .checkbox-check 
    {
      list-style-image: url(chrome://global/skin/check-cb-uncheck.gif);
    }
  
  checkbox[checked="true"] > .internal-box > .checkmark-box > .checkbox-check 
    {
      list-style-image: url(chrome://global/skin/check-cb-check.gif);
    }
    
  checkbox[checked="true"][disabled="true"] > .internal-box > .checkmark-box > .checkbox-check
    {
      list-style-image: url(chrome://global/skin/check-cb-check-disable.gif);
    }  

  checkbox:hover:active > .internal-box > .checkmark-box > .checkbox-check 
    {
      list-style-image: url(chrome://global/skin/check-cb-uncheck-active.gif);  
    }
  
  checkbox[disabled="true"] > .internal-box > .checkmark-box > .checkbox-check
    {
  	  list-style-image: url(chrome://global/skin/check-cb-uncheck-disable.gif);  
    }

  checkbox[checked="true"]:hover:active > .internal-box > .checkmark-box > .checkbox-check 
    {
      list-style-image: url(chrome://global/skin/check-cb-check-active.gif);
    }

  checkbox > .internal-box > .checkbox-icon 
    {
      list-style-image: inherit;
    }
    
/* checkmark label/icon frame */
  checkbox[value] > .internal-box > html
    {
      margin: 0px 0px 2px 0px;
      padding: 2px 0px 0px 0px;   /* 7pt: 2px 0px 0px 1px */
    }

  checkbox[disabled="true"][value] > .internal-box > html 
    {
      color: #777777;
    }
