
colorpicker[type="button"] {
  max-width: 35px;
  max-height: 20px;
  min-width: 35px;
  min-height: 20px;
  border: 1px solid #000000;
}

.colorpicker-button-menu {
  max-width: 33px;
  max-height: 18px;
  min-width: 33px;
  min-height: 18px;
  padding: 2px;
  border: 1px solid transparent;
}

.colorpicker-button-menu[open="true"] {
  border-color: #000000;
}

.colorpicker-button-colorbox {
  max-width: 27px;
  max-height: 12px;
  min-width: 27px;
  min-height: 12px;
  border: 1px solid #000000;
}
