/** this should only contain XUL dialog and document window widget defaults. Defaults for widgets of
    a particular application should be in that application's style sheet.
	For example style definitions for navigator can be found in navigator.css

   THIS FILE IS LOCKED DOWN.  YOU ARE NOT ALLOWED TO MODIFY IT WITHOUT FIRST HAVING YOUR
   CHANGES REVIEWED BY hyatt@netscape.com.
**/

/* import the widget style sheets */

/* all localizable skin settings shall live here */
@import url(chrome://global/locale/intl.css);

@import url(chrome://global/skin/box.css);
@import url(chrome://global/skin/button.css);
@import url(chrome://global/skin/checkbox.css);
@import url(chrome://global/skin/radio.css);
@import url(chrome://global/skin/tree.css);
@import url(chrome://global/skin/splitter.css);
@import url(chrome://global/skin/radio.css);
@import url(chrome://global/skin/menubutton.css);
@import url(chrome://global/skin/menulist.css);
@import url(chrome://global/skin/menu.css);
@import url(chrome://global/skin/formatting.css);
@import url(chrome://global/skin/textfield.css);
@import url(chrome://global/skin/toolbar.css);
@import url(chrome://global/skin/tabcontrol.css);
@import url(chrome://global/skin/colorpicker.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/1999/xhtml"); 


/**  
 * XUL <window> element
 **/
  window 
    { 
      background-color    : #DDDDDD;
      padding             : 0px;
      font				        : 10px geneva;
    }
  
  window[wait-cursor] 
    { 
      cursor              : wait !important; 
    }
  
  window.dialog 
    { 
      background-color    : #DDDDDD;
      padding             : 7px 5px 5px 5px;
    }

  window.non-resizable-dialog
    {
      border-left         : 1px solid #FFFFFF;
      border-top          : 1px solid #FFFFFF;
      border-right        : 1px solid #DDDDDD;
      border-bottom       : 1px solid #DDDDDD;    
    }

  window.non-resizable-dialog.modal
    {
      border              : none;
    }
  
/**
 * XUL <box> debugging
 **/
  :-moz-horizontal-box-debug 
    {
      border              : 2px solid blue;
      border-top-width    : 10px;
      padding             : 2px;
      margin              : 2px;
      color               : #000000;
    }
  
  :-moz-vertical-box-debug 
    {
      border              : 2px solid red;
      border-left-width   : 10px;
      padding             : 2px;
      margin              : 2px;
      color               : #000000;
    }

/**
 * Utility icons (used for alert dialogs, etc)
 **/
  .message-icon 
    {
      list-style-image    : url("chrome://global/skin/message-icon.gif");
    }

  .alert-icon 
    {
      list-style-image    : url("chrome://global/skin/alert-icon.gif");
    }
  
  .error-icon 
    {
      list-style-image    : url("chrome://global/skin/error-icon.gif");
    }
  
  .question-icon 
    {
      list-style-image    : url("chrome://global/skin/question-icon.gif");
    }

/**
 * status-bar
 */

  statusbar
    {
      background-color    : #DDDDDD;
      overflow            : hidden;
      min-width           : 1px;
      border-right        : 1px solid #FFFFFF;
      border-left         : 1px solid #9D9D9D;
      border-bottom       : 1px solid #FFFFFF;
      min-width			  : 1px;      // DON'T DELETE.  Removes disappearance of scrollbars in content pane when window is made smaller.
									  // Talk to evaughan@netscape.com for details.
    }
  
  statusbarpanel
    {
      border-left         : 1px solid #FFFFFF;
      border-top          : 1px solid #FFFFFF;
      border-right        : 1px solid #9D9D9D;
      border-bottom       : 1px solid #9D9D9D;
      padding             : 0px 4px 0px 4px;
    }
    
  .statusbarpanel-icononly
    {
      padding             : 0px;
    }
    
  .statusbar-panel-icon
    {
      list-style-image    : inherit;
    }

/**
 * html|iframe default sizing 
 **/
  html|iframe 
    {
      min-width           : 10px;
      min-height          : 10px;
      width               : 100px;
      height              : 100px;
      border              : none;
    }

/** 
 * XUL <progressmeter> 
 **/
  progressmeter[mode="undetermined"] > .progressmeter-internal-box
    {
      background-image    : url(chrome://global/skin/progressmeter-busy.gif);
    }
 
  progressmeter[mode="undetermined"] > .progressmeter-internal-box > .progressmeter-stack > .progressmeter-progressbar {
      visibility: collapse;
  }

  progressmeter 
    {
      min-width           : 100px;
      margin              : 0px 4px 0px 4px;
      border-top          : 1px solid #AAAAAA;
      border-left		  : 1px solid #AAAAAA;
      border-right		  : 1px solid #FFFFFF;
      border-bottom		  : 1px solid #FFFFFF;
    }

  progressmeter > .progressmeter-internal-box 
    {
      border              : 1px solid #000000;
      max-height		  : 12px;
    }
    
  .progressmeter-statusbar 
    {
      border-left         : 1px solid #FFFFFF;
      border-top          : 1px solid #FFFFFF;
      border-right        : 1px solid #9D9D9D;
      border-bottom       : 1px solid #9D9D9D;
      margin              : 0px;
    }
    
  .progressmeter-statusbar > .progressmeter-internal-box
    {
      border              : 1px solid #DDDDDD;
    }  

/* progress indicators */
  .progress-bar 
    {
      background-color	  : #9999FF;
	  background-image    : url(chrome://global/skin/progressmeter-bar.gif);
	  border-left		  : 1px solid #6666CC;
	  border-right		  : 1px solid #000000;
    }
  
  .progressmeter-progressbar[value="0"] > .progress-bar,
  .progressmeter-progressbar[value="100"] > .progress-bar
    {
      display			  : none;
    } 
  
  .progressmeter-progressbar
    {
  	  max-height		  : 10px;  
    }
    
/* No progress text in mac status bars */
  .progress-text 
    {
      display				: none;
    }

/** XUL <scrollbar> element **/
  scrollbar 
    { 
      -moz-user-focus     : ignore; 
    } 


/* XUL <colorpicker> pieces */
.colorpickertile 
  {
    width                 : 20px;
    height                : 20px;
    margin                : 1px;
    border                : 1px inset #CCCCCC;
  }

.colorpickertile:hover 
  {
    border                : 1px solid #FFFFFF;
  }

.colorpickertile[selected="true"] 
  {
    border                : 1px solid #000000;
  }
