
/* NEW WIDGET LANDING: <menulist> popup */

/* outer frame */
  menulist 
    {
      padding             : 0px;
      border              : 1px solid #000000;
      background-color    : #DDDDDD;
      -moz-border-radius  : 4px;
      margin              : 1px 5px 2px 5px;
      -moz-user-focus		  : ignore;
    }

  menulist[open="true"] 
    {
      background-color	  : #666666;
    }
  
  menulist[disabled="true"]
    {
      border              : 1px solid #888888;
      color               : #777777;
    }
    
/* icon display frame */
  menulist > .menu-icon 
    {
      border			  : none;
      padding             : 0px;
    }  

  menulist[open="true"] > .menu-icon 
    {
	  border			  : none;
      padding             : 0px;
    }
    
/* text display frame */
  menulist > .menu-text 
    {
      color				  : #000000;
      padding             : 0px 4px;
      margin	          : 0px;
      border-top		  : 1px solid #FFFFFF;
      border-bottom		  : 1px solid #AAAAAA;
      border-left		  : 1px solid #FFFFFF;
      border-right		  : 1px solid #AAAAAA;
      -moz-border-radius  : 3px 2px 2px 2px;  /* Three pixels may be rounding error? */
    }
    
   menulist[open="true"] > .menu-text 
    {
      color				  : #FFFFFF;
      border-top		  : 1px solid #444444;
      border-bottom		  : 1px solid #888888;
      border-left		  : 1px solid #444444;
      border-right		  : 1px solid #888888;
    }
    
/* drop marker display frame */
  menulist > .menu-dropmarker 
    {
      border			  : none;
      list-style-image    : url("chrome://global/skin/menulist-scroll.gif");
      padding             : 0px;
    }
  
  menulist[disabled="true"] > .menu-dropmarker
    {
      list-style-image    : url("chrome://global/skin/menulist-scroll-disabled.gif");
    }

  menulist[open="true"] > .menu-dropmarker 
    {
      padding             : 0px;
      list-style-image	  : url("chrome://global/skin/menulist-scroll-active.gif");
    }

/** rules for EDITABLE menulists (aka 'comboboxes'). 
 **/

/* outer frame */
  menulist[editable="true"] 
    {
      padding             : 0px;
    }

/* icon display frame */
  menulist[editable="true"] > .menu-icon 
    {
      list-style-image    : url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
      background-color    : white;
      padding             : 1px;
      border-left         : 1px inset #CCCCCC;
      border-top          : 1px inset #CCCCCC;
      border-right        : none;
      border-bottom       : 1px inset #CCCCCC;
    }

/* text display frame */    
  menulist[editable="true"] > .menu-text 
    {
      border-left         : none;
      border-top          : 1px inset #CCCCCC;
      border-right        : 1px inset #CCCCCC;
      border-bottom       : 1px inset #CCCCCC;
      margin              : 0px 2px 0px 0px;
    }

/* drop marker display frame */
  menulist[editable="true"] > .menu-dropmarker 
    {
      border              : 1px outset #CCCCCC;
    }

  menulist[editable="true"][open="true"] > .menu-dropmarker 
    {
      border              : 1px inset #CCCCCC;
    }

/* rules for popups and separators associated with menulists */
  menulist > menupopup 
    {
      border-left           : thin solid white;
      border-top            : thin solid white;
      border-right          : 3px ridge black;
      border-bottom         : 3px ridge black;
      background-color	    : #DDDDDD;
      min-width				: 0px;
    }
  
  menulist > menupopup > menuitem
  	{
  	  font: 10px geneva;
  	  min-width: 0px;
  	  max-width: none;
  	  padding: 0px 4px !important;
  	}

  menulist > menupopup > menuitem > .menu-iconic-left
    {
      width               : 10px;
      margin			  : 0px 5px 0px -6px;
      padding-left		  : 0px;
  	}
  
  menulist > menupopup > menuitem[menuactive="true"][selected="true"]
    {
      list-style-image    : url(chrome://global/skin/menulist-select-dot-active.gif);
      margin-right		  : 3px;
    }
  
  menulist > menupopup > menuitem[selected="true"]
    {
      list-style-image    : url(chrome://global/skin/menulist-select-dot.gif);
      margin-right		  : 3px;
    }
