 
menubar 
  {
    background-color      : white;
  }

menubar > toolbargrippy 
  {
    display               : none;
  }

menu, menuitem  
  {
    color                 : #000000;
	vertical-align        : middle;
  }

menuitem 
  {
	padding	: 0px !important; 
  }

menu[disabled="true"], menuitem[disabled="true"],
menu[menuactive="true"][disabled="true"],
menuitem[menuactive="true"][disabled="true"]
  {
	color                 : #777777;
  }

/* XXX menupopups have to have a color explicitly specified. this is a bug */
menupopup, popup 
  {
    background-color      : #DDDDDD;
    border-left           : thin solid white;
    border-top            : thin solid white;
    border-right          : 3px ridge black;
    border-bottom         : 3px ridge black;
    -moz-user-focus			  : ignore;
  }

menupopup > menu, popup > menu,
menupopup > menuitem, popup > menuitem
  {
    font				  : 12px charcoal;
    max-width             : 250px;
    min-width             : 0px;
    padding 			  : 0px;
  }

/* Don't display grayed items in the contextual popup menus */
/* BUGGY: DON'T UNCOMMENT UNTIL BUG #46005 IS RESOLVED (7/20/00)
popup > menuitem[disabled="true"], popup > menu[disabled="true"] 
  {
  	display				  : none;
  }
*/

menuseparator 
  {
  	border-top			  : 1px solid #888888;
    border-bottom         : 1px solid white; 
    margin                : 2px 0px 2px 0px;
  }

menubar > menu 
  {
    border                : 1px solid #FFFFFF;
    padding               : 2px 3px 2px 3px;
    margin                : 2px 0px 2px 0px;
  }

menubar > menu[menuactive="true"] 
  {
    border                : 1px solid #CCCCCC;
    background-color      : #CCCCCC;
    -moz-border-radius    : 4px;
  }

menubar > menu[menuactive="true"][open="true"] 
  {
    border                : 1px solid #DDDDDD;
    border-bottom         : 1px solid #CCCCCC;
    background-color      : #CCCCCC;
    -moz-border-radius    : 4px 4px 0px 0px;
  }

menupopup > menu[menuactive="true"],
menupopup > menuitem[menuactive="true"],
popup > menu[menuactive="true"],
popup > menuitem[menuactive="true"]
  {
    background-color      : #333399;   /* Would bE GREAT IF HAD ACCESS TO MAC SYSTEM COLORS */
  	color				  : white;
  }


/** 
 * Atomic sub-parts of standard menus
 **/
.menu-right 
  {
    margin                : -1px 3px 1px 6px;
    width                 : 8px;
    text-align            : center;
    list-style-image      : url("chrome://global/skin/menu-arrow.gif");
  }

.menu-iconic-left 
  {
    color                 : inherit;
    margin                : 0px 5px 0px 1px;
    width                 : 11px;
    text-align            : center;
    list-style-image      : inherit;
    padding-left          : 16px;
  }

/**This is a workaround for bug 46231 and should be removed when that bug is fixed*/
menuitem[type="checkbox"] > .menu-iconic-left, menuitem[type="radio"] > .menu-iconic-left 
  {
    color                 : inherit;
    margin                : 0px 10px 0px 0px;
    width                 : 11px;
    text-align            : center;
    list-style-image      : inherit;
    padding-left		  : 2px;
  }
/**end of workaround*/

.menubar-left 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }

.menu-iconic-text, .menu-iconic-accel, .menu-text, .menu-accel 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }
  


.menu-text 
  {
    padding-left          : 20px;
  }

.menu-accel 
  {
    margin-left           : 4px;
    padding-right         : 14px;
  }

menuitem > .menu-accel
  {
  	margin : 0px;
  	padding-right : 9px;
  }

.menu-iconic-accel 
  {
    margin-left           : 4px;
  }

.menubar-text 
  {
    color                 : inherit;
    margin-right          : 2px;
  }

menuitem[checked="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check.gif");
    margin-right		  : 3px;
  }

menuitem[checked="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check-disabled.gif");
    margin-right		  : 3px;
  }

menuitem[checked="true"][menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check-hover.gif");
    margin-right		  : 3px;
  }

.menu-right[disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-hover.gif");
  }

/** Tooltips (tooltip <popup> element)
 *  class="tooltip"
 **/
.tooltip
  {
    background-color      : #FFFFCC;
    border                : none;
    color                 : #000000;
    font                  : 9px geneva;
    padding               : 0px 5px 3px 4px;
    margin				  : 0px;
  }

.tooltip > .popup-internal-box
  {
  	border: none;
  	padding: 0px;
  }
  
/*
 * Autorepeatbutton
 */
.autorepeatbutton-up {
    list-style-image: url("chrome://global/skin/arrow-med-up.gif")
}

.autorepeatbutton-down {
    list-style-image: url("chrome://global/skin/arrow-med-down.gif")
}

autorepeatbutton {
  text-align: left;
  vertical-align: middle;
}

autorepeatbutton:hover {
  background-color      : #333399;
}

autorepeatbutton > .autorepeatbutton-up {
    padding: 2px 0px 4px 17px;
}

autorepeatbutton:hover > .autorepeatbutton-up {
    list-style-image: url("chrome://global/skin/arrow-med-up-hover.gif")
}

autorepeatbutton > .autorepeatbutton-down {
    padding: 4px 0px 2px 17px;
}

autorepeatbutton:hover > .autorepeatbutton-down {
    list-style-image: url("chrome://global/skin/arrow-med-down-hover.gif")
}
