.menubutton-dual,
.menubutton-dual[disabled="true"]:hover,
.menubutton-dual[disabled="true"]:hover:active,
.menubutton-dual[buttondown="true"][disabled="true"],
.menubutton-dual[buttonover="true"][disabled="true"]
  {
    -moz-binding          : url("chrome://global/skin/menubuttonBindings.xml#menubutton-toolbar-top");
    border                : 1px solid transparent;
    margin				  : 0px 2px;
  }

.menubutton-dual[disabled="true"]
  {
  	color                 : #777777;
  }

.menubutton-dual:hover,
.menubutton-dual[open="true"],
.menubutton-dual[buttonover="true"],
.menubutton-dual[buttondown="true"]
  {
    border                : 1px solid #000000;
  }

.classic-dropmarker-box,
.menubutton-dual:hover > .classic-dropmarker-box[disabled="true"],
.menubutton-dual:hover:active > .classic-dropmarker-box[disabled="true"],
.menubutton-dual[disabled="true"][buttonover="true"] > .classic-dropmarker-box
  {
    border                : 1px solid transparent;
  }
  
.menubutton-dual:hover > .classic-dropmarker-box 
  {
    border-left           : 1px solid #FFFFFF;
    border-top            : 1px solid #FFFFFF;
    border-right          : 1px solid #9D9D9D;
    border-bottom         : 1px solid #9D9D9D;
  } 
  
.menubutton-dual[open="true"] > .classic-dropmarker-box
  {
    border-left           : 1px solid #444444;
    border-top            : 1px solid #444444;
    border-right          : 1px solid #AAAAAA;
    border-bottom         : 1px solid #AAAAAA;
    background-color      : #666666;
  }

.classic-simplebutton:hover:active
  {
    border-left           : 1px solid #444444 !important;
    border-top            : 1px solid #444444 !important;
    border-right          : 1px solid #AAAAAA !important;
    border-bottom         : 1px solid #AAAAAA !important;
    padding               : 3px 2px 1px 1px;
    color				  : #FFFFFF;
    background-color	  : #666666 !important;
  } 

.classic-simplebutton,
.classic-simplebutton[disabled="true"],
.classic-simplebutton[disabled="true"]:hover,
.classic-simplebutton[disabled="true"]:hover:active,
.menubutton-dual[disabled="true"]:hover > .classic-simplebutton,
.menubutton-dual[disabled="true"]:hover:active > .classic-simplebutton,
.menubutton-dual[buttonover="true"][disabled="true"] > .classic-simplebutton
  {
    -moz-binding          : url("chrome://global/skin/menubuttonBindings.xml#buttontop");
    margin                : 0px;
    border                : 1px solid transparent !important;
    min-width             : 0px;
    padding               : 2px 1px 2px 2px;
    text-align            : center;
    color				  : #777777;
    background-color	  : transparent !important;
  }

.classic-simplebutton
  {
  	color                 : #000000;
  }


.classic-simplebutton:hover,
.menubutton-dual:hover > .classic-simplebutton,
.menubutton-dual[open="true"] > .classic-simplebutton
  {
    border-left           : 1px solid #FFFFFF !important;
    border-top            : 1px solid #FFFFFF !important;
    border-right          : 1px solid #9D9D9D !important;
    border-bottom         : 1px solid #9D9D9D !important;
  }  
    
.classic-dropmarker
  {
    list-style-image      : url("chrome://global/skin/dropmarker-down-on.gif");
  }  
  
.classic-dropmarker:hover
  {
    list-style-image      : url("chrome://global/skin/dropmarker-down-on-hover.gif");
  }    
  
.classic-dropmarker:hover:active
  {
    list-style-image      : url("chrome://global/skin/dropmarker-down-on-active.gif");
  }    
  
.classic-dropmarker[disabled="true"]
  {
    list-style-image      : url("chrome://global/skin/dropmarker-down-disabled.gif");
  }  
  
.menubutton-icon 
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#menubutton-icon");
    border                : 1px solid #000000;
    -moz-border-radius    : 2px;
    background-color      : #DDDDDD;
  }
  
.menubutton-icon:hover:active, .menubutton-icon[open="true"] 
  {
    background-color      : #333333;
  }

.menubutton-icon-box
  {
    border-left           : 1px solid #FFFFFF;
    border-top            : 1px solid #FFFFFF;
    border-right          : 1px solid #9D9D9D;
    border-bottom         : 1px solid #9D9D9D;
  }
  
.menubutton-icon-image 
  {
    list-style-image      : inherit;
  }
