/* stylesheet for XUL <radio> element */

/* default radio for dialogs */
/* outer frame */
  radio 
    {
      margin: 3px 5px 3px 5px;
      -moz-user-focus: ignore;
    }


/* checkmark outer frame */
  radio > .internal-box > .checkmark-box 
    {
      margin-top: 2px;
    }

  radio[disabled="true"] > .internal-box > .checkmark-box,
  radio[disabled="true"]:hover > .internal-box > .checkmark-box 
    {
    }


/* checkmark inner frame */

  radio > .internal-box > .checkmark-box > image 
    {
	  list-style-image: url(chrome://global/skin/check-radio-uncheck.gif);
    }

  /* ensure that no list-style-image is inherited in from the Outside */
  .checkmark-box
    {
      list-style-image: none;
    }

  radio[checked="true"] > .internal-box > .checkmark-box > image 
    {
      list-style-image: url(chrome://global/skin/check-radio-check.gif);
    }
  
  radio[checked="true"][disabled="true"] > .internal-box > .checkmark-box > image
    {
      list-style-image: url(chrome://global/skin/check-radio-check-disable.gif);
    }

  radio[checked="true"]:hover:active > .internal-box > .checkmark-box > image
    {
  	  list-style-image: url(chrome://global/skin/check-radio-check-active.gif);  
    }

  radio:hover:active > .internal-box > .checkmark-box > image 
    {
      list-style-image: url(chrome://global/skin/check-radio-uncheck-active.gif);
    }
  
  radio[disabled="true"] > .internal-box > .checkmark-box > image
    {
      list-style-image: url(chrome://global/skin/check-radio-uncheck-disable.gif);
    }

/* text/icon frames */
  radio[value] > .internal-box > html,
  radio.iconic > .internal-box > .icon 
    {
      /* Good for 10px font */
      margin:  0px 0px 0px 2px;  /* 9px: 0px 0px 0px 3px */
      padding:  2px;              /* 9px:  1px 2px 2px 2px */
    }

  radio.iconic > .internal-box > html 
    {
      margin-left: 2px;
    }
    
  radio[disabled="true"][value] > .internal-box > html 
    {
      color: #777777;
    }
