@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); /* set default namespace to XUL */

/********* XP Scrollbar *********/

scrollbar {
   -moz-binding: url("chrome://global/skin/classicBindings.xml#scrollbar");
   border-top: 1px solid black;
}

scrollbar[align="vertical"] {
    border-right: 1px solid #000000;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid #000000;
}

slider {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   background-color: #AAAAAA;
   background-image: url("chrome://global/skin/slider-bg-horiz.gif");
}

slider[align="vertical"] {
   background-image: url("chrome://global/skin/slider-bg-vert.gif");
}

scrollbarbutton {
  display: inline;
  -moz-user-focus: ignore;
  -moz-user-select: none;
}

scrollbar[value="hidden"] {
   visibility: hidden;
   -moz-user-focus: ignore;
   -moz-user-select: none;
}

thumb {
  -moz-binding: url("chrome://global/skin/classicBindings.xml#thumb");
  -moz-user-focus: ignore;
  -moz-user-select: none;
  background-color: #9999FF;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  list-style-image: url("chrome://global/skin/scroll-thumb-horiz.gif");
}

.thumb-border {
  border-right: 1px solid rgb(40%,40%,80%);      /* #6666CC */
  border-bottom: 1px solid rgb(40%,40%,80%);      /* #6666CC */
  border-top: 1px solid rgb(80%,80%,100%);         /* #CCCCFF */
  border-left: 1px solid rgb(80%,80%,100%);         /* #CCCCFF */
}

thumb:active > .thumb-border {
  border-right: 1px solid #333399;
  border-bottom: 1px solid #333399;
  border-top: 1px solid #9999FF;
  border-left: 1px solid #9999FF;
}

thumb:active {
	background-color: #6666CC;
	list-style-image: url("chrome://global/skin/scroll-thumb-horiz-active.gif");
}

thumb[disabled="true"] {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: none;
}

thumb[align="vertical"] {
  list-style-image: url("chrome://global/skin/scroll-thumb-vert.gif");
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: none;
  border-right: none;
}

thumb[align="vertical"]:active {
	background-color: #6666CC;
	list-style-image: url("chrome://global/skin/scroll-thumb-vert-active.gif");
}

scrollbarbutton {
  -moz-user-focus: ignore;
  -moz-user-select: none;
  vertical-align: bottom;
  cursor: default;
}

scrollbarbutton:hover:active {
  -moz-user-focus: ignore;
  -moz-user-select: none;
}

scrollbarbutton[type="decrement"] {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-left.gif");
   border-right: 1px solid black;
}

scrollbarbutton[type="decrement"]:hover:active {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-left-active.gif");
}

scrollbarbutton[type="decrement"][disabled="true"],
scrollbarbutton[type="decrement"][disabled="true"]:hover:active {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-left-disabled.gif");
}

scrollbarbutton[type="increment"] {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-right.gif");
   border-left: 1px solid black;
   border-right: 1px solid black;
}

scrollbarbutton[type="increment"]:hover:active {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-right-active.gif");
}

scrollbarbutton[type="increment"][disabled="true"],
scrollbarbutton[type="increment"][disabled="true"]:hover:active {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-right-disabled.gif") 
}

scrollbar[align="vertical"] > scrollbarbutton {
    border-left: none;
    border-right: none;
}

scrollbar[align="vertical"] > scrollbarbutton[type="decrement"] {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-up.gif");
   border-bottom: 1px solid black;
}

scrollbar[align="vertical"] > scrollbarbutton[type="decrement"]:hover:active {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-up-active.gif");
}


scrollbar[align="vertical"] > scrollbarbutton[type="decrement"][disabled="true"],
scrollbar[align="vertical"] > scrollbarbutton[type="decrement"][disabled="true"]:hover:active {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-up-disabled.gif");
}

scrollbar[align="vertical"] > scrollbarbutton[type="increment"] {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-down.gif");
   border-top: 1px solid black;
   border-bottom: 1px solid black;
}

scrollbar[align="vertical"] > scrollbarbutton[type="increment"]:hover:active {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-down-active.gif");
}

scrollbar[align="vertical"] > scrollbarbutton[type="increment"][disabled="true"],
scrollbar[align="vertical"] > scrollbarbutton[type="increment"][disabled="true"]:hover:active {
   -moz-user-focus: ignore;
   -moz-user-select: none;
   list-style-image: url("chrome://global/skin/scroll-down-disabled.gif");
}
