/********** Tab widget *********/
/*******************************/
/* This Mac-specific CSS styles tabs that are located on the top of their content,
 * as Macintosh tabs generally are.  An example of using bottom tab images can be 
 * found in EditorToolbar.css in classic/editor/.
 *******************************/

/*** TAB: TOP <tab> ***/

tab { 
  -moz-binding		: url(chrome://global/skin/classicBindings.xml#tab);
  color				: #000000; 
  padding			: 0px;
}

.tab-image-left {
  background		: url(chrome://global/skin/tab-unselect-left.gif) no-repeat;
  width				: 11px;
  height			: 24px;
}

.tab-image-middle {
  background		: url(chrome://global/skin/tab-unselect-middle.gif) repeat-x;
}

.tab-image-right {
  background		: url(chrome://global/skin/tab-unselect-right.gif) no-repeat;
  width				: 12px;
  height			: 24px;
}

.tab-text {
  padding			: 3px 0px 6px 0px;
  font				: 12px charcoal;
}

tab:hover:active {
  color				: #FFFFFF;
}

tab:hover:active > .tab-image-left { 
  background		: url(chrome://global/skin/tab-unselect-active-left.gif) no-repeat;
}

tab:hover:active > .tab-image-middle { 
  background		: url(chrome://global/skin/tab-unselect-active-middle.gif) repeat-x;
}

tab:hover:active > .tab-image-right { 
  background		: url(chrome://global/skin/tab-unselect-active-right.gif) no-repeat;
}


/* when a tab is selected this is how it should look */
tab:hover:active[selected="true"],  tab:hover:active[selected="1"]{
	color			: #000000;
}

tab[selected="true"] > .tab-image-left,
tab:hover:active[selected="true"] > .tab-image-left { 
  background		: url(chrome://global/skin/tab-select-left.gif) no-repeat;
}

tab[selected="true"] > .tab-image-middle,
tab:hover:active[selected="true"] > .tab-image-middle { 
  background		: url(chrome://global/skin/tab-select-middle.gif) repeat-x;
}

tab[selected="true"] > .tab-image-right,
tab:hover:active[selected="true"] > .tab-image-right { 
  background		: url(chrome://global/skin/tab-select-right.gif) no-repeat;
}

.tab-border-top-left {
  background		: url(chrome://global/skin/tab-border-top.gif) repeat-x bottom;
  width				: 2px;
}

.tab-border-top-left-cap {
  background		: url(chrome://global/skin/tab-border-top-left-cap.gif) no-repeat bottom;
  width				: 2px;
}

.tab-border-top-right {
  background		: url(chrome://global/skin/tab-border-top.gif) repeat-x bottom;
}

.tab-border-top-right-cap {
  background		: url(chrome://global/skin/tab-border-top-right-cap.gif) no-repeat bottom;
  width				: 2px;
}

tabbox {
  -moz-binding		: url(chrome://global/skin/classicBindings.xml#tabbox);
  padding			: 0px;
}

/*** TAB: BOTTOM <tab class="tab-bottom"> ***/
/* Found in editor.xul & editorOverlay.xul 
 * SMALL TABS FOR NOW */

.tab-bottom > .tab-image-middle > .tab-text {
	font			: 10px geneva;
	font-weight		: bold;
}

.tab-bottom > .tab-image-left {
  background		: url(chrome://global/skin/tab-sm-bot-unsel-left.gif) no-repeat;
  width				: 11px;
  height			: 19px;
}

.tab-bottom > .tab-image-middle {
  background		: url(chrome://global/skin/tab-sm-bot-unsel-mid.gif) repeat-x;
}

.tab-bottom > .tab-image-right {
  background		: url(chrome://global/skin/tab-sm-bot-unsel-right.gif) no-repeat;
  width				: 11px;
  height			: 19px;
}

.tab-bottom > .tab-image-middle > .tab-text {
  padding			: 4px 0px 1px 0px;
}

.tab-bottom:hover:active > .tab-image-left { 
  background		: url(chrome://global/skin/tab-sm-bot-unsel-acti-left.gif) no-repeat;
}

.tab-bottom:hover:active > .tab-image-middle { 
  background		: url(chrome://global/skin/tab-sm-bot-unsel-acti-mid.gif) repeat-x;
}

.tab-bottom:hover:active > .tab-image-right { 
  background		: url(chrome://global/skin/tab-sm-bot-unsel-acti-right.gif) no-repeat;
}

/* when a tab is selected this is how it should look */

.tab-bottom[selected="1"] > .tab-image-left,
.tab-bottom:hover:active[selected="1"] > .tab-image-left { 
  background		: url(chrome://global/skin/tab-sm-bot-sel-left.gif) no-repeat;
}

.tab-bottom[selected="1"] > .tab-image-middle,
.tab-bottom:hover:active[selected="1"] > .tab-image-middle { 
  background		: url(chrome://global/skin/tab-sm-bot-sel-mid.gif) repeat-x;
}

.tab-bottom[selected="1"] > .tab-image-right,
.tab-bottom:hover:active[selected="1"] > .tab-image-right { 
  background		: url(chrome://global/skin/tab-sm-bot-sel-right.gif) no-repeat;
}

.tabbox-bottom > .tab-border-top-left {
  background		: url(chrome://global/skin/tab-border-bot.gif) repeat-x top;
  width				: 2px;
}

.tabbox-bottom > .tab-border-top-left-cap {
  background		: url(chrome://global/skin/tab-border-bot-left-cap.gif) no-repeat top;
  width				: 2px;
}

.tabbox-bottom > .tab-border-top-right {
  background		: url(chrome://global/skin/tab-border-bot.gif) repeat-x top;
}

.tabbox-bottom > .tab-border-top-right-cap {
  background		: url(chrome://global/skin/tab-border-bot-right-cap.gif) no-repeat top;
  width				: 2px;
}

    /* top tabs */
tabcontrol[align="vertical"] tabbox[align="horizontal"] tab { 
  padding: 0px;
  margin: 0px;
}

	/* bottom tabs */
tabcontrol[align="vertical"] tabpanel + tabbox[align="horizontal"] tab { 
  border-top: none;
  border-bottom: 1px solid #666666;
  border-left: 1px solid white;
  border-right: 1px solid #666666;
  -moz-border-radius: 0px 0px 8px 8px;
  padding: 1px 5px 3px 5px;
  margin: 1px 2px 1px 2px;
}

	/* left tabs */
tabcontrol[align="horizontal"] tabbox[align="vertical"] tab { 
  border-right: none;
  -moz-border-radius: 8px 0px 0px 8px;
  padding-right: 1px;
  margin: 2px 1px 2px 1px;
}

	/* right tabs */
tabcontrol[align="horizontal"] tabpanel + tabbox[align="vertical"]  tab { 
  border-top: 1px solid white;
  border-bottom: 1px solid #666666;
  border-left: none;
  border-right: 1px solid #666666;
  -moz-border-radius: 0px 8px 8px 0px;
  padding: 3px 5px 1px 5px;
  margin: 2px 1px 2px 1px;
}

tabcontrol { 
  border: none; 
}

/* border on bottom only, no padding (used in search) */
tabpanel.light {
  border: none;
  border-bottom: 1px outset #CCCCCC;
  padding: 0px;
}

tabpanel {
  border-top: 0px;
  border-bottom: 2px ridge #000000;
  border-left: 2px groove #000000;
  border-right: 2px ridge #000000;
  padding: 5px;
  background-color		: #EEEEEE;
}

