@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */

/** generic text fields (in dialogs)
 **/
 
/* outer frame */
  textfield
    {
      border              : 1px inset #DDDDDD;
      font                : inherit;
      color               : #000000;
      padding             : 0px;
      margin              : 1px 3px 2px 4px;
      background-color    : #FFFFFF;
      -moz-border-radius  : 3px 2px 2px 3px;
      cursor              : text;
    }
    
  textfield[readonly="true"]
    {
      background-color    : #FFFFFF;
    }
  
  textfield[focused="true"]
    {
      border              : 2px solid #6699cc;
      margin              : 0px 2px 1px 3px;
    }
    
  textfield[focused="true"][readonly="true"]
    {
      border              : 1px inset #CCCCCC;
      margin              : 1px 3px 2px 4px;
    }

/* internal frame */
  .textfield-internal-box 
    {
      margin              : 0px;
      padding             : 1px 2px 1px 2px;
      cursor              : text;
      border              : 1px solid #000000;
      background-color    : inherit;
      color               : inherit;
    }
  
  textfield[disabled="true"] > .textfield-internal-box
    {
      border              : 1px solid #999999;
    }
  
  .textarea-internal-box
    {
      padding             : 0px 0px 0px 2px;
    }
  
/* internal text widget */
  .textfield-input, .textfield-textarea
    {
      border              : none !important;
      margin              : 0px;
      font                : inherit;
      background-color    : inherit;
      color               : inherit;
    }

  textfield[disabled="true"] 
    {
      cursor              : default ! important;
    } 
    
/** plain atomic textfields, class="plain" **/
  textfield.plain, 
  textfield.plain > .textfield-internal-box, 
  textfield.plain > .textarea-internal-box
    {
      padding             : 0px !important;
      margin              : 0px !important;
      border              : none !important;
    }
