
toolbox
  {
    background-color      : #9D9D9D;
  }

.toolbox-top
  {
    border-bottom         : 1px solid #000000;
  }

toolbar
  {
    background-color      : #DDDDDD;
    min-width			  : 1px;      // DON'T DELETE.  Removes disappearance of scrollbars in content pane when window is made smaller.
									  // Talk to evaughan@netscape.com for details.
  }
  
.toolbar-holder
  {
    border-left           : 1px solid #FFFFFF;
    border-top            : 1px solid #FFFFFF;
    border-right          : 1px solid #9D9D9D;
    border-bottom         : 1px solid #9D9D9D;
  }  

toolbargrippy
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#toolbargrippy");
    background-color      : #DDDDDD;
    border-left           : 1px solid #FFFFFF;
    border-top            : 1px solid #FFFFFF;
    border-right          : 1px solid #9D9D9D;
    border-bottom         : 1px solid #9D9D9D;
    width                 : 12px;
  }

.toolbargrippy-twisty
  {
    list-style-image      : url("chrome://global/skin/toolbargrippy-twisty.gif");
    margin-top            : 2px;
  }

.toolbargrippy-texture
  {
    margin                : 5px 3px 1px 2px;
    background-image      : url("chrome://global/skin/toolbargrippy-texture.gif");
    background-position   : 50% 0%;
    background-repeat     : repeat-y;
  } 

toolbargrippy:hover
  {
    background-color      : #CCCCFF;
  }
  
toolbar[collapsed="true"] > toolbargrippy
  {
    width                 : 30px;
  }
  
toolbarseparator 
  { 
    width                 : 1px;
    border-left           : 1px solid #9D9D9D;
    border-right          : 1px solid #FFFFFF;
    margin                : 2px 0.2em 2px 0.2em;
  } 
