treecol[sortActive="true"] {
 background-color: lightgray;
}

treeitem[container="true"][open="true"][loading="true"] > treerow > treecell > titledbutton {
 list-style-image: url("resource:/res/rdf/loading.gif") ! important ;
}

treeitem[type="http://home.netscape.com/NC-rdf#Folder"] > treerow > treecell > titledbutton {
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-closed.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Folder"][open="true"] > treerow > treecell > titledbutton {
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-open.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Folder"][id="NC:PersonalToolbarFolder"] > treerow > treecell > titledbutton {
 list-style-image: url("chrome://communicator/skin/bookmarks/personal-folder-closed.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Folder"][id="NC:PersonalToolbarFolder"][open="true"] > treerow > treecell > titledbutton {
 list-style-image: url("chrome://communicator/skin/bookmarks/personal-folder-open.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#BookmarkSeparator"] > treerow > treecell > titledbutton {
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#IEFavorite"] > treerow > treecell > titledbutton {
 list-style-image: url("chrome://communicator/skin/bookmarks/ieFavorite.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Bookmark"] > treerow > treecell > titledbutton {
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#FileSystemObject"][container="true"][open="true"] > treerow > treecell > titledbutton {
 list-style-image: url("resource:/res/rdf/folder-open.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#FileSystemObject"][container="true"] > treerow > treecell > titledbutton {
 list-style-image: url("resource:/res/rdf/folder-closed.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#FileSystemObject"] > treerow > treecell > titledbutton {
 list-style-image: url("resource:/res/rdf/article.gif");
}

treeitem[container="true"][open="true"] > treerow > treecell > titledbutton {
 list-style-image: url("resource:/res/rdf/folder-open.gif");
}

treeitem[container="true"] > treerow > treecell > titledbutton {
 list-style-image: url("resource:/res/rdf/folder-closed.gif");
}

treeitem > treerow > treecell > titledbutton {
 list-style-image: url("resource:/res/rdf/document.gif");
}

titledbutton#bookmarks {
	list-style-image:url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}
