box.sidebartitle {
  background-color: #505888;
  padding: 2px 3px 3px 3px;
  border: 0px;
  margin: 0px;
  font: 10pt sans-serif;
}

box.panelbar {
  background-color: #006870;
  padding: 2px 3px 3px 3px;
  border: 0px;
  margin: 0px;
  font: 10pt sans-serif;
}

box#sidebox {
  width: 100%;
  height: 100%;
}

titledbutton.sidebartitle:hover { 
  border: 0px;
  margin: 1px; 
}

titledbutton.paneltitle { 
  horizontal-align: left;
}

treecol.checkboxColumn {
  width: 30px ! important;
}

box.spaced { 
  padding-top: 5px;
  paddimg-bottom: 2px;
}

box#engineTabs {
  background-color: #808080;
  border-bottom: 1px solid threedhighlight;
}

box#engineTabs > titledbutton {
  background-color: #CCCCCC;
  margin-bottom: 0px;
  border-bottom: 1px solid #CCCCCC;
}

titledbutton#allEngines {
  margin-right: 12px;
}

titledbutton.engine[loading="true"] {
 list-style-image: url("resource:/res/rdf/loading.gif") ! important ;
}

titledbutton.iconic {
 list-style-image: url("resource:/res/rdf/document.gif") ! important ;
}

treeitem > treerow.searchresult > treecell > titledbutton {
   cursor: pointer;
}

treeitem > treerow.searchresult > treecell {
   color: black;
   text-decoration: none;
}

treeitem > treerow.searchresult > treecell:hover {
   color: blue;
   text-decoration: underline;
   cursor: pointer;
}

treeitem > treerow.searchresult > treecell > titledbutton:active {
   color: red;
   text-decoration: underline;
}

/*undo regular search tree selection look*/
treeitem[selected="true"] > treerow.searchresult { 
  background-color: transparent;
}



.searchpanel-outerbox {
	padding: 8px 4px 4px 4px;
}

.indented-label {
	padding-left: 8px;
}

titledbutton.panelbtn {
	margin-left: 1em; 
	margin-right: 1em; 
}

#searchengines
  {
    margin-left           : 0px;
    margin-right          : 0px;
  }
  
  