
.engine[loading="true"] 
  {
    list-style-image      : url("resource:/res/rdf/loading.gif") ! important ;
  }

.iconic 
  {
    list-style-image      : url("resource:/res/rdf/document.gif") ! important ;
  }

.searchresult-cell:hover
  {
    color                 : blue;
    text-decoration       : underline;
    cursor                : pointer;
  }

.searchresult-cell:hover:active
  {
    color                 : red;
    text-decoration       : underline;
  }

.searchresult-item[selected="true"] > .searchresult
  {
    background-color      : transparent;
    color                 : windowtext;
  }

#Tree, #searchengines
  {
    margin                : 0px;
    border-left           : none;
    border-top            : none;
    border-right          : none;
  }  
  
#Tree > .tree-container-treerows,
#searchengines > .tree-container-treerows
  {
    border-left           : none;
    border-top            : none;
    border-right          : none;
  } 
  
.groove-bottom
  {
    border-bottom         : 1px solid threedshadow;
  }   
  
#results-splitter
  {
    border-right          : 1px solid threedshadow;
    border-left           : 1px solid threedhighlight;
  }  