menubar 
  {
    background-color      : threedface;
  }

menu, menuitem  
  {
	  vertical-align        : middle;
  }

menuitem 
  {
	padding	: 0px !important; 
  }


menu[disabled="true"], menuitem[disabled="true"],
menu[menuactive="true"][disabled="true"],
menuitem[menuactive="true"][disabled="true"]
  {
	  color                 : graytext;
  }

menuitem[default="true"]
  {
    font-weight           : bold;
  }  
  
/* XXX menupopups have to have a color explicitly specified. this is a bug */
menupopup, popup 
  {
    background-color      : threedface;
    border-left           : 1px solid threedface;
    border-top            : 1px solid threedface;
    border-right          : 1px solid threeddarkshadow;
    border-bottom         : 1px solid threeddarkshadow;
    color                 : menutext !important;
  }

.popup-internal-box
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
    padding               : 1px;
  }  
  
menupopup > menu,
menupopup > menuitem
  {
    max-width             : 60em; /* should move to content */
    min-width             : 14em; /* should move to content */
    margin                : 0px;
  }

popup > menu,
popup > menuitem
  {
    max-width             : 60em; /* should move to content */
    min-width             : 8em; /* should move to content */
    margin                : 0px;
  }

menuseparator 
  {
    border-top            : 1px solid threedshadow;
    border-bottom         : 1px solid threedhighlight;
    margin                : 2px 0px 2px 0px;
  }

menubar > menu 
  {
    padding               : 2px 5px 2px 7px;
    margin                : 0px 0px 1px 0px;
    border                : 1px solid transparent;
  }

menubar > menu[menuactive="true"] 
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
  }

menubar > menu[menuactive="true"][open="true"] 
  {
    border-left           : 1px solid threedshadow;
    border-top            : 1px solid threedshadow;
    border-right          : 1px solid threedhighlight;
    border-bottom         : 1px solid threedhighlight;
    padding               : 3px 4px 1px 8px;
  }

menupopup > menu[menuactive="true"],
menupopup > menuitem[menuactive="true"],
popup > menu[menuactive="true"],
popup > menuitem[menuactive="true"]
  {
    background-color      : highlight;
    color                 : highlighttext;
  }

/** 
 * Atomic sub-parts of standard menus
 **/
.menu-right 
  {
    margin                : 0px 4px 0px 6px;
    width                 : 8px;
    text-align            : center;
    list-style-image      : url("chrome://global/skin/menu-arrow.gif");
  }

.menu-iconic-left 
  {
    color                 : inherit;
    margin                : 0px 4px 0px 3px;
    width                 : 13px;
    text-align            : center;
    list-style-image      : inherit;
  }

.menubar-left 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }

.menu-iconic-text, .menu-iconic-accel, .menu-text, .menu-accel 
  {
    color                 : inherit;
    margin                : 2px 2px 2px 0px;
  }

.menu-text 
  {
    margin                : 2px 2px 2px 20px;
  }

.menu-accel 
  {
    margin                : 2px 14px 2px 6px;
  }

.menu-iconic-accel 
  {
    margin-left           : 4px;
  }

.menubar-text 
  {
    color                 : inherit;
    margin-right          : 2px;
  }

menuitem[checked="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check.gif");
  }

menuitem[checked="true"][menuactive="true"]
  {
  	list-style-image	  : url("chrome://global/skin/menu-check-hover.gif");
  }

menuitem[checked="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check-disabled.gif");
  }

menuitem[checked="true"][type="radio"] 
  {
    list-style-image      : url("chrome://global/skin/menu-radio.gif");
  }

menuitem[checked="true"][type="radio"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-radio-disabled.gif");
  }

menuitem[checked="true"][type="radio"][menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-radio-hover.gif");
  }

.menu-right[disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-hover.gif");
  }

/** Tooltips (tooltip <popup> element)
 *  class="tooltip"
 **/
.tooltip
  {
    background-color      : infobackground;
    border                : 1px solid windowframe;
    color                 : infotext;
    font-size             : smaller;
    padding               : 2px;
    max-width             : 40em;
  }

.tooltip > .popup-internal-box
  {
  	border                : 0px;
  	padding               : 0px;
  }


/*
 * Autorepeatbutton
 */
.autorepeatbutton-up 
  {
    list-style-image      : url("chrome://global/skin/scroll-up.gif")
  }

.autorepeatbutton-down 
  {
    list-style-image      : url("chrome://global/skin/scroll-down.gif")
  }

autorepeatbutton 
  {
    text-align            : center;
    vertical-align        : middle;
  }

autorepeatbutton:hover 
  {
    background-color      : highlight;
  }

.popup-infopopup  
  {
    max-width             : 60em !important;
    min-width             : 14em !important;
    height                : 3em;
    background-color      : infobackground;
    border-left           : 1px inset infobackground;
    border-top            : 1px inset infobackground;
    border-right          : 1px outset infobackground;
    border-bottom         : 1px outset infobackground;
  }
  
