/* NEW WIDGET LANDING: <menulist> popup */

/* outer frame */
  menulist 
    {
      -moz-binding        : url("chrome://global/skin/menulistBindings.xml#menulist");
      border-left         : 1px solid threedshadow;
      border-top          : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      background-color    : window;
      color               : menutext;
      font                : pull-down-menu;
      margin              : 1px 5px 2px 5px;
    }

  menulist[disabled="true"]
    {
      background-color    : threedface;
    }
    
/* icon display frame */
  .menulist-internal-box
    {
      border-left         : 1px solid threeddarkshadow;
      border-top          : 1px solid threeddarkshadow;
      border-right        : 1px solid threedface;
      border-bottom       : 1px solid threedface;
      -moz-user-focus     : ignore;
    }  

  .menulist-display-box,
  menulist[open="true"]:focus > .menulist-internal-box > .menulist-display-box
    {
      border              : 1px solid window;
      margin              : 1px;
      background-color    : window;
      color               : menutext;
    }     
    
  menulist:focus > .menulist-internal-box > .menulist-display-box
    {
      border              : 1px dotted #F5DB95;
      background-color    : highlight;
      color               : highlighttext;
    }
      
/* text display frame */
  .menulist-text 
    {
      padding             : 0px 2px 0px 2px;
      margin              : 0px;
    }
    
/* drop marker display frame */
  .menulist-dropmarker-box-1
    {
      border-top          : 1px solid threedface;
      border-left         : 1px solid threedface;
      border-bottom       : 1px solid threeddarkshadow;
      border-right        : 1px solid threeddarkshadow;
      background-color    : threedface;
    }
  
  .menulist-dropmarker-box-2
    {
      border-top          : 1px solid threedhighlight;
      border-left         : 1px solid threedhighlight;
      border-bottom       : 1px solid threedshadow;
      border-right        : 1px solid threedshadow;
      padding             : 2px 1px 2px 1px;
    }

  .menulist-dropmarker
    {
      list-style-image    : url("chrome://global/skin/scroll-down.gif");
    }
  
  .menulist-dropmarker[disabled="true"]
    {
      list-style-image    : url("chrome://global/skin/scroll-down-disabled.gif");
      padding             : 2px;
    }

  menulist:hover:active > .menulist-internal-box > .menulist-dropmarker-box-1[open="true"]
    { 
      border              : 1px solid threedshadow;
    }
    
  menulist:hover:active > .menulist-internal-box > .menulist-dropmarker-box-1 > .menulist-dropmarker-box-2[open="true"]
    {
      border              : 1px solid threedface;
      padding             : 3px 0px 1px 2px;
    }

/* rules for popups and separators associated with menulists */
  menulist > menupopup 
    {
      -moz-binding        : url("chrome://global/skin/menulistBindings.xml#menulistpopup");
      background-color    : window;
      border              : 1px solid #000000;
      min-width           : 0px;
    }

  menulist > menupopup > menuitem 
    {
      padding             : 0px 7px !important;
      min-width           : 0px;  /* should be in content*/
      max-width           : none; /* should be in content*/
      border              : 1px solid window;
    }

  menulist > menupopup > menuitem[menuactive="true"],
  menulist > menupopup > menuitem[selected="true"]
    {
      border              : 1px dotted #F5DB95;
    }

  menulist > menupopup > menuitem > .menu-iconic-left,
  menulist > menupopup > menuitem > .menu-iconic-left[menuactive="true"]
    {
      list-style-image    : inherit;
      width               : 0px;
      border              : none;
    }

/**
 * <menulist>s for things like mailnews addressing widget
 **/    
  .menulist-compact
    {
      -moz-binding        : url("chrome://global/skin/menulistBindings.xml#menulist-compact");
      -moz-user-focus     : ignore;  /* we don't take focus */
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threeddarkshadow;
      border-bottom       : 1px solid threeddarkshadow;
    }    
    
  .menulist-compact-text
    {
      margin-right        : 3px;
    }  
    
  .menulist-compact-internal-box
    {
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
      background-color    : threedface;
    }
    
  .menulist-compact-dropmarker
    {
      list-style-image    : url("chrome://global/skin/scroll-down.gif");
      margin-left         : 2px;
    }
    
    
