/* stylesheet for XUL <radio> element */

/* default radio for dialogs */
/* outer frame */
  radio 
    {
      -moz-binding        : url("chrome://global/skin/classicBindings.xml#radio");
      margin              : 3px 5px 3px 5px;
    }

  .radio-checkmark-box-1
    {
      border-top          : 1px solid threedshadow;
      border-left         : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      background-color    : window;
      -moz-border-radius  : 50%;
      margin              : 2px 2px 0px 0px;
      width               : 12px;
      height              : 12px;
    }

  .radio-checkmark-box-1[disabled="true"]
    {
      background-color    : threedface;
    }

  .radio-checkmark-box-2
    {
      border-left         : 1px solid threeddarkshadow;
      border-top          : 1px solid threeddarkshadow;
      border-right        : 1px solid threedface;
      border-bottom       : 1px solid threedface;
      -moz-border-radius  : 50%;
      padding             : 2px;
      width               : 10px;
      height              : 10px;
    }  

  /* ensure that no list-style-image is inherited in from the Outside */
  .radio-check
    {
      list-style-image    : none;
    }

  .radio-check[checked="true"]
    {
      list-style-image    : url(chrome://global/skin/check-radio.gif);
    }
  
  .radio-check[checked="true"][disabled="true"]
    {
      list-style-image    : url(chrome://global/skin/check-radio-disabled.gif);
    }

  radio:hover:active > .radio-internal-box > .radio-checkmark-box-1
    {
      background-color    : threedface;
    }

/* text/icon frames */
  .radio-text
    {
      margin              : 0px 0px 0px 2px;
      padding             : 1px;
    }

  .radio-icon 
    {
      list-style-image    : inherit;
    }    
    
  .radio-text[disabled="true"]
    {
      color               : graytext;
    }
  
  radio[focused="true"] > .radio-internal-box > .radio-text
    { 
      border              : 1px dotted threeddarkshadow;
      padding             : 0px;
    }
    
  .radio-internal-box
    {
      -moz-user-focus     : ignore;
    }    
