@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul); /* set default namespace to XUL */

/********* XP Scrollbar *********/

scrollbar 
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#scrollbar");
  }

slider 
  {
  }

scrollbarbutton 
  {
  }

scrollbar[value="hidden"] 
  {
  }

/********* XP Scrollbar *********/

thumb 
  {
    -moz-binding          : url(chrome://global/skin/classicBindings.xml#thumb);
    border-left           : 1px solid threedface;
    border-top            : 1px solid threedface;
    border-right          : 1px solid threeddarkshadow;
    border-bottom         : 1px solid threeddarkshadow;
    background-color      : threedface;
  }

.thumb-box
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
  }
  
.thumb-spring
  {
  	min-width			  : 4px;
  	min-height			  : 4px;
  } 
  
/**
 * Scrollbar button
 **/  
scrollbarbutton 
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#scrollbarbutton");
    cursor                : default;
    border-left           : 1px solid threedface;
    border-top            : 1px solid threedface;
    border-right          : 1px solid threeddarkshadow;
    border-bottom         : 1px solid threeddarkshadow;
    background-color      : threedface;
  }

.scrollbarbutton-box
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
    padding               : 1px;
  }

scrollbarbutton:hover:active 
  {
    border                : 1px solid threedshadow;
  }
  
scrollbarbutton:hover:active > .scrollbarbutton-box
  {
    border                : 1px solid threedface;
    padding               : 2px 0px 0px 2px;
  }   

scrollbarbutton[type="decrement"] 
  {
    list-style-image      : url("chrome://global/skin/scroll-left.gif")
  }

scrollbarbutton[type="decrement"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/scroll-left-disabled.gif") 
  }

scrollbarbutton[type="increment"] 
  {
    list-style-image      : url("chrome://global/skin/scroll-right.gif")
  }


scrollbarbutton[type="increment"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/scroll-right-disabled.gif") 
  }


scrollbarbutton[type="decrement"][sborient="vertical"]
  {
    list-style-image      : url("chrome://global/skin/scroll-up.gif")
  }

scrollbarbutton[type="decrement"][disabled="true"][sborient="vertical"]
  {
    list-style-image      : url("chrome://global/skin/scroll-up-disabled.gif") 
  }

scrollbarbutton[type="increment"][sborient="vertical"]
  {
    list-style-image      : url("chrome://global/skin/scroll-down.gif")
  }

scrollbarbutton[type="increment"][disabled="true"][sborient="vertical"]
  {
    list-style-image      : url("chrome://global/skin/scroll-down-disabled.gif") 
  }

slider 
  {
    background-color      : threedface;
    background-image      : url("chrome://global/skin/scrollbar-slider-bg.gif");
  }
  
