/******* Splitters *******/

  splitter 
    {
      cursor                : e-resize;
      background-color      : threedface;
      vertical-align        : middle;
    }
  
  grippy, grippy[collapse="before"]
    {
      -moz-binding          : url("chrome://global/skin/classicBindings.xml#grippy");
      border                : 1px solid threedshadow;
  	  list-style-image      : url("chrome://global/skin/grippy-horizontal-before.gif");
  	  cursor                : pointer;
    }
  
  grippy:hover
    {
      background-color      : #CCCCFF;
    }
  
  splitter[state="collapsed"] > grippy
    {
  	  list-style-image      : url("chrome://global/skin/grippy-horizontal-after.gif");
    }  
    
  .grippy-box
    {
      border-top            : 1px solid threedhighlight;
      border-left           : 1px solid threedhighlight;
      border-right          : 1px solid threedface;
      border-bottom         : 1px solid threedface;
    }  
    
  .grippy-image
    {
      list-style-image      : inherit;
    }  
    
  splitter[state="dragging"],
  splitter:hover:active
    {
      background-color      : threedface;
      background-image      : url("chrome://global/skin/splitter-drag-bg.gif");
    }
  
  rows > splitter
    {
      cursor              : n-resize;
    }
    
  window[orient="vertical"] > splitter,
  box[orient="vertical"] > splitter,
  window[align="vertical"] > splitter,
  box[align="vertical"] > splitter
    {
      cursor              : n-resize;
      -moz-binding        : url("chrome://global/skin/classicBindings.xml#splitter-hack");
      border-top          : 1px solid threedhighlight;
    }
    
/* Grippy alignment */
  splitter[autostretch="never"]
    {
      vertical-align      : middle;
    }
  
  splitter[orient="vertical"][autostretch="never"] 
    {
      text-align          : center;
    }

/* Vertical splitter (between two boxes, horizontally stacked), collapse to left */
  window > splitter > grippy,
  box > splitter > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-horizontal-before.gif");
      border-left         : none;
      border-right        : none;
    }  
    
  window > splitter > grippy > .grippy-box,
  box > splitter > grippy > .grippy-box
    {
      border-left         : none;
      border-right        : none;
    }  

  window > splitter[state="collapsed"] > grippy,
  box > splitter[state="collapsed"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-horizontal-after.gif");
    }

/* Vertical splitter (between two boxes, horizontally stacked), collapse to right */
  window > splitter[collapse="after"] > grippy,
  box > splitter[collapse="after"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-horizontal-after.gif");
    }  
    
  window > splitter[collapse="after"][state="collapsed"] > grippy,
  box > splitter[collapse="after"][state="collapsed"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-horizontal-before.gif");
    }

/* Horizontal splitter (between two boxes, vertically stacked), collapse to left */
  window[orient="vertical"] > splitter > grippy,
  box[orient="vertical"] > splitter > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-before.gif");
      border-left         : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-top          : none;
      border-bottom       : none;
    }  
    
  window[orient="vertical"] > splitter > grippy > .grippy-box,
  box[orient="vertical"] > splitter > grippy > .grippy-box
    {
      border-left         : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-top          : none;
      border-bottom       : none;
    }  

  window[orient="vertical"] > splitter[state="collapsed"] > grippy,
  box[orient="vertical"] > splitter[state="collapsed"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-after.gif");
    }
    
/* Horizontal splitter (between two boxes, vertically stacked), collapse to right */
  window[orient="vertical"] > splitter[collapse="after"] > grippy,
  box[orient="vertical"] > splitter[collapse="after"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-after.gif");
    }  
    
  window[orient="vertical"] > splitter[collapse="after"][state="collapsed"] > grippy,
  box[orient="vertical"] > splitter[collapse="after"][state="collapsed"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-before.gif");
    }
     
