toolbox
  {
    background-color      : threedface;
    border-left           : 1px solid threedshadow;
    border-top            : 1px solid threedshadow;
    border-right          : 1px solid threedhighlight;
  }

toolbar
  {
    background-color      : threedface;
    min-width			  : 1px;      // DON'T DELETE.  Removes disappearance of scrollbars in content pane when window is made smaller.
									  // Talk to evaughan@netscape.com for details.

  }
  
.toolbar-holder
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
  }  

toolbargrippy
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#toolbargrippy");
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
    width                 : 12px;
    padding-bottom        : 1px;
  }

.toolbargrippy-twisty
  {
    list-style-image      : url("chrome://global/skin/toolbargrippy-twisty.gif");
    margin-top            : 2px;
  }

.toolbargrippy-texture
  {
    margin                : 5px 3px 1px 2px;
    background-image      : url("chrome://global/skin/toolbargrippy-texture.gif");
    background-position   : 50% 0%;
    background-repeat     : repeat-y;
  } 

toolbargrippy[tbgrippy-collapsed="true"] 
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#toolbargrippy-collapsed");
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
    height                : 12px;
    padding-right         : 1px;
  }

.toolbargrippy-twisty-collapsed
  {
    list-style-image      : url("chrome://global/skin/tbg-twisty-collapsed.gif");
    margin-left           : 2px;
  }


.toolbargrippy-texture-collapsed
  {
    margin                : 2px 1px 1px 5px;
    background-image      : url("chrome://global/skin/tbg-texture-collapsed.gif");
    background-position   : 0% 50%;
    background-repeat     : repeat-x;
  } 


.collapsed-tray-spring
  {
    border-bottom         : 1px solid threedshadow;
  }  
  
toolbargrippy:hover
  {
    background-color      : #CCCCFF;
  }
  
toolbar[collapsed="true"] > toolbargrippy
  {
    width                 : 30px;
  }
  
toolbarseparator 
  {
    width                 : 1px;
    border-left           : 1px solid threedshadow;
    border-right          : 1px solid threedhighlight; 
    margin                : 2px 0.2em 2px 0.2em;
  }
  
.toolbar-focustarget
  {
    -moz-user-focus       : ignore !important;
  }   
