/* -*- Mode: C; c-basic-offset: 2 -*-
 *
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */

.bookmarkitem
  {
    list-style-image      : url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
  }

.bookmarkitem[menuactive="true"]
  {
    list-style-image      : url("chrome://communicator/skin/bookmarks/bookmark-item-sel.gif");
  }
  
.bookmarkfolder
  {
    list-style-image      : url("chrome://communicator/skin/bookmarks/bookmark-folder-closed.gif");
  }

.bookmarkfolder[menuactive="true"]
  {
    list-style-image      : url("chrome://communicator/skin/bookmarks/bookmark-folder-closed-sel.gif");
  }
  
.bookmarkfolder[open="true"]
  {
    list-style-image      : url("chrome://communicator/skin/bookmarks/bookmark-folder-open.gif");
  }  

.bookmarkfolder[open="true"][menuactive="true"]
  {
    list-style-image      : url("chrome://communicator/skin/bookmarks/bookmark-folder-open-sel.gif");
  }  
  
  
treeitem[container="true"][open="true"][loading="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("resource:/res/rdf/loading.gif") ! important ;
}

treeitem[status="new"] > treerow > .treecell-bookmark
{
 list-style-image: url("resource:/res/rdf/loading.gif") ! important ;
}

treeitem[type="http://home.netscape.com/NC-rdf#Folder"] > treerow > .treecell-bookmark,
treeitem[type="http://home.netscape.com/NC-rdf#IEFavoriteFolder"] > treerow > .treecell-bookmark,
treeitem[container="true"][open="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-closed.gif");
}

treeitem[selected="true"][type="http://home.netscape.com/NC-rdf#Folder"] > treerow > .treecell-bookmark,
treeitem[selected="true"][type="http://home.netscape.com/NC-rdf#IEFavoriteFolder"] > treerow > .treecell-bookmark,
treeitem[selected="true"][container="true"][open="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-closed-sel.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Folder"][open="true"] > treerow > .treecell-bookmark,
treeitem[type="http://home.netscape.com/NC-rdf#IEFavoriteFolder"][open="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-open.gif");
}

treeitem[selected="true"][type="http://home.netscape.com/NC-rdf#Folder"][open="true"] > treerow > .treecell-bookmark,
treeitem[selected="true"][type="http://home.netscape.com/NC-rdf#IEFavoriteFolder"][open="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-open-sel.gif");
}

treeitem[container="true"][open="true"] > treerow > .treecell-bookmark {
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-open.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Folder"][id="NC:PersonalToolbarFolder"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/personal-folder-closed.gif");
}

treeitem[selected="true"][type="http://home.netscape.com/NC-rdf#Folder"][id="NC:PersonalToolbarFolder"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/personal-folder-closed-sel.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Folder"][id="NC:PersonalToolbarFolder"][open="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/personal-folder-open.gif");
}

treeitem[selected="true"][type="http://home.netscape.com/NC-rdf#Folder"][id="NC:PersonalToolbarFolder"][open="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/personal-folder-open-sel.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#BookmarkSeparator"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#IEFavorite"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/iefavorite.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#Bookmark"] > treerow > .treecell-bookmark
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#FileSystemObject"][container="true"][open="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("resource:/res/rdf/folder-open.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#FileSystemObject"][container="true"] > treerow > .treecell-bookmark
{
 list-style-image: url("resource:/res/rdf/folder-closed.gif");
}

treeitem[type="http://home.netscape.com/NC-rdf#FileSystemObject"] > treerow > .treecell-bookmark
{
 list-style-image: url("resource:/res/rdf/article.gif");
}

treeitem > treerow > .treecell-bookmark {
 list-style-image:url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}
