<HEAD>
 <TITLE>Mozilla Cross-Reference</TITLE>
</HEAD>
<BODY   BGCOLOR="#FFFFFF" TEXT="#000000"
	LINK="#0000EE" VLINK="#551A8B" ALINK="#FF0000">

<TABLE BGCOLOR="#000000" WIDTH="100%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD><A HREF="http://www.mozilla.org/"><IMG
 SRC="http://www.mozilla.org/images/mozilla-banner.gif" ALT=""
 BORDER=0 WIDTH=600 HEIGHT=58></A></TD></TR></TABLE>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=6 WIDTH="100%">
 <TR>
  <TH ALIGN=CENTER COLSPAN=3>
   <BR>
   <FONT SIZE="+3">Mozilla Cross-Reference</FONT>
   <BR><BR>
  </TH>
 </TR>
 <TR>
  <TD WIDTH=35% ALIGN=TOP VALIGN=LEFT>

   <TABLE BORDER CELLPADDING=10 CELLSPACING=0 WIDTH="100%" BGCOLOR="#EEEEEE">
    <TR>
     <TD>

      <BR>
      <P ALIGN=CENTER><FONT SIZE="+1"><B>Starting Points:</B></FONT>
      <P>

      <DL>
      <DT>
         <FONT SIZE="+1"><A HREF="/seamonkey/"><B>SeaMonkey</B></A></FONT>
      </DT>
      <DD>
         <FONT SIZE="-1">
          This module is SeaMonkeyAll, the Mozilla browser project.
         </FONT>
      </DD>

      <P>

      <DT>
         <FONT SIZE="+1"><A HREF="/m10/"><B>M10</B></A></FONT>
      </DT>
      <DD>
         <FONT SIZE="-1">
          This is the source of the M10 release and is provided here for use
          by the
          <A HREF="http://www.mozillazine.org/talkback.html?article=858">
          design patterns</A> contest.
         </FONT>
      </DD>

      <P>

      <DT>
         <FONT SIZE="+1"><A HREF="/nspr/"><B>NSPR</B></A></FONT>
      </DT>
      <DD>
         <FONT SIZE="-1">
          This module is 
          <A HREF="http://www.mozilla.org/docs/refList/refNSPR/moddesc.html">NSPR</A>, 
          a cross platform library for operating system facilities 
          including threads, I/O, timing and memory management.
         </FONT>
      </DD>

      <P>

      <DT>
         <FONT SIZE="+1"><A HREF="/grendel/"><B>Grendel</B></A></FONT>
      </DT>
      <DD>
         <FONT SIZE="-1">
          This module is Grendel, a mail reader written in java.
         </FONT>
      </DD>

      <P>

      <DT>
         <FONT SIZE="+1"><A HREF="/ef/"><B>Electrical Fire</B></A></FONT>
      </DT>
      <DD>
         <FONT SIZE="-1">
          This is /mozilla/ef, a multi-platform Just-<WBR>In-<WBR>Time
          Java compiler
         </FONT>
      </DD>

      <P>

      <DT>
         <FONT SIZE="+1"><A HREF="/gnome/"><B>Gnome</B></A></FONT>
      </DT>
      <DD>
         <FONT SIZE="-1">
          This contains the entire gnome cvs repository. In particular,
          it has GTK+ and GDK.
         </FONT>
      </DD>

      <P>

      <DT>
         <FONT SIZE="+1"><A HREF="/mozilla/"><B>Mozilla</B></A></FONT>
      </DT>
      <DD>
         <FONT SIZE="-1">
          This contains the entre current CVS repository.
         </FONT>
      </DD>

      <P>

      <DT>
         <FONT SIZE="+1"><A HREF="/classic/"><B>Classic</B></A></FONT>
      </DT>
      <DD>
         <FONT SIZE="-1">
          This is Mozilla Classic. Its a snapshot of the MozillaSource
          module from Oct 26, 1998 just before the change was made to xpfe.
          This is here for reference. No work is done on this branch.
          
         </FONT>
      </DD>
      </DL>


     </TD>
    </TR>
   </TABLE>

  </TD>
  <TD WIDTH=8></TD>
  <TD ALIGN=TOP VALIGN=LEFT>

<P>This is a cross referenced display of the 
<A HREF="http://www.mozilla.org/">Mozilla</A> source code.
The sources displayed are those that are currently checked 
in to the mainline of the mozilla.org
<A HREF="http://www.mozilla.org/cvs.html">CVS server</A>;
these pages are updated many times a day, so they should
be pretty close to the latest-<WBR>and-<WBR>greatest.

<P>It's possible to search through the entire Mozilla source text;
or to search for files whose name matches a pattern; or to search
for the definitions of particular functions, variables, etc.

<P>The individual files of the source code are formatted on the fly
and presented with clickable identifiers.  An <I>identifier</I> is a
macro, typedef, struct, enum, union, function, function prototype or
variable.  Clicking on them shows you a summary of how and where they
are used.

<P>The <A HREF="search">free-text search</A> command is implemented
using <A HREF="http://glimpse.cs.arizona.edu">Glimpse</A>, so all the
capabilities of Glimpse are available.  
<A HREF="search-help.html">Regular expression</A> searches are
especially useful.

<P>(Don't use use a web-crawler to try and download all of these pages;
the CGIs will feed you several <I>gigabytes</I> worth of generated HTML!)

<P>The pages here are generated by the 
<A HREF="http://lxr.linux.no/">LXR</A> tool, which was originally 
written to display the source code of the Linux kernel (LXR stands
for ``Linux Cross Reference.'')  Check out the
<A HREF="http://lxr.linux.no/">main LXR site</a> for more information.

<P>Thanks to 
 <A HREF="mailto:lxr@linux.no">Arne Georg Gleditsch</A> and
 <A HREF="mailto:lxr@linux.no">Per Kristian Gjermshus</A>, the
 authors of the LXR tool, for writing it and making it available
 to the world; and thanks to
 <A HREF="http://cannibal.mi.org/~dawn/">Dawn Endico</A> for
 doing almost all of the work to get LXR working with the Mozilla
 sources.

  </TD>
 </TR>
</TABLE>

<P>
