/* 
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *  
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *  
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 2000 Netscape Communications Corporation. All
 * Rights Reserved.
 * 
 * Contributor(s): 
 *   Dan Haddix
 *   Brian King
 */

toolbar#toolbox {
  margin :0px;
  padding: 4px; 0px; 0px; 0px;
}

toolbar#toolbox button.tool:active {
	margin: 2px 0px 0px 2px;
}

toolbar#toolbox button.tool[toggled="1"] {
  margin: 2px 0px 0px 2px;
  border: 1px white inset;
}

toolbar#toolbox button.tool {
  border: 1px solid transparent;
  margin: 1px 1px 1px 1px;
	padding: 2px;
	text-decoration: none;
	color: inherit;
}

toolbar.toolbox > toolbargrippy {
	visibility: collapse;
}

#pointerButton {
	list-style-image:url("chrome://editor/skin/images/Map_pointerTool.gif");
}

#rectButton {
	list-style-image:url("chrome://editor/skin/images/Map_rectangleTool.gif");
}

#cirButton {
	list-style-image:url("chrome://editor/skin/images/Map_circleTool.gif");
}

#polyButton {
	list-style-image:url("chrome://editor/skin/images/Map_polygonTool.gif");
}

#cutButton {
	list-style-image:url("chrome://editor/skin/images/Map_Cut.gif");
}

#copyButton {
	list-style-image:url("chrome://editor/skin/images/Map_Copy.gif");
}

#pasteButton {
	list-style-image:url("chrome://editor/skin/images/Map_Paste.gif");
}

#zoomInButton {
	list-style-image:url("chrome://editor/skin/images/Map_zoomIn.gif");
}

#zoomOutButton {
	list-style-image:url("chrome://editor/skin/images/Map_zoomOut.gif");
}

#contrastButton {
	list-style-image:url("chrome://editor/skin/images/Map_contrast.gif");
}
