/* 
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *  
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *  
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 * 
 * Contributor(s): 
 *   Pete Collins, Ben Goodger
 */

/*
   THIS FILE IS LOCKED DOWN.  YOU ARE NOT ALLOWED TO MODIFY IT WITHOUT FIRST HAVING YOUR
   CHANGES REVIEWED BY cmanske@netscape.com.
*/

/* The defaults are WAY to big! */
titledbox {
  margin:         2px 5px; 4px; 5px;
  padding-top:    2px;
  padding-bottom: 4px;
}

.MinWidth5em {
  min-width: 5em;
}

.MinWidth10em {
  min-width: 10em;
}

.MinWidth20em {
  min-width: 20em;
}

.big-left-margin {
  margin-left:    10px;
}

.middle {
  vertical-align: middle:
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.larger {
  font-size: 120%;
}


.narrow {
  width: 3em;
}

.align-right {
  text-align: right;
}

.wrap {
 width: 1em;
}

/* Use this with groove-thin in dialogs 
   to add margins to top and bottom
*/
.tb-margin {
  margin-top    : 6px;
  margin-bottom : 6px;
}
.color-well {
  width:20px;
  height: 16px; 
  border: 1px inset #CCCCCC;
  margin: 4px 2px 5px 8px;
}

.color-well[default="true"] {
  border: 1px solid transparent;
  background-color: inherit;
}

button.color-button {
  /* need to override large default min-width */
  min-width : 44px;
}

#ColorPickerSwatch {
  border : 2px outset #CCCCCC;
  width: 25px;
  height: 20px;
  margin: 0px 3px 0px 0px;
}

#ColorPickerSwatch[default="true"] {
  border : 2px solid transparent;
  background-color: inherit;
}

#LastPickedColor {
  width: 17px;
  height: 13px; 
  border: 1px inset #CCCCCC;
  margin: 1px 2px 2px 4px;
}

.popup-trigger {
  list-style-image: url(chrome://global/skin/scroll-down.gif);
}

/* temporary -- we need a simple box-based list defined in XBL */
tree.list {
  border: 1px inset #CCCCCC;
  /* same as in menulist.css */
  margin: 1px 5px 2px 5px;
  width: 10em;
  height: 3em;
  /* use rows="#" in XUL to define height */
}

#ColorPreview {
  border: 1px inset #CCCCCC;
  margin-left:    10px;
  padding-left:    5px;
  padding-right:   5px;
  min-width:     100px;
  min-height:     50px;
}

#alignTypeSelect,label#alignLabel {
  margin-left: 5px;
}

#MoreFewerButton[more="0"] {
  list-style-image: url(chrome://global/skin/scroll-down.gif);
  /* bug 9459 - changing button text doesn't resize width.
     This covers that problem, but we want this size anyway */
  min-width: 12em;
}

#MoreFewerButton[more="1"] {
  list-style-image: url(chrome://global/skin/scroll-up.gif);
  min-width: 12em;
}

#PreviousButton {
  list-style-image: url(chrome://global/skin/arrow-left.gif);
}

#NextButton {
  list-style-image: url(chrome://global/skin/arrow-right.gif);
}

#PreviousButton[type="row"] {
  list-style-image: url(chrome://global/skin/arrow-up.gif);
}

#NextButton[type="row"] {
  list-style-image: url(chrome://global/skin/arrow-down.gif);
}

#MisspelledWord {
  font-weight: bold;
}

.right {
  /* doesn't work yet! must use align="right" in <text> */
  text-align:   right;
}

/* use outset shape for a button look */
.colorpicker {
  border: 1px outset #CCCCCC;
  /* This should be the same as for textfield */
  margin-left: 4px;
  /* For a little extra space between buttons */
  margin-bottom: 2px;
}


.colorpicker:active {
  border: 1px inset #CCCCCC;
}

.smallspacer {
  width:  3px;
  height: 3px;
  min-width:  3px;
  min-height: 3px;
}

.spacer {
  width:  5px;
  height: 5px;
  min-width:  5px;
  min-height: 5px;
}

.bigspacer {
  width:  10px;
  height: 10px;
  min-width:  10px;
  min-height: 10px;
}

.img-align-top {
	list-style-image:url("chrome://editor/skin/images/img-align-top.gif");
}
.img-align-middle {
	list-style-image:url("chrome://editor/skin/images/img-align-middle.gif");
}
.img-align-bottom {
	list-style-image:url("chrome://editor/skin/images/img-align-bottom.gif");
}
.img-align-right {
	list-style-image:url("chrome://editor/skin/images/img-align-right.gif");
}
.img-align-left {
	list-style-image:url("chrome://editor/skin/images/img-align-left.gif");
}

/* Don't change width/height of these without changing values in 
  GetOriginalWidth(), EdImageProps.js
*/    
#preview-image-box {
  border: 1px inset #CCCCCC;
  width      : 82px;
  max-width  : 82px;
  min-width  : 82px;
  height     : 52px;
  max-height : 52px;
  min-height : 52px;
  margin     : 6px 5px 6px 5px;
  overflow   : hidden;
}

#preview-image-holder {
  padding : 0px;
  margin  : 0px;
}

/* Rest are from Ben Goodger for Advanced Edit dialog 
   These need reviewing and eliminate all but essential attributes */
/* Have made some mods and eliminated some unnecessary portions. 
   hope to merge most of the treecell formatting into global as some of 
   this "property list" style treecell formatting is used by cookie/signon 
   viewers. */


#tagLabel {
  font-weight: bold;
}

/* styles for an attribute tree-table */
tree.AttributesTree {
  min-width : 200px;
  min-height: 200px;
}

tree.AttributesTree > treechildren > treeitem > treerow > treecell.value {
    padding     : 0px 0px 0px 2px;
    margin-left : 0px;
}

/* Selection color for "name" column */
treeitem.ae-selection[selected="true"] > treerow { 
  color : inherit;
  background-color : #DDDDDD;
}

.AttributesCell {
  border: none;
  width: 100%;
  background-color: #FFFFFF;
  font-weight: normal;
  border: none;
  outline: none;
  margin: 0px;
  width: 100%;
}


/* Why is default padding so strict! */
.treecell-header {
  padding : 1px 1px 1px 4px;
}
