/* 
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *  
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *  
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 * 
 * Contributor(s): 
 */

@import url(chrome://communicator/skin/);
@import url(chrome://communicator/skin/sidebar/sidebar.css);
/* Note: most of our styles are in EditorToolbars.css 
   in order to share with all users of editor
*/

#content-frame { 
  min-width: 10px; 
  min-height: 10px;
  height: 400px;
} 

.source-editor, .source-editor:focus {
  margin: 0px 5px 5px 0px;
  border: 0px;
  /* Scroll bars are in content, 
     so we can't use right and bottom padding! */
  padding: 5px 0px 0px 5px;
}
