/* 
 * The contents of this file are subject to the Mozilla Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/MPL/
 * 
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 * 
 * The Original Code is Mozilla Communicator.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corp. Portions created by Netscape Communications
 * Corp. are Copyright (C) 1999 Netscape Communications Corp. All
 * Rights Reserved.
 * 
 * Contributor(s): Stephen Lamm <slamm@netscape.com>
 */ 


#sidebar-splitter {
    -moz-binding: url("chrome://communicator/skin/sidebar/sidebarSplitterBindings.xml#sidebar-splitter");
    border: none;
    padding: 0px;
    width: 10px;
    background-image: url("chrome://communicator/skin/sidebar/sbsplitter-bg.gif");
}

.sidebar-splitter-grippy {
    background-image: url("chrome://communicator/skin/sidebar/sbgrippy-left.gif") !important; 
}

.sidebar-splitter-grippy:hover,
.sidebar-splitter-grippy:active {
    background-image: url("chrome://communicator/skin/sidebar/sbgrippy-left-hover.gif") !important; 
}

#sidebar-splitter[state="collapsed"] > .sidebar-splitter-grippy {
    background-image: url("chrome://communicator/skin/sidebar/sbgrippy-right.gif") !important;
}

#sidebar-splitter[state="collapsed"] > .sidebar-splitter-grippy:hover,
#sidebar-splitter[state="collapsed"] > .sidebar-splitter-grippy:active {
    background-image: url("chrome://communicator/skin/sidebar/sbgrippy-right-hover.gif") !important; 
}


#sidebar-box {
    margin-top: 0px;
    border-top: 1px solid #8C9AB2;
}

.text-panel-loading {
    margin: 5px 0px;
}

.image-panel-loading {
    margin: 5px;
    list-style-image: url("chrome://global/skin/loading.gif"); 
}

box[loadstate="stopped"] > box > box >  .image-panel-loading {
    visibility: hidden;
}

/*
 *    Sidebar and Panel title buttons
 */
.sidebarheader-main {
  color: #ffffff;
  background-color: #5C7794;
  padding-left: 18px;
  padding-bottom: 2px;
}

.sidebarheader-main > .sidebar-header-text {
  font-weight: bold;
}

.sidebarheader-main > .sidebar-header-grippy {
  min-height: 8px;
}

#sidebar-panel-picker {
  border                  : 1px solid #5C7794;
  margin-right            : 1px;
  margin-top              : 1px;
  padding                 : 2px;
  color                   : #ffffff;
  -moz-border-radius      : 0px;
}

#sidebar-panel-picker:hover {
  border                  : 1px outset #5C7794;
}

#sidebar-panel-picker[menuactive="true"],
#sidebar-panel-picker[open="true"] 
{
  border-style                  : inset;
}

#sidebar-panel-picker > .menu-right {
  padding-right                 : 2px;
}

#sidebar-panel-picker > .menubutton-internal-box > .menubutton-single-icon
{
  list-style-image              : url("chrome://communicator/skin/sidebar/sbpicker-arrow.gif");
  padding-left                  : 2px;
}

#sidebar-panel-picker > .menu-text {
    padding-left: 4px;
}

#sidebar-panel-picker > .menu-accel {
    display: none;
}

/**
 * texttab folder lookalike e.g. for sidebar panel headers
 */
  .box-texttab
    {
      -moz-binding        : url("chrome://communicator/content/sidebar/sidebarBindings.xml#texttab");
      background-color    : #5C7794;
      padding-top         : 2px;
      border-bottom       : 3px solid #5C7794;
    }

  .box-texttab[selected="true"] 
    {
      border-bottom       : 3px solid #C1C8D5;
    }    
    
  .box-texttab[top-panel="true"]
    {
      background-color    : #5C7794;
    }
  
  .box-texttab[first-panel-after-selected="true"] 
    {
      background-color    : #C1C8D5;
    }

  .box-texttab[first-panel-after-selected="true"]  > .box-texttab-left
    {
      list-style-image    : url("chrome://communicator/skin/sidebar/sbtab-darkonlight-left.gif");
    }

  .box-texttab[first-panel-after-selected="true"]  > .box-texttab-right
    {
      list-style-image    : url("chrome://communicator/skin/sidebar/sbtab-darkonlight-right.gif");
    }
    
  .box-texttab-right-space 
    {
      width               : 0px;
    }

  .box-texttab[last-panel="true"] > .box-texttab-right-space 
    {
      border-bottom       : none;
    }

  .box-texttab[last-panel="true"]
    {
      border-bottom       : 7px solid #5C7794;
    } 

  .box-texttab[last-panel="true"][selected="true"] 
    {
      border-bottom       : 3px solid #C1C8D5;
    } 

  .box-texttab-left
    {
      list-style-image    : url("chrome://communicator/skin/sidebar/sbtab-darkondark-left.gif");
    }

  .box-texttab-right
    {
      list-style-image    : url("chrome://communicator/skin/sidebar/sbtab-darkondark-right.gif");
    }

  .box-texttab[selected="true"] > .box-texttab-left
    {
      list-style-image    : url("chrome://communicator/skin/sidebar/sbtab-lightondark-left.gif");
    }

  .box-texttab[selected="true"] > .box-texttab-right
    {
      list-style-image    : url("chrome://communicator/skin/sidebar/sbtab-lightondark-right.gif");
    }

  .box-texttab-text-container
    {
      background-color    : #5C7794;
      background          : url("chrome://communicator/skin/sidebar/sbtab-dark.gif") repeat-x;
      color               : #ffffff;
      padding-top         : 2px;
    }

  .box-texttab[selected="true"] > .box-texttab-text-container
    {
      background: url("chrome://communicator/skin/sidebar/sbtab-light.gif") repeat-x;
      background-color    : #C1C8D5;
      color               : #000000;
    }
    
