/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */
GOOD { background-position: 73%; }
GOOD { background-position: -73%; }
GOOD { background-position: +3%; }
GOOD { background-position: +3.5%; }
GOOD { background-position: 10% 20%; }
GOOD { background-position: 10% 23in; }
GOOD { background-position: 23in; }
GOOD { background-position: 23in 10%; }
GOOD { Background-Position: 23IN 30CM; }
GOOD { Background-Position: top left; }
GOOD { Background-Position: left top; }
GOOD { Background-Position: top; }
GOOD { Background-Position: top center; }
GOOD { Background-Position: center top; }
GOOD { Background-Position: right top; }
GOOD { Background-Position: top right; }
GOOD { Background-Position: left; }
GOOD { Background-Position: left center; }
GOOD { Background-Position: center left; }
GOOD { Background-Position: right; }
GOOD { Background-Position: right center; }
GOOD { Background-Position: center right; }
GOOD { Background-Position: bottom; }
GOOD { Background-Position: bottom center; }
GOOD { Background-Position: center bottom; }
GOOD { Background-Position: bottom right; }
GOOD { Background-Position: right bottom; }
