/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */
GOOD { background: red; }
GOOD { background: red repeat-x; }
GOOD { background: red fixed; }
GOOD { background: fixed 20% 30%; }
GOOD { background: red none repeat scroll 20% 30%; }
GOOD { background: none repeat scroll 20% 30% red; }
GOOD { background: repeat scroll 20% 30% red none; }
GOOD { background: scroll 20% 30% red none repeat; }
GOOD { background: 20% 30% red none repeat scroll; }
BAD { background: 20% 30% red none repeat scroll fish; }
BAD { background: 20% 30% red none repeat fish scroll; }
BAD { background: 20% 30% red none fish repeat scroll; }
BAD { background: 20% 30% red fish none repeat scroll; }
BAD { background: 20% 30% fish red none repeat scroll; }
BAD { background: 20% fish 30% red none repeat scroll; }
BAD { background: fish 20% 30% red none repeat scroll; }
