/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */
GOOD { background-color: blue; }
GOOD { background-color: rgb(0, 0, 0); }
GOOD { background-color: rGb(110%, 23, 9123784328342834); }
GOOD { BackGround-Color: Transparent; }
BAD { BackGround-Color: beeble; }
BAD { BackGround-Color: 27; }
BAD { BackGround-Color: #23; }
BAD { BackGround-Color: url(fish; }
