/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */
GOOD { border-style: none; }
GOOD { border-style: dotted; }
GOOD { border-style: dashed; }
GOOD { border-style: solid; }
GOOD { border-style: double; }
GOOD { border-style: groove; }
GOOD { border-style: ridge; }
GOOD { border-style: inset; }
GOOD { border-style: outset; }
GOOD { border-style: dashed none; }
GOOD { border-style: dashed dotted none; }
GOOD { border-style: dashed dotted inset none; }
