/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */



GOOD { counter-reset: inherit } 
GOOD { counter-reset: none; } 
GOOD { counter-reset: rabbit; } 
GOOD { counter-reset: rabbit 1; } 
GOOD { counter-reset: rabbit 942 } 
GOOD { counter-reset: rabbit -12; } 
GOOD { counter-reset: rabbit 0 } 
BAD { counter-reset: none to inherit }
BAD { counter-reset: cooler 4 5 -1; }
