/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */



GOOD { elevation: -90deg } 
GOOD { elevation: 90deg } 
GOOD { elevation: 0deg } 
GOOD { elevation: 16deg } 
GOOD { elevation: inherit } 
GOOD { elevation: below; }
GOOD { elevation: level }
GOOD { elevation: above; }
GOOD { elevation: higher }
GOOD { elevation: lower }
BAD { elevation: inherited }
BAD { elevation: above below; }
BAD { elevation: duck below; }
BAD { elevation: center; }
BAD { elevation: align=right; }
BAD { elevation: 90deg right; }

