/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */
GOOD { font-weight: normal; }
GOOD { font-weight: bold; }
GOOD { font-weight: bolder; }
GOOD { font-weight: lighter; }
GOOD { font-weight: 100; }
GOOD { font-weight: 200; }
GOOD { font-weight: 300; }
GOOD { font-weight: 400; }
GOOD { font-weight: 500; }
GOOD { font-weight: 600; }
GOOD { font-weight: 700; }
GOOD { font-weight: 800; }
GOOD { font-weight: 900; }
BAD { font-weight: heavy; }
BAD { font-weight: 12.3em; }
