/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */
GOOD { font: italic small-caps bold 12pt helvetica }
GOOD { font: italic bold small-caps 12pt helvetica }
GOOD { font: small-caps bold italic 12pt helvetica }
GOOD { font: small-caps italic bold 12pt helvetica }
GOOD { font: bold italic small-caps 12pt helvetica }
GOOD { font: bold small-caps italic 12pt helvetica }
GOOD { font: bold 12pt helvetica }
GOOD { font: 12pt helvetica }
GOOD { font: 12pt/14pt sans-serif; }
GOOD { font: 80% sans-serif; }
GOOD { font: x-large/110% "new century schoolbook", serif; }
GOOD { font: bold italic large Palatino, serif; }
GOOD { font: normal small-caps 120%/120% fantasy; }
