/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */



GOOD { font-stretch: normal } 
GOOD { font-stretch: wider } 
GOOD { font-stretch: narrower } 
GOOD { font-stretch: ultra-condensed } 
GOOD { font-stretch: extra-condensed } 
GOOD { font-stretch: condensed } 
GOOD { font-stretch: semi-condensed } 
GOOD { font-stretch: semi-expanded } 
GOOD { font-stretch: expanded } 
GOOD { font-stretch: extra-expanded } 
GOOD { font-stretch: ultra-expanded } 
GOOD { font-stretch: inherit; } 
BAD { font-stretch: none }
BAD { font-stretch: widest; }
BAD { font-stretch: ultra-condensed expanded; }
