/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */
// Test of illegal CSS1 input.
// Illegal @ rules
@ignored;
P { color: purple }
@ignored [ skip me ];
P { color: purple }
@ignored { skip me }
P { color: purple }
@ignored ( skip me too );
P { color: purple }

// Handle dangling semi-colons. Outside the scope of the CSS1 document
// but a reasonable parser should be able to eat them.
@extra-semicolon;;
P { color: purple }

// These are all properties that have an extra keyword (fish) at the
// end. CSS1 says that such properties are to be ignored. Because the
// properties are all set in the BODY tag we can see if anything
// happens to invalid.html when this sheet is loaded (there should be
// no effect because the entire declaration block should be skipped).
BODY {
  word-spacing: normal fish;
  wOrd-spacing: 12.0em fish;
  WoRd-Spacing: 12.0eX fish;
  worD-Spacing: 12PX fish;
  word-Spacing: 12.0In fish;
  word-sPacing: 12.0cm fish;
  word-spAcing: 12.0mm fish;
  word-spaCing: 12.0pt fish;
  word-spacIng: 12.0pc fish;
  color: red fish;
  color: rgb(0, 0, 0) fish;
  color: rGb(110%, 23, 9123784328342834) fish;
  color: #f00 fish;
  color: #ff00ff fish;
  background: red none repeat scroll 20% 30% fish;
  background: none repeat scroll 20% 30% red fish;
  background: repeat scroll 20% 30% red none fish;
  background: scroll 20% 30% red none repeat fish;
  background: 20% 30% red none repeat scroll fish;
  background-color: blue fish;
  background-color: rgb(0, 0, 0) fish;
  background-color: rGb(110%, 23, 9123784328342834) fish;
  BackGround-Color: Transparent fish;
  background-image: none fish;
  background-image: url(fowl.url) fish;
  background-image: url( fowl.url ) fish;
  background-image: url( "fowl.url" ) fish;
  background-image: url( 'fowl.url' ) fish;
  background-repeat: repeat fish;
  background-repeat: repeat-x fish;
  background-repeat: repeat-y fish;
  background-repeat: no-repeat fish;
  Background-Attachment: Scroll fish;
  Background-Attachment: Fixed fish;
  background-position: 73% fish;
  background-position: -73% fish;
  background-position: +3% fish;
  background-position: +3.5% fish;
  background-position: 10% 20% fish;
  background-position: 10% 23in fish;
  background-position: 23in fish;
  background-position: 23in 10% fish;
  Background-Position: 23IN 30CM fish;
  Background-Position: top left fish;
  Background-Position: left top fish;
  Background-Position: top fish;
  Background-Position: top center fish;
  Background-Position: center top fish;
  Background-Position: right top fish;
  Background-Position: top right fish;
  Background-Position: left fish;
  Background-Position: left center fish;
  Background-Position: center left fish;
  Background-Position: right fish;
  Background-Position: right center fish;
  Background-Position: center right fish;
  Background-Position: bottom fish;
  Background-Position: bottom center fish;
  Background-Position: center bottom fish;
  Background-Position: bottom right fish;
  Background-Position: right bottom fish;
  font: italic small-caps bold 12pt helvetica
  font: italic bold small-caps 12pt helvetica
  font: small-caps bold italic 12pt helvetica
  font: small-caps italic bold 12pt helvetica
  font: bold italic small-caps 12pt helvetica
  font: bold small-caps italic 12pt helvetica
  font: bold 12pt helvetica
  font: 12pt helvetica
  font: 12pt/14pt sans-serif 27;
  font: 80% sans-serif 27;
  font: x-large/110% "new century schoolbook", serif 27;
  font: bold italic large Palatino, serif 27;
  font: normal small-caps 120%/120% fantasy 27;
  font-family: gill, helvetica, times new roman, sans-serif 27;
  font-style: normal fish;
  font-style: italic fish;
  font-style: oblique fish;
  font-variant: normal fish;
  font-variant: small-caps fish;
  font-weight: normal fish;
  font-weight: bold fish;
  font-weight: bolder fish;
  font-weight: lighter fish;
  font-weight: 100 fish;
  font-weight: 200 fish;
  font-weight: 300 fish;
  font-weight: 400 fish;
  font-weight: 500 fish;
  font-weight: 600 fish;
  font-weight: 700 fish;
  font-weight: 800 fish;
  font-weight: 900 fish;
  font-size: Xx-smAll fish;
  font-size: x-Small fish;
  font-size: Small fish;
  font-size: Medium fish;
  font-size: LaRgE fish;
  font-size: x-LaRgE fish;
  font-size: Xx-LaRgE fish;
  font-size: LaRgEr fish;
  font-size: smalLer fish;
  font-size: 3.0in fish;
  font-size: 120% fish;
  letter-spacing: normal fish;
  letter-spacing: 3.0in fish;
  text-decoration: none fish;
  text-decoration: underline fish;
  text-decoration: overline underline fish;
  text-decoration: line-through overline underline fish;
  text-decoration: blink line-through overline underline fish;
  vertical-align: baseline fish;
  vertical-align: sub fish;
  vertical-align: super fish;
  vertical-align: top fish;
  vertical-align: text-top fish;
  vertical-align: middle fish;
  vertical-align: bottom fish;
  vertical-align: text-bottom fish;
  vertical-align: 120% fish;
  text-transform: capitalize fish;
  text-transform: uppercase fish;
  text-transform: lowercase fish;
  text-transform: none fish;
  text-align: left fish;
  text-align: right fish;
  text-align: center fish;
  text-align: justify fish;
  text-indent: 3.0in fish;
  text-indent: 120% fish;
  line-height: normal fish;
  line-height: 17 fish;
  line-height: 17.0in fish;
  line-height: 17% fish;
  margin-top: 17.0in fish;
  margin-top: 120% fish;
  margin-top: auto fish;
  margin-right: 17.0in fish;
  margin-right: 120% fish;
  margin-right: auto fish;
  margin-bottom: 17.0in fish;
  margin-bottom: 120% fish;
  margin-bottom: auto fish;
  margin-left: 17.0in fish;
  margin-left: 120% fish;
  margin-left: auto fish;
  margin: 17.0in fish;
  margin: 120% fish;
  margin: auto fish;
  margin: 17.0in auto fish;
  margin: 17.0in 120% fish;
  margin: 17.0in 17.0in fish;
  margin: 120% 17.0in fish;
  margin: 120% auto fish;
  margin: 120% 120% fish;
  margin: auto 120% fish;
  margin: auto 17.0in fish;
  margin: auto auto fish;
  margin: 17.0in 17.0in 17.0in fish;
  margin: 17.0in 17.0in 120% fish;
  margin: 17.0in 17.0in auto fish;
  margin: 17.0in 120% 17.0in fish;
  margin: 17.0in auto 17.0in fish;
  margin: 17.0in 17.0in 17.0in 17.0in fish;
  margin: 17.0in 120% 17.0in 17.0in fish;
  margin: 120% 120% 17.0in 17.0in fish;
  margin: 120% 120% 120% 17.0in fish;
  margin: 120% 120% 120% 120% fish;
  padding-top: 17.0in fish;
  padding-top: 120% fish;
  padding-right: 17.0in fish;
  padding-right: 120% fish;
  padding-bottom: 17.0in fish;
  padding-bottom: 120% fish;
  padding-left: 17.0in fish;
  padding-left: 120% fish;
  padding: 17.0in fish;
  padding: 120% fish;
  padding: 17.0in 120% fish;
  padding: 17.0in 17.0in fish;
  padding: 120% 17.0in fish;
  padding: 120% 120% fish;
  padding: 17.0in 17.0in 17.0in fish;
  padding: 17.0in 17.0in 120% fish;
  padding: 17.0in 120% 17.0in fish;
  padding: 17.0in 17.0in 17.0in 17.0in fish;
  padding: 17.0in 120% 17.0in 17.0in fish;
  padding: 120% 120% 17.0in 17.0in fish;
  padding: 120% 120% 120% 17.0in fish;
  padding: 120% 120% 120% 120% fish;
  border-top-width: thin fish;
  border-top-width: medium fish;
  border-top-width: thick fish;
  border-top-width: 3.0in fish;
  border-right-width: thin fish;
  border-right-width: medium fish;
  border-right-width: thick fish;
  border-right-width: 3.0in fish;
  border-bottom-width: thin fish;
  border-bottom-width: medium fish;
  border-bottom-width: thick fish;
  border-bottom-width: 3.0in fish;
  border-left-width: thin fish;
  border-left-width: medium fish;
  border-left-width: thick fish;
  border-left-width: 3.0in fish;
  border-width: thin fish;
  border-width: 3.0in fish;
  border-width: thick thick fish;
  border-width: 3.0in thick fish;
  border-width: thin 3.0in thick fish;
  border-width: 3.0in thick thin fish;
  border-width: 3.0in thick medium fish;
  border-color: red fish;
  border-color: red blue fish;
  border-color: red blue rgb(0, 0, 0) fish;
  border-color: red blue green yellow fish;
  border-style: none fish;
  border-style: dotted fish;
  border-style: dashed fish;
  border-style: solid fish;
  border-style: double fish;
  border-style: groove fish;
  border-style: ridge fish;
  border-style: inset fish;
  border-style: outset fish;
  border-style: dashed none fish;
  border-style: dashed dotted none fish;
  border-style: dashed dotted inset none fish;
  border-top: 3.0in fish;
  border-top: thin fish;
  border-top: 3.0in dashed fish;
  border-top: thin dotted fish;
  border-top: 3.0in dashed red fish;
  border-top: thin dotted green fish;
  border-top: green thin dotted fish;
  border-top: green dotted thin fish;
  border-right: 3.0in fish;
  border-right: thin fish;
  border-right: 3.0in dashed fish;
  border-right: thin dotted fish;
  border-right: 3.0in dashed red fish;
  border-right: thin dotted green fish;
  border-right: green thin dotted fish;
  border-right: green dotted thin fish;
  border-bottom: 3.0in fish;
  border-bottom: thin fish;
  border-bottom: 3.0in dashed fish;
  border-bottom: thin dotted fish;
  border-bottom: 3.0in dashed red fish;
  border-bottom: thin dotted green fish;
  border-bottom: green thin dotted fish;
  border-bottom: green dotted thin fish;
  border-left: 3.0in fish;
  border-left: thin fish;
  border-left: 3.0in dashed fish;
  border-left: thin dotted fish;
  border-left: 3.0in dashed red fish;
  border-left: thin dotted green fish;
  border-left: green thin dotted fish;
  border-left: green dotted thin fish;
  border: 3.0in fish;
  border: thin fish;
  border: 3.0in dashed fish;
  border: thin dotted fish;
  border: 3.0in dashed red fish;
  border: thin dotted green fish;
  border: green thin dotted fish;
  border: green dotted thin fish;
  width: 3.0in fish;
  width: 120% fish;
  width: auto fish;
  height: 3.0in fish;
  height: auto fish;
  float: left fish;
  float: right fish;
  float: none fish;
  clear: none fish;
  clear: left fish;
  clear: right fish;
  clear: both fish;
  white-space: normal fish;
  white-space: pre fish;
  white-space: nowrap fish;
  list-style-type: disc fish;
  list-style-type: circle fish;
  list-style-type: square fish;
  list-style-type: decimal fish;
  list-style-type: lower-roman fish;
  list-style-type: upper-roman fish;
  list-style-type: lower-alpha fish;
  list-style-type: upper-alpha fish;
  list-style-type: none fish;
  list-style-image: none fish;
  list-style-image: url(fowl.gif) fish;
  list-style-position: inside fish;
  list-style-position: outside fish;
  list-style: disc fish;
  list-style: disc inside fish;
  list-style: inside disc fish;
  list-style: inside disc url(fowl.gif) fish;
  list-style: disc url(fowl.gif) inside fish;
  list-style: url(fowl.gif) inside disc fish;
}
P { color: purple }

// Illegal color values
InvalidColor {
  color: RGB(110;
  color: RGB(110,;
  color: RGB(110, 23;
  color: RGB(110, 23,;
  color: RGB(110, 23, 37;
  color: RGB(110, 23, fowl;
  color: RGB(110%, 23);
  color: RGB(110%);
  color: #7xy;
  color: #777888999;
  color:;
  color:#;
  color:#x;
  color:#7;
}
P { color: purple }

// Illegal numeric values
InvalidNumber {
  list-indent: 2..3;
  list-indent: 17a;
  list-indent: 1.0e25;
  list-indent: 10quadloos;
}
P { color: purple }

// Illegal url values
InvalidURL {
  background-image: url;
  background-image: url(goaway;
  background-image: url( this (is) some nonsense );
}
P { color: purple }

// Illegal rules
P[align], UL {
  color: red;
  font-size: large
}
P { color: purple }

!27 32 hike! {
  color: red;
}
P { color: purple }
