/*
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */
GOOD { margin: 17.0in; }
GOOD { margin: 120%; }
GOOD { margin: auto; }
GOOD { margin: 17.0in auto; }
GOOD { margin: 17.0in 120%; }
GOOD { margin: 17.0in 17.0in; }
GOOD { margin: 120% 17.0in; }
GOOD { margin: 120% auto; }
GOOD { margin: 120% 120%; }
GOOD { margin: auto 120%; }
GOOD { margin: auto 17.0in; }
GOOD { margin: auto auto; }
GOOD { margin: 17.0in 17.0in 17.0in; }
GOOD { margin: 17.0in 17.0in 120%; }
GOOD { margin: 17.0in 17.0in auto; }
GOOD { margin: 17.0in 120% 17.0in; }
GOOD { margin: 17.0in auto 17.0in; }
GOOD { margin: 17.0in 17.0in 17.0in 17.0in; }
GOOD { margin: 17.0in 120% 17.0in 17.0in; }
GOOD { margin: 120% 120% 17.0in 17.0in; }
GOOD { margin: 120% 120% 120% 17.0in; }
GOOD { margin: 120% 120% 120% 120%; }
