box.icon {
  margin: 1em 15px 0px 10px;
}

box#content {
  margin-top: 1em;
  margin-right: 1em;
}

box#okCancelButtons {
  margin-bottom: 0.5em;
}

table#editFields {
  margin-top: 1em;
  margin-bottom: 1em;
}

div[id="info.header"] {
  font-weight: bold;
}