/* colors */

.color-dialog
  {
    background-color      : #CCCCCC;
    color                 : #000000;
  }
  
.color-window
  {
    background-color      : #FFFFFF;
    color                 : #000000;
  }

/* inset areas */
.inset
  {
    border                : 1px inset #CCCCCC;
    margin                : 0px 5px 5px 5px;
  }
  
/* formatting */
.groove-top
  {
    border-top            : 2px groove #CCCCCC;  
  }
  
.groove-right
  {
    border-right          : 2px groove #CCCCCC;
  }
  
.groove-left
  {
    border-left           : 2px groove #CCCCCC;
  }
  
.groove-bottom
  {
    border-bottom         : 2px groove #CCCCCC;
  }
  
.outset
  {
    border                : 1px outset #CCCCCC;
  }  
  
/** separator rules **/
/* standard separators */
  separator, separator[orient="horizontal"] 
    {
      height: 1.5em;
    }
  
  separator[orient="vertical"] 
    {
      width: 1.5em;
    }

/* thinner separators (50% size) */
  separator.thin, separator.thin[orient="horizontal"] 
    {
      height: 0.5em;
    }
  
  separator.thin[orient="vertical"] 
    {
      width: 0.5em;
    }

/* groove separators (50% size) */
  separator.groove,
  separator.groove[orient="horizontal"] 
    {
      border-top: 2px groove #CCCCCC;
      height: 0px;
      margin-top: 0.4em;
      margin-bottom: 0.4em;
    }
  
  separator.groove[orient="vertical"] 
    {
      border-left: 2px groove #CCCCCC;
      margin-left: 0.4em;
      margin-right: 0.4em;
    }
  
/* groove separators (0 padding, for dividing effects) */  
  separator.groove-thin 
    {
      border-top: 2px groove #CCCCCC;
      height: 0px;
    }
  
  separator[orient="vertical"].groove-thin 
    {
      border-left: 2px groove #CCCCCC;
    }

/** text formatting rules **/
/* label (with margins) */
  text.label 
    {
      margin              : 1px 5px 2px 5px;
    }
    
  text[disabled="true"] 
    {
      color                 : #999999;
    }    
    
  html
    {
      margin              : 1px 5px 4px 5px;
      cursor              : default;
    }

  .header 
    {
      font-weight         : bold;
    }
   
  .indent
    {
      margin-left         : 20px;
    }

  .icon-dropmarker
    {
      list-style-image    : url("chrome://global/skin/scroll-down.gif");
    }
    
  .box-padded
    {
      padding             : 5px;
    }    
    
  .spaced
    {
      margin              : 3px 5px 4px 5px;
    }    