/** this should only contain XUL dialog and document window widget defaults. Defaults for widgets of
    a particular application should be in that application's style sheet.
	For example style definitions for navigator can be found in navigator.css

   THIS FILE IS LOCKED DOWN.  YOU ARE NOT ALLOWED TO MODIFY IT WITHOUT FIRST HAVING YOUR
   CHANGES REVIEWED BY hyatt@netscape.com.
**/

/* import the widget style sheets */

/* all localizable skin settings shall live here */
@import url(chrome://global/locale/intl.css);

@import url(chrome://global/skin/box.css);
@import url(chrome://global/skin/button.css);
@import url(chrome://global/skin/checkbox.css);
@import url(chrome://global/skin/radio.css);
@import url(chrome://global/skin/tree.css);
@import url(chrome://global/skin/splitter.css);
@import url(chrome://global/skin/radio.css);
@import url(chrome://global/skin/menubutton.css);
@import url(chrome://global/skin/menulist.css);
@import url(chrome://global/skin/menu.css);
@import url(chrome://global/skin/formatting.css);
@import url(chrome://global/skin/textfield.css);
@import url(chrome://global/skin/tabcontrol.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/1999/xhtml"); 

/**
 * XXX-DEBUG: HTML namespace/titledbutton striping. 
 **/ 
  html|* 
    {
      border              : 1px solid green !important;
    }
  
  html|form 
    {
      border              : none !important;
    }
  
  titledbutton 
    {
      border              : 1px solid purple !important;
    }

/**  
 * XUL <window> element
 **/
  window 
    { 
      background-color    : #FFFFFF;
      padding             : 0px;
      font-family         : Geneva, Tahoma, Helvetica, Arial, sans-serif;
    }
  
  window[wait-cursor] 
    { 
      cursor              : wait !important; 
    }
  
  window.dialog 
    { 
      background-color    : #CCCCCC;
      padding             : 7px 5px 5px 5px;
    }

/**
 * XUL <box> debugging
 **/
  :-moz-horizontal-box-debug 
    {
      border              : 2px solid blue;
      border-top-width    : 10px;
      padding             : 2px;
      margin              : 2px;
      color               : white;
    }
  
  :-moz-vertical-box-debug 
    {
      border              : 2px solid red;
      border-left-width   : 10px;
      padding             : 2px;
      margin              : 2px;
      color               : white;
    }

/**
 * Utility icons (used for alert dialogs, etc)
 **/
  .message-icon 
    {
      list-style-image    : url("chrome://global/skin/message-icon.gif");
    }

  .alert-icon 
    {
      list-style-image    : url("chrome://global/skin/alert-icon.gif");
    }
  
  .error-icon 
    {
      list-style-image    : url("chrome://global/skin/error-icon.gif");
    }
  
  .question-icon 
    {
      list-style-image    : url("chrome://global/skin/question-icon.gif");
    }

  statusbarpanel
    {
      padding             : 0px 1px 0px 1px;
    }

  .statusbar-panel-icon
    {
      margin              : 0px 2px 0px 0px;
    }

/**
 * status-bar
 */
  #status-bar 
    {
      border-top          : 1px solid #999999;
      background-color    : #CCCCCC;
      -moz-user-focus     : ignore;
      overflow            : hidden
    }

  statusbar
    {
      /*-moz-binding        : url("chrome://global/skin/globalBindings.xml#status-bar");*/
    }

  .statusbar-left
    {
      width               : 8px;
      list-style-image    : url("chrome://global/skin/gray-bottomleft.gif");
      background-position : bottom left;
    }

  .statusbar-right
    {
      width               : 8px;
      list-style-image    : url("chrome://global/skin/gray-bottomright.gif");
      background-position : bottom right;
    }

/**
 * html|iframe default sizing 
 **/
  html|iframe 
    {
      min-width           : 10px;
      min-height          : 10px;
      width               : 100px;
      height              : 100px;
      border              : none;
    }

/** 
 * XUL <progressmeter> 
 **/
  progressmeter[mode="undetermined"] > .progressmeter-internal-box
    {
      background-image    : url(chrome://global/skin/progressmeter-busy.gif);
    }
 
  progressmeter[mode="undetermined"] > .progressmeter-internal-box > .progressmeter-stack > .progressmeter-progressbar {
      visibility: collapse;
  }

  .progress-text 
    {
      font-weight         : normal !important;
    }
  
  progressmeter 
    {
      min-width           : 100px;
      margin              : 0px 4px 0px 4px;
      border              : 1px inset #CCCCCC;
    }

  progressmeter > .progressmeter-internal-box 
    {
      border              : 1px solid #000000;
    }

/* progress indicators */
  .progress-bar 
    {
	    background-color    : #6699cc;
      border-right        : 1px outset #6699cc;
    }
  
  .progress-remainder 
    {
	    background-color    : #999999;
    }

  .progressmeter-statusbar 
    {
      border              : 1px solid #999999;
      margin              : 1px 4px 1px 4px;
    }

  .progressmeter-statusbar > .progressmeter-internal-box
    {
      border              : none;
      padding             : 1px;
    }
    
  .progressmeter-progressbar[statusbar="true"] > .progress-bar
    {
      background-color    : #999999;
      border-right        : none;
    }
   
  .progressmeter-progressbar[statusbar="true"] > .progress-remainder
    {
      background-color    : #CCCCCC;
    }
    
/** XUL <scrollbar> element **/
  scrollbar 
    { 
      -moz-user-focus     : ignore; 
    } 


/* XUL <colorpicker> pieces */
.colorpickertile 
  {
    width                 : 20px;
    height                : 20px;
    margin                : 1px;
    border                : 1px inset #CCCCCC;
  }

.colorpickertile:hover 
  {
    border                : 1px solid #FFFFFF;
  }

.colorpickertile[selected="true"] 
  {
    border                : 1px solid #000000;
  }
