window {
	margin-top: 2px;
}

#multi-results-header {
	background-color: #003366; 
	color: #CCFFFF; 
	font-weight: bold;
	padding: 1px 4px 3px 6px;
	-moz-border-radius: 8px 0px 0px 0px;
}

#engineTabs {
	/*don't know why its not setting the color*/
	background-color: #666666;
}

#engineTabs > text {
	margin-top: 5px;
	color: white;
}

#engineTabs > titledbutton {
	-moz-border-radius: 8px 8px 0px 0px;
	margin-left: 5px;
	margin-right: 5px;
}