/** Contains style definitions for the navigator application 
 **/

@import url(chrome://communicator/skin/);
@import url(chrome://communicator/skin/bookmarks/bookmarks.css);
@import url(chrome://communicator/skin/sidebar/sidebar.css);

#content
  {
    border-left           : 1px solid threeddarkshadow;
    border-top            : 1px solid threeddarkshadow;
    border-right          : 1px solid threedface;
    border-bottom         : 1px solid threedface;
  }

#browser
  {
    border-left           : 1px solid threedshadow;
    border-right          : 1px solid threedhighlight;
  }  
  
#ubhist 
  {
    margin                : 0px;
    background-color      : threedface;
    list-style-image      : url("chrome://global/skin/scroll-down.gif");
  }

#ubhist > .menubutton-icon-internal-box
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
  }  

#ubhist:hover:active > .menubutton-icon-internal-box,
#ubhist[open="true"] > .menubutton-icon-internal-box
  {
    border                : 1px solid threedshadow;
  }  
  
  
#urlbar-container
  {
    padding               : 3px 2px 2px 3px;
  }  

#nav-bar-inner
  {
    min-width             : 0px;
    margin                : 8px 0px 8px 6px;
  }

  
/*
 * Rules for 'hiding' portions of the chrome for special
 * kinds of browser windows.
 */
window[chromehidden~="menubar"] .chromeclass-menubar {
	display: none;
}

window[chromehidden~="toolbar"] .chromeclass-toolbar {
        display: none;
}

window[chromehidden~="location"] .chromeclass-location {
        display: none;
}

window[chromehidden~="directories"] .chromeclass-directories {
        display: none;
}

window[chromehidden~="status"] .chromeclass-status {
        display: none;
}

window[chromehidden~="extrachrome"] .chromeclass-extrachrome {
        display: none;
}

/*
 * Images for the main buttons
 */
#back-button 
  {
    list-style-image      : url("chrome://navigator/skin/back.gif");
  }

#back-button[disabled="true"],
#back-button[disabled="true"]:hover,
#back-button[disabled="true"]:hover:active,
#back-button[disabled="true"] > .menubutton-dual-ex-button:hover,
#back-button[disabled="true"] > .menubutton-dual-ex-button:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/back-disabled.gif");
  }

#back-button:hover,
#back-button > .menubutton-dual-ex-button:hover,
#back-button[open="true"] > .menubutton-dual-ex-button
  {
    list-style-image      : url("chrome://navigator/skin/back-hover.gif");
  }

#back-button:hover:active,
#back-button > .menubutton-dual-ex-button:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/back-hover-active.gif");
  }

#forward-button 
  {
    list-style-image      : url("chrome://navigator/skin/forward.gif");
  }

#forward-button[disabled="true"],
#forward-button[disabled="true"]:hover,
#forward-button[disabled="true"]:hover:active,
#forward-button[disabled="true"] > .menubutton-dual-ex-button:hover,
#forward-button[disabled="true"] > .menubutton-dual-ex-button:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/forward-disabled.gif");
  }

#forward-button:hover,
#forward-button > .menubutton-dual-ex-button:hover,
#forward-button[open="true"] > .menubutton-dual-ex-button
  {
    list-style-image      : url("chrome://navigator/skin/forward-hover.gif");
  }

#forward-button:hover:active,
#forward-button > .menubutton-dual-ex-button:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/forward-hover-active.gif");
  }


#stop-button 
  {
	  list-style-image      : url("chrome://navigator/skin/stop.gif");
  } 

#stop-button[disabled="true"],
#stop-button[disabled="true"]:hover,
#stop-button[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/stop-disabled.gif");
  } 

#stop-button:hover
  {
    list-style-image      : url("chrome://navigator/skin/stop-hover.gif");
  } 

#stop-button:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/stop-hover-active.gif");
  } 

#reload-button 
  {
  list-style-image        : url("chrome://navigator/skin/reload.gif");
  }

#reload-button:hover
  {
  list-style-image        : url("chrome://navigator/skin/reload-hover.gif");
  }

#reload-button:hover:active
  {
  list-style-image        : url("chrome://navigator/skin/reload-hover-active.gif");
  }

#reload-button[disabled="true"],
#reload-button[disabled="true"]:hover,
#reload-button[disabled="true"]:hover:active
  {
	  list-style-image      : url("chrome://navigator/skin/reload-disabled.gif");
  }
  
/*all the urlbar stuff*/
#page-proxy-button 
  {
	  list-style-image      : url("chrome://communicator/skin/bookmarks/location.gif"); 
	  cursor                : grab;
    margin                : 0px 2px 0px 0px;
  } 

#page-proxy-button:hover
  {
	  list-style-image      : url("chrome://communicator/skin/bookmarks/location-hover.gif");
  }
  
#page-proxy-button:hover:active
  {
	  list-style-image      : url("chrome://communicator/skin/bookmarks/location-clicked.gif");
  }

#ubhist-keyword-popup 
  {
	  margin                : 0px 4px 0px 0px;
	  width                 : 10px; 
	  list-style-image      : url("chrome://global/skin/ubhist-arrow.gif"); 
  }

#content-frame 
  {
    min-width             : 0px;
    min-height            : 0px;
  }
  
#nav-bar-inner
  {
    min-width			  : 0px;
    margin				  : 8px 0px 8px 6px;
  }
  
#search-button
  {
    margin                : 1px 3px 1px 2px !important;
    list-style-image      : url("chrome://communicator/skin/search.gif");
    font-weight           : bold;
  }

#search-button:hover
  {
    list-style-image      : url("chrome://communicator/skin/search-hover.gif");
    margin                : 0px 2px 0px 1px !important;
  }
  
#search-button:hover:active
  {
    list-style-image      : url("chrome://communicator/skin/search-active.gif");
    margin                : 0px 2px 0px 1px !important;
  }

.menuitem-iconic
  {
    padding               : 2px;
  }

#print-button 
  {
    list-style-image      : url("chrome://global/skin/print.gif");
  }

#print-button[disabled="true"],
#print-button[disabled="true"]:hover,
#print-button[disabled="true"]:hover:active,
#print-button[disabled="true"] > .menubutton-dual-ex-button:hover,
#print-button[disabled="true"] > .menubutton-dual-ex-button:hover:active
  {
    list-style-image      : url("chrome://global/skin/print-disabled.gif");
  }

#print-button:hover,
#print-button > .menubutton-dual-ex-button:hover,
#print-button[open="true"] > .menubutton-dual-ex-button
  {
    list-style-image      : url("chrome://global/skin/print-hover.gif");
  }

#print-button:hover:active,
#print-button > .menubutton-dual-ex-button:hover:active
  {
    list-style-image      : url("chrome://global/skin/print-hover-active.gif");
  }

