

.box-toolbar-group
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#double-box");
    border-left           : 1px solid #9D9D9D;
    border-top            : 1px solid #9D9D9D;
    border-bottom         : 1px solid #FFFFFF;
    border-right          : 1px solid #FFFFFF;
    background-color      : #FFFFFF;
    margin                : 0px;
  }
  
.box-toolbar-group > .db-internal-box
  {
    border                : 1px solid #000000;
  }  
