
#navigator-throbber
  {
    -moz-binding          : url("chrome://global/content/xulBindings.xml#buttontop");
    border                : 1px solid #000000;
    list-style-image      : url("chrome://global/skin/animthrob_single.gif");
    margin                : 0px 2px 0px 10px;
    min-width             : 0px;
    cursor                : pointer;
    -moz-user-focus       : ignore;
  }  
  
#navigator-throbber > .button-internal-box
  {
    border-left           : 1px solid #FFFFFF;
    border-top            : 1px solid #FFFFFF;
    border-right          : 1px solid #9D9D9D;
    border-bottom         : 1px solid #9D9D9D;
    padding               : 1px;
  }
  
#navigator-throbber > .button-internal-box > .button-text-container
  {
    display               : none;
  }  

#navigator-throbber:hover:active > .button-internal-box
  {
    border-left           : 1px solid #9D9D9D !important;
    border-top            : 1px solid #9D9D9D !important;
    border-right          : 1px solid #FFFFFF !important;
    border-bottom         : 1px solid #FFFFFF !important;
    padding               : 2px 0xp 0xp 2px !important;
  }  
  
#navigator-throbber[busy="true"]
  {
    list-style-image      : url("chrome://global/skin/animthrob.gif");
  }
  
