/** The largest type of toolbar buttons. In the Seamonkey implementation, 
 *  these are only used in the navigation toolbar in the navigator package.
 **/
 
  /* outer frame */
  .button-toolbar-1, .button-toolbar-2
    {
      -moz-binding        : url("chrome://global/content/xulBindings.xml#buttontop");
      min-width           : 0px;
      margin              : 0px 1px;
      border              : 1px solid transparent;
      background-color	  : transparent;
    }

  .button-toolbar, .button-toolbar-4
    {
      -moz-binding        : url("chrome://global/content/xulBindings.xml#buttonleft");
      min-width           : 0px;
      border              : 1px solid transparent;
      background-color	  : transparent;
      max-width			  : 14em;
    }
  
  .button-toolbar
    {
  	  margin			  : 1px;
  	  border			  : 0px;
    }
  	
  .button-toolbar-4
  	{
  	  margin			  : 0px 0px 1px 0px;	
  	}  
  
  .button-toolbar-1:hover, .button-toolbar-1:hover:active, 
  .button-toolbar-2:hover, .button-toolbar-2:hover:active,
   .button-toolbar-4:hover, .button-toolbar-4:hover:active
    {
      border              : 1px solid #000000;
      color               : #0000FF;
    }
  
  .button-toolbar:hover, .button-toolbar:hover:active
    {
	  color				  : #0000FF;
  	  text-decoration	  : underline;  
    }
  

  .button-toolbar-1 > .button-internal-box,
  .button-toolbar-2 > .button-internal-box
    {
      padding             : 2px 6px 2px 5px;
      vertical-align      : middle;
      text-align          : center;
      border              : 1px solid transparent;
    }    
  
  .button-toolbar > .button-internal-box > .button-text-container
    {
      padding-left        : 4px;
    }    

  .button-toolbar > .button-internal-box
    {
      padding             : 1px 4px 1px 3px;
      vertical-align      : middle;
      text-align          : center;
    }

  .button-toolbar-4 > .button-internal-box
    {
      padding			  : 0px 1px;
      vertical-align      : middle;
      text-align          : center;
      border              : 0px;
    }
  
  .button-toolbar:hover:active > .button-internal-box
    {
	  padding			  : 1px 4px 1px 3px;
      color               : #FF0000;
    }
  
  .button-toolbar-1[disabled="true"],
  .button-toolbar-1[disabled="true"]:hover,
  .button-toolbar-1[disabled="true"]:hover:active,
  .button-toolbar[disabled="true"],
  .button-toolbar[disabled="true"]:hover,
  .button-toolbar[disabled="true"]:hover:active,    
  .button-toolbar-2[disabled="true"],
  .button-toolbar-2[disabled="true"]:hover,
  .button-toolbar-2[disabled="true"]:hover:active,
  .button-toolbar-4[disabled="true"],
  .button-toolbar-4[disabled="true"]:hover,
  .button-toolbar-4[disabled="true"]:hover:active
    {
      border              : 1px solid transparent;
      color               : #777777;
      background-color	  : transparent;
    }
    
/* internal frame */
  .button-toolbar-1:hover > .button-internal-box,
  .button-toolbar-2:hover > .button-internal-box
    {
      border-left         : 1px solid #FFFFFF;
      border-top          : 1px solid #FFFFFF;
      border-right        : 1px solid #9D9D9D;
      border-bottom       : 1px solid #9D9D9D;
    }

  .button-toolbar-1:hover > .button-internal-box,
  .button-toolbar-2:hover > .button-internal-box
    {
      color				  : #000000;
    }

  .button-toolbar-1:hover:active > .button-internal-box,
  .button-toolbar-2:hover:active > .button-internal-box
    {
      padding             : 3px 5px 1px 6px;
      border-left         : 1px solid #444444 !important;
      border-top          : 1px solid #444444 !important;
      border-right        : 1px solid #AAAAAA !important;
      border-bottom       : 1px solid #AAAAAA !important;
      color				  : #FFFFFF;
      background-color	  : #666666;
    }
    
  .button-toolbar-4:hover:active > .button-internal-box
    {
      padding			  : 0px 0px 0px 2px;
    }

  .button-toolbar-1 > .button-internal-box > .button-text-container,
  .button-toolbar > .button-internal-box > .button-text-container,
  .button-toolbar-2 > .button-internal-box > .button-text-container,
  .button-toolbar-4 > .button-internal-box > .button-text-container
    {
      text-align          : center;
    }
  
  .button-toolbar-4 > .button-internal-box > .button-icon
    { 
  	  padding			  : 0px;
    }
  
  .button-toolbar-1[disabled="true"] > .button-internal-box,
  .button-toolbar-1[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-1[disabled="true"]:hover:active > .button-internal-box,
  .button-toolbar[disabled="true"] > .button-internal-box,
  .button-toolbar[disabled="true"]:hover > .button-internal-box,
  .button-toolbar[disabled="true"]:hover:active > .button-internal-box,
  .button-toolbar-2[disabled="true"] > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover:active > .button-internal-box
    {
      padding             : 2px 6px 2px 5px;
      border              : 1px solid transparent !important;
      color				  : #777777;
      background-color	  : transparent;
    }
      

/** "Green" buttons, e.g. "Search"
 *  class="button-toolbar-3"
 **
 * The commented areas make it revert from mac button look to old classic look 
 **/  
  .button-toolbar-3 
    {
      margin                : 0px 0px 0px 3px;
      font-weight           : bold;
      -moz-user-focus:			: ignore;
      background-color	 	: transparent;
/*    -moz-binding				: url(chrome://global/content/xulBindings.xml#buttonleft);
	  background-color      : #99CCCC 
      border-left           : 1px solid #DDDDDD !important;
      border-top            : 1px solid #DDDDDD !important;
      border-right          : 1px solid black !important;
      border-bottom         : 1px solid black !important;
	  background-image		: none;
      min-width				: 8em;
      -moz-border-radius    : 3px 2px 2px 3px;
*/    }  
    
  .button-toolbar-3 > .button-internal-box
    {
      border                : 1px outset #99CCCC;
      padding               : 1px;
/*      text-align			: center;
*/    }
    
  .button-toolbar-3:hover:active > .button-internal-box 
    {
      border                : 1px inset #99CCCC;
      padding               : 2px 0px 0px 2px;
    }

/** Expanding Region Button **/

/* outer frame */
  button.expander
    {
      border              : none;
      padding             : 0px;
      margin              : 1px 5px 3px 1px;
      background-color    : inherit;
      list-style-image    : url("chrome://global/skin/twisty-closed.gif");
    }
  
  button.expander:hover:active
    {
  	  list-style-image    : url("chrome://global/skin/twisty-closed-active.gif");
    }
  
  button[open="true"].expander 
    {
      list-style-image    : url("chrome://global/skin/twisty-open.gif");
    }
    
  button.expander[open="true"]:hover:active
    {
  	  list-style-image    : url("chrome://global/skin/twisty-open-active.gif");
    }
    
/* internal frame */
  button.expander > .button-internal-box
    {
      border              : none;
      background-color    : inherit;
      padding             : 0px;
      margin              : 0px;
    }

/* text frame */
  button.expander > .button-internal-box > .button-text-container > .button-text
    {
      color               : #0000FF;
      text-decoration     : underline;
    }
    
  button.expander:hover > .button-internal-box > .button-text-container > .button-text
    {
      color               : #FF0000;
    }

menubutton.button-toolbar-4
  {
    -moz-binding          : url("chrome://global/content/menulistBindings.xml#menubutton-single-right");
  }
