/**  
 * Small Dialog Header (without icon)
 **/
.box-smallheader 
  {
    -moz-binding          : url(chrome://communicator/content/dialogBindings.xml#smallheader);
    border                : 1px inset #CCCCCC;
    margin                : 0px 5px 6px 5px;
  }

.box-smallheader-box.toolbar-primary
  {
    padding               : 0px 0px 3px 0px;
    min-height            : 0px;
    background-image      : url(chrome://communicator/skin/smallheader-bg.gif);
  }

.box-smallheader-left 
  {
    font-size             : larger;
    font-weight           : bold;
    padding-left          : 6px;
  }

.box-smallheader-right 
  {
    padding-right         : 6px;
  }

.box-smallheader > .toolbar-primary 
  {
    border                : 1px solid #000000;
    vertical-align        : middle;
    padding-top           : 3px;
  }

/** 
 * Large Dialog Header (with icon) 
 **/
.box-header 
  {
    -moz-binding          : url(chrome://global/skin/classicBindings.xml#largeheader);
    border-bottom         : 1px solid #FFFFFF;
    background-color      : #FFFFFF;
  }

.box-header-header 
  {
    border-bottom         : 1px solid #DDDDDD;
    padding               : 5px;
  }

.box-header-text-box 
  {
    vertical-align        : middle;
  }

.box-header-text 
  {
    color                 : #000000;
	font                  : 12px charcoal ! important;
    margin-left           : 7px;
  }

.box-header-icon-box  
  {
    vertical-align        : middle;
  }
  
.box-header-icon 
  {
    list-style-image      : inherit;
    margin-left           : 2px;
  }  

/**
 * Dialog status line (blue) including progress area
 **/
.box-status 
  {
    display               : none;
  }
  
