
/** Styles applying to items in a button-toolbar-3 style menu
 *  menuitem class="button-toolbar-3"
 **/
 

 
  .button-toolbar-3 > .menubutton-icon-internal-box
    {
      border                : 1px outset #99CCCC;
    }

  .button-toolbar-3[open="true"] > .menubutton-icon-internal-box,
  .button-toolbar-3:hover:active > .menubutton-icon-internal-box
    {
      border                : 1px inset #99CCCC;
    }
  
  menupopup.button-toolbar-3 
    {
      border                : 1px solid #000000;
    }
  
  menuitem.button-toolbar-3 
    {
      font-weight           : normal;
    }
   
  .button-toolbar-3[menuactive="true"]
    {
      background-color      : #669999;
      color                 : #FFFFFF;
      font-weight           : normal;
    } 
    
/** menubuttons on generic grey toolbars
 *  class="button-toolbar"
 **/ 
  .button-toolbar > .menubutton-internal-box
    {
      border				: none;
      padding               : 1px 3px 1px 3px;
    }
 
 .button-toolbar[open="true"] > .menubutton-internal-box,
 .button-toolbar:hover:active > .menubutton-internal-box
    {
      border				: none;
      padding               : 1px 3px 1px 3px;
    }
 
 .button-toolbar[open="true"], .button-toolbar-4[open="true"]
   {
     border                 : 1px solid #000000;
   }

/* toolbar menubuttons */   
 menubutton.button-toolbar, menubutton.button-toolbar-4
  {
    -moz-binding            : url("chrome://communicator/skin/menubuttonBindings.xml#menubutton-toolbar-single");
    border                  : 1px solid transparent;
  }
 
 menubutton.button-toolbar-4
  {
 	margin					: 0px 0px 1px 0px;
  }
  
 menubutton.button-toolbar:hover, menubutton.button-toolbar-4:hover
  {
    border                  : 1px solid #000000;
    text-decoration			: none;
  }
  
menubutton.button-toolbar > .menubutton-toolbar-single-internal-box
  {
    border                  : 1px solid transparent;
    padding                 : 0px 4px 0px 4px;
  }  

menubutton.button-toolbar-4 > .menubutton-toolbar-single-internal-box
  {
  	border					: 0px;
  	padding                 : 0px 4px 0px 4px;
  }

menubutton.button-toolbar-4:hover:active > .menubutton-toolbar-single-internal-box,
menubutton.button-toolbar-4[open="true"] > .menubutton-toolbar-single-internal-box
  {
  	padding					: 0px 3px 0px 5px;
  }
 
menubutton.button-toolbar:hover > .menubutton-toolbar-single-internal-box
  {
    border-left             : 1px solid #FFFFFF;
    border-top              : 1px solid #FFFFFF;
    border-right            : 1px solid #9D9D9D;
    border-bottom           : 1px solid #9D9D9D;
  }  
  
menubutton.button-toolbar:hover:active > .menubutton-toolbar-single-internal-box,
menubutton.button-toolbar[open="true"] > .menubutton-toolbar-single-internal-box,
  {
    border-left             : 1px solid #9D9D9D;
    border-top              : 1px solid #9D9D9D;
    border-right            : 1px solid #FFFFFF;
    border-bottom           : 1px solid #FFFFFF;
    padding                 : 0px 3px 0px 5px;
  }  
  
.menubutton-toolbar-single-dropmarker
  {
    padding-left            : 4px;
    list-style-image        : url("chrome://global/skin/dropmarker-up-on.gif");
  } 

