/* 
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *  
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *  
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 * 
 * Contributor(s): 
 *   
 */

@import url(chrome://communicator/skin/);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */

#import-type-radio-box {
  padding-top: 1em;
}

#import-module-list-box {
  padding: 1em 3em 2em 3em;
}

#import-module-tree-box {
  height: 8em;
  width: 20em;
  border: 1px inset white;
  margin-top: .5em;
}

#description {
  margin: 1.5em 0px 0px 0px;
  padding: 0px 2px 0px 2px;
  height: 4em;
  width: 20em;
  background-color:white;
  border:1px inset white;
}

#progressStatus {
  margin: 1em 0px 0px 0px;
}

#progressMeter {
  margin: 1em 2em 2em 1em; 
  width: 26em;
}

