/* -*- Mode: C++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 * 
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 * 
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 */

@import url(chrome://communicator/skin/);
@import url(chrome://communicator/skin/sidebar/sidebar.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */

[hide] {
 display: none;
} 

dummy.usesMailWidgets {
 -moz-binding: url(chrome://messenger/content/mailWidgets.xml#dummy);
}

spring.spacer {
    width: 5px;
    height: 5px;
}

box.cleanborder {
    margin: 10px;
    padding: 10px;
    border: 2px groove white;
    width: 100%;
}

box.padded {
    margin: 10px;
    width: 100%;
}

iframe {
 min-width: 10px;
 min-height: 10px;
 width: 100px;
 height: 100px;
}

/**
 * boxes
 */
#results_box {
	border-left: 8px solid #CCCCCC;
	min-width: 10px;
}


 
/**
 * toolbar button images
 */

#button-getmsg {
	list-style-image:url("chrome://messenger/skin/getmsg.gif");
}

#button-newmsg {
	list-style-image:url("chrome://messenger/skin/newmsg.gif");
}

#button-reply {
	list-style-image:url("chrome://messenger/skin/reply.gif");
}

#button-replyall {
	list-style-image:url("chrome://messenger/skin/replyall.gif");
}

#button-forward {
	list-style-image:url("chrome://messenger/skin/forward.gif");
}

#button-file {
	list-style-image:url("chrome://messenger/skin/file.gif");
}

#button-next {
	list-style-image:url("chrome://messenger/skin/next.gif");
}

#button-delete {
	list-style-image:url("chrome://messenger/skin/trash.gif");
}

#button-print 
  {
    -moz-binding          : url("chrome://communicator/skin/menubuttonBindings.xml#menubutton-dual-standard");
	  list-style-image      : url("chrome://global/skin/print.gif");
    margin                : 0px;
  }

#button-stop {
	list-style-image:url("chrome://global/skin/stop.gif");
}


.folderMenuItem > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-closed.gif");
}


.folderMenuItem[open="true"] > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-open.gif");
}

/* special folder */
.folderMenuItem[SpecialFolder="Inbox"] > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-inbox.gif");
}

.folderMenuItem[SpecialFolder="Inbox"][open="true"] > .menu-left
{
    list-style-image: url("chrome://messenger/skin/folder-inbox.gif");
}

.folderMenuItem[SpecialFolder="Trash"] > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-trash.gif");
}

.folderMenuItem[SpecialFolder="Trash"][open="true"] > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-trash.gif");
}

.folderMenuItem[IsServer="true"] > .menu-left
{
 list-style-image: url("chrome://messenger/skin/server-mail.gif");
}

.folderMenuItem[IsServer="true"][open="true"] > .menu-left
{
 list-style-image: url("chrome://messenger/skin/server-mail.gif");
}

/* IMAP folders */

.folderMenuItem[IsServer="true"][ServerType="imap"][IsSecure="true"] > .menu-left {
    list-style-image: url("chrome://messenger/skin/server-remote-lock.gif");
}

/* Local Servers */
.folderMenuItem[IsServer="true"][ServerType="none"] > .menu-left
{
 list-style-image: url("chrome://messenger/skin/server-local.gif");
}

/* News folders */
.folderMenuItem[ServerType="nntp"] > .menu-left {
    list-style-image: url("chrome://messenger/skin/folder-newsgroup.gif");
}

.folderMenuItem[IsServer="true"][ServerType="nntp"][IsSecure="true"] > .menu-left {
    list-style-image: url("chrome://messenger/skin/server-news-lock.gif");
}

.folderMenuItem[IsServer="true"][ServerType="nntp"] > .menu-left {
    list-style-image: url("chrome://messenger/skin/server-news.gif");
}


menu.push {
  border: 1px outset white;
  padding: 2px;
  margin: 2px;
  text-align: center;
  background-color:inherit;
  background-image: inherit;
}

menu.push:hover {
        border: 1px outset white;
        color:#003366;
        text-decoration:underline;
        padding: 2px;
}

menu.push:hover:-moz-outline {
   border : 1px solid black;
   color:#003366;
   padding: 2px;
}

menu.push:active {
  text-decoration:none;
  border: 1px inset;
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 1px;
}

menu.push[toggled="1"] {
  border: 1px white inset;
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 1px;
}

menu.push[toggled="2"] {
   background-color: lightgray;
   border: 1px solid gray;
}

menu.push:active:-moz-outline {
   border : 1px solid black;
}

menu.push[disabled="true"] {
        background-color:inherit;
        background-image: inherit;
        border : 1px solid #999999;
        color: #999999;
        text-decoration: none;
}

menu.push[disabled="true"]:hover {
        background-color:inherit;
        background-image: inherit;
        border : 1px solid #999999;
        color: #999999;
        text-decoration: none;
}

menu.push[disabled="true"]:active {
        background-color:inherit;
        background-image: inherit;
        border : 1px solid #999999;
        color: #999999;
        text-decoration: none;
}

/**
 * Make sure the min height is small so we can 
 * resize the pane vertically -EDV
 */
box#messagepanebox
{
   min-height: 10px;
   height: 0px;
}


/**
 * this belongs in the mail filter window
 */

.enabledcol {
  list-style-image: url("chrome://messenger/skin/readmail.gif");
}

.enabledcol[value="true"] {
  list-style-image: url("chrome://messenger/skin/unreadmail.gif");
}

searchattribute {
  -moz-binding: url(chrome://messenger/content/mailWidgets.xml#searchattribute);
}

searchoperator {
  -moz-binding: url(chrome://messenger/content/mailWidgets.xml#searchoperator);
}

searchvalue {
 -moz-binding: url(chrome://messenger/content/mailWidgets.xml#searchvalue);
}

searchterm {
 -moz-binding: url(chrome://messenger/content/mailWidgets.xml#searchterm);
}
