/* -*- Mode: C++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 * 
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 * 
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 */

.tree-thread-row[IsUnread="true"] {
	font-weight: bold;
}

.prioritycol[Priority="highest"]
{
	color:red;
}

.prioritycol[Priority="high"]
{
	color: rgb(128, 0, 0);
}

.prioritycol[Priority="lowest"]
{
	color: rgb(170, 170, 170);
}

.prioritycol[Priority="low"]
{
	color: rgb(85, 85, 85);
}

.tree-cell-threadpane-icon {
  list-style-image: url("chrome://messenger/skin/message-mail.gif");
  min-height: 14px;
}

.tree-cell-threadpane-icon[Status="new"] {
  list-style-image: url("chrome://messenger/skin/message-mail-new.gif");
}

.tree-cell-threadpane-icon[MessageType="news"] {
  list-style-image: url("chrome://messenger/skin/message-news.gif");
}

.tree-cell-threadpane-icon[MessageType="news"][Status="new"] {
  list-style-image: url("chrome://messenger/skin/message-news-new.gif");
}

.tree-cell-threadpane-icon[MessageType="mail"][HasAttachment="true"] {
  list-style-image: url("chrome://messenger/skin/message-mail-attach.gif");
}

.tree-cell-threadpane-icon[IsImapDeleted="true"] {
  list-style-image: url("chrome://messenger/skin/message-mail-imapdelete.gif");
}

.unreadcol {
  list-style-image: url("chrome://messenger/skin/readmail.gif");
  min-height: 14px;
}

.unreadcol[value="true"] {
  list-style-image: url("chrome://messenger/skin/unreadmail.gif");
}

.flagcol {
  list-style-image: url("chrome://messenger/skin/readmail.gif");
  min-height: 14px;
}

.flagcol[value="flagged"] {
  list-style-image: url("chrome://messenger/skin/flaggedmail.gif");
}

treeitem > treerow > .threadcol[value="thread"]{
  list-style-image: url("chrome://messenger/skin/thread-closed.gif");
}

treeitem[open="true"] > treerow > .threadcol[value="thread"]{
  list-style-image: url("chrome://messenger/skin/thread-open.gif");
}

treeitem > treerow > .threadcol[value="threadWithUnread"]{
  list-style-image: url("chrome://messenger/skin/thread-new-closed.gif");
}

treeitem[open="true"] > treerow > .threadcol[value="threadWithUnread"]{
  list-style-image: url("chrome://messenger/skin/thread-new-open.gif");
}

treecell.threadColumnHeader[currentView="threaded"] > .tree-header-image {
  list-style-image: url("chrome://messenger/skin/threadcol.gif");
}

treecell.threadColumnHeader[currentView="unthreaded"] > .tree-header-image {
  list-style-image: url("chrome://messenger/skin/unthreadcol.gif");
}

treecell.readColumnHeader > .tree-header-image {
  list-style-image: url("chrome://messenger/skin/unreadmail.gif");
}

treecell.flagColumnHeader > .tree-header-image {
  list-style-image: url("chrome://messenger/skin/flaggedmail.gif");
}

treeitem[empty="true"] > treerow > treecell > .tree-cell-twisty {               
  visibility:hidden;
 }    
