 
menubar 
  {
  background-color      : #B4C3D4;
	border-top            : 1px solid #7693B3;
  }

menubar > .toolbar-holder {
	border-bottom         : 1px solid #597899;
}
  
menu, menuitem  
  {
    color                 : #17222E;
    vertical-align        : middle;
  }

menuitem[default="true"]
  {
    font-weight           : bold;
  }  
  
menu[disabled="true"], menuitem[disabled="true"],
menu[menuactive="true"][disabled="true"],
menuitem[menuactive="true"][disabled="true"]
  {
	  color                 : #838E9B;
  }

/* XXX menupopups have to have a color explicitly specified. this is a bug */
menupopup, popup 
  {
    background-color      : #B4C3D4;
    border                : 1px outset #B4C3D4;
  }

menupopup > menu, popup > menu,
menupopup > menuitem, popup > menuitem
  {
    max-width             : 250px;
    min-width             : 125px;
    margin-left           : 0px;
    margin-right          : 0px;
    margin-top            : 0px;
    margin-bottom         : 0px;
  }

menuseparator 
  {
    border-top			  : 1px solid #7A8490;
    border-bottom         : 1px solid #FEFEFE; 
    margin                : 2px 3px;
  }

menubar > menu 
  {
    border                : 1px solid #B4C3D4;
    padding               : 1px 3px 2px 3px;
    margin                : 1px 0px 1px 0px;
  }

menupopup > menu, menupopup > menuitem,
popup > menu, popup > menuitem
  {
    padding               : 2px;
  }

menubar > menu[menuactive="true"] 
  {
  	border                : 1px outset #B4C3D4;
  }

menubar > menu[menuactive="true"][open="true"] 
  {
  	border: 1px inset #B4C3D4;
	border-bottom: none;
  }

menupopup > menu[menuactive="true"],
menupopup > menuitem[menuactive="true"],
popup > menu[menuactive="true"],
popup > menuitem[menuactive="true"]
  {
    background-color      : #486380;
    color                 : #FFFFFF;
  }


/** 
 * Atomic sub-parts of standard menus
 **/
.menu-right 
  {
    margin                : 0px 0px 0px 6px;
    width                 : 8px;
    text-align            : center;
    list-style-image      : url("chrome://global/skin/menu-arrow.gif");
  }

.menu-iconic-left 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
    width                 : 13px;
    text-align            : center;
    list-style-image      : inherit;
  }

.menubar-left 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }

.menu-iconic-text, .menu-iconic-accel, .menu-text, .menu-accel 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }

.menu-text 
  {
    padding-left          : 15px;
    font-weight           : inherit;
  }

.menu-accel 
  {
    margin-left           : 4px;
    padding-right         : 14px;
  }

.menu-iconic-accel 
  {
    margin-left           : 4px;
  }

.menubar-text 
  {
    color                 : inherit;
    margin-right          : 2px;
  }

menuitem[checked="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check.gif");
  }

menuitem[checked="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check-disabled.gif");
  }

menuitem[checked="true"][menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check-hover.gif");
  }

menuitem[checked="true"][type="radio"] 
  {
    list-style-image      : url("chrome://global/skin/menu-radio.gif");
  }

menuitem[checked="true"][type="radio"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-radio-disabled.gif");
  }

menuitem[checked="true"][type="radio"][menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-radio-hover.gif");
  }

.menu-right[disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-hover.gif");
  }

/** Tooltips (tooltip <popup> element)
 *  class="tooltip"
 **/
.tooltip
  {
    background-color      : #FFFFE7;
    border                : 1px solid #000000;
    color                 : #000000;
    font-size             : 10px;
    padding               : 2px;
    padding-right		  : 3px;
  }

/*
 * Autorepeatbutton
 */
.autorepeatbutton-up {
    list-style-image: url("chrome://global/skin/simple-arrow-up.gif")
}

.autorepeatbutton-down {
    list-style-image: url("chrome://global/skin/simple-arrow-down.gif")
}

autorepeatbutton {
  text-align: center;
  vertical-align: middle;
}

autorepeatbutton:hover {
  background-color: #336699;
}



  
  
  
  
