
/* outermost frame */
  menubutton
    {
      border              : 1px solid #000000;
      margin              : 3px 5px 3px 5px;
      -moz-border-radius  : 3px 2px 2px 3px;
    }
    
  menubutton[disabled="true"] 
    {
      border              : 1px solid #999999;
      color               : #999999;
    }
  
  menubutton > .menubutton-internal-box
    {
      border              : 1px outset #CCCCCC;
      padding             : 1px 2px 1px 2px;
      vertical-align      : middle;
    }
    
  menubutton:active > .menubutton-internal-box,
  menubutton[open="true"] > .menubutton-internal-box
    {
      /*border              : 1px inset #CCCCCC;*/
      padding             : 2px 1px 0px 3px;
    }

  .menubutton-single-icon
    {
      margin-left		  : 3px;
    }
    
/** "Dual Functionality" menubutton
 *  Has a popup spawning button and a command invoking button, e.g. back/forward
 *  class="menubutton-dual"
 **/    
  
/* inner button */
  menubutton.menubutton-dual > .menubutton-dual-button,
  menubutton.menubutton-dual:hover > .menubutton-dual-button,
  menubutton.menubutton-dual:active > .menubutton-dual-button
    {
      border              : none;
      margin              : 0px;
      -moz-border-radius  : 0px;
    }

  menubutton.menubutton-dual[open="true"] > .menubutton-dual-button > .button-internal-box
    {
      border              : 1px inset #CCCCCC;
      padding             : 3px 1px 1px 3px;  
    }
    
/* inner dropmarker */
  menubutton.menubutton-dual > .menubutton-dropmarker
    {
      border              : 1px outset #CCCCCC;
      list-style-image    : url("chrome://global/skin/simple-arrow-down.gif");
      padding             : 0px 2px 0px 2px;
    }
    
  menubutton.menubutton-dual[disabled="true"] > .menubutton-dropmarker
    {
      list-style-image    : url("chrome://global/skin/simple-arrow-down-disabled.gif");
    }

  menubutton.menubutton-dual[open="true"] > .menubutton-dropmarker
    {
      border              : 1px inset #CCCCCC;
      padding             : 1px 1px 0 3px; /* negatives not allowed -LDB */
    }

  menubutton.menubutton-dual > menupopup
    {
      min-width           : 0px;
    }
    
/** Icon only menubutton.menubutton-duals
 *  class="menubutton.menubutton-dual-icon"
 **/
  .menubutton.menubutton-dual-icon 
    {
      border              : 1px solid #000000;
      background-color    : #CCCCCC;
    } 
    
  .menubutton.menubutton-dual-icon > .menubutton.menubutton-dual-icon-internal-box
    {
      border              : 1px outset #CCCCCC;
      padding             : 1px;
    }
    
  .menubutton.menubutton-dual-icon:hover:active > .menubutton.menubutton-dual-icon-internal-box,
  .menubutton.menubutton-dual-icon[open="true"] > .menubutton.menubutton-dual-icon-internal-box
    {
      border              : 1px inset #CCCCCC;
      padding             : 2px 0px 0px 2px;
    }    
    
