/* stylesheet for XUL <radio> element */

/* default radio for dialogs */
/* outer frame */
  radio 
    {
      border: 2px solid transparent;
      margin: 0px 3px 0px 3px;
    }

  radio > .internal-box
    {
    }

  #radio:focus 
    {
      border-color: #73869C;
      -moz-border-radius  : 4px 5px 4px 5px;
    }
    
/* checkmark outer frame */
  radio > .internal-box > .checkmark-box 
    {
      margin: 3px;
    }

  radio[disabled="true"] > .internal-box > .checkmark-box,
  radio[disabled="true"]:hover > .internal-box > .checkmark-box 
    {
      //border: 1px solid #999999;
    }
    
/* checkmark inner frame */
  radio > .internal-box > .checkmark-box > image 
    {
		list-style-image: url(chrome://global/skin/check-radio.gif);
    }

  radio:hover:active > .internal-box > .checkmark-box > image 
    {
      list-style-image: url(chrome://global/skin/check-radio-pressed.gif);
    }

  radio[disabled="true"] > .internal-box > checkmark-box > image
    {
      list-style-image: url(chrome://global/skin/check-radio-disabled.gif);
    }

  /* ensure that no list-style-image is inherited in from the Outside */
  .checkmark-box
    {
      list-style-image: none;
    }

/*  Checked States */

  radio[checked="true"] > .internal-box > .checkmark-box > image 
    {
      list-style-image: url(chrome://global/skin/check-radio-check.gif);
    }
  
  radio[checked="true"][disabled="true"] > .internal-box > .checkmark-box > image
    {
      list-style-image: url(chrome://global/skin/check-radio-check-disabled.gif);
    }

  radio[checked="true"]:hover:active > .internal-box > .checkmark-box > image
    {
  	  list-style-image: url(chrome://global/skin/check-radio-check-pressed.gif);  
    }

/* text/icon frames */
  radio[value] > .internal-box > html,
  radio.iconic > .internal-box > .icon 
    {
      margin: 0px 0px 0px 0px;
      padding: 2px 2px 2px 0px;
    }

  radio.iconic > .internal-box > html 
    {
      margin-left: 2px;
    }
    
  radio[disabled="true"][value] > .internal-box > html 
    {
      color: #999999;
    }
  
