@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */

/** generic text fields (in dialogs)
 **/
 
/* outer frame */
  textfield
    {
      padding             : 0px;
      border              : 0px;
      margin              : 4px;
      background-color    : #FFFFFF;
      font                : inherit;
      color               : #000000;
      cursor              : text;
    }
  
  textfield[readonly="true"]
    {
      background-color    : #B4C3D4;
    }
  
  textfield[focused="true"]
    {
      border              : 3px solid #73869C;
      margin              : 1px;
      -moz-border-radius  : 6px;
    }
   
  textfield[focused="true"] > .textfield-internal-box
    {
      border: 1px solid black;
    }

  textfield[focused="true"][readonly="true"]
    {
      border-color: #CCCCCC;
    }

/* internal frame */
  .textfield-internal-box 
    {
      margin              : 0px;
      border              : 1px inset #B4C3D4;
      padding             : 1px 2px 1px 2px;
      cursor              : text;
      background-color    : inherit;
      color               : inherit;
    }
  
  textfield[disabled="true"] > .textfield-internal-box
    {
      background-color    : #B4C3D4;
    }
  
  .textarea-internal-box
    {
      padding             : 0px 0px 0px 2px;
    }
  
/* internal text widget */
  .textfield-input, .textfield-textarea
    {
      border              : none !important;
      margin              : 0px;
      font                : inherit;
      background-color    : inherit;
      color               : inherit;
    }

  textfield[disabled="true"] 
    {
      cursor              : default ! important;
      color               : #999999;
    } 
    
/** plain atomic textfields, class="plain" **/
  textfield.plain, 
  textfield.plain > .textfield-internal-box, 
  textfield.plain > .textarea-internal-box
    {
      padding             : 0px !important;
      margin              : 0px !important;
      border              : none !important;
    }

  .scrollfield
    {
      border              : none !important;
      margin              : 0px;
      margin-top          : 1px;      
      padding             : 0px !important;
      background          : inherit;
    }    
    
  .scrollfield > .textfield-internal-box
    {
      border              : none !important;
      margin              : 0px !important;
      padding             : 0px !important;
    }
    
    
    
