
/******** Tree widget **********/

/** basic tree ****************************************************
 *  basic tree widget for use in main windows where no decoration
 *  is required.
 **/
tree {
  background-color: white;
  border: none;
  border-spacing: 0px;
  -moz-user-focus: normal !important;
}

/** class="inset" *************************************************
 *  this is the tree class used by dialogs to create treeviews with 
 *  inset borders, and default dialog spacing.
 **/
tree.inset {
  border-top: 1px solid #666666;
  border-bottom: 1px solid white;
  border-left: 1px solid #666666;
  border-right: 1px solid white;
  margin: 1px 5px 2px 5px;
}

treecell { 
  white-space: nowrap;
  vertical-align: middle;
  padding: 0px 0px 1px 2px;
} 
 

.treecell-header { 
  border: 1px outset #C2D0D0;
  background-color: #C2D0D0; 
  padding: 0px 0px 0px 4px;
  vertical-align: middle;
  color: #000000;
} 

/*
tree.inset > treehead > treecell,
tree.inset > treehead > treerow > treecell
{
  border: 1px outset #C2D0D0;
  background-color: #C2D0D0; 
  color: #000000;
}
*/
treehead > treerow {
  border: none;
}

.treecell-header-image {
  padding: 0px;
}

.treecell-image {
  padding: 0px;
}

tree.inset > treehead > treerow > treecell.sortable:active {
  border-top: 1px solid #666666;
  border-bottom: 1px solid white;
  border-left: 1px solid #666666;
  border-right: 1px solid white;
}

/** class="propertylist" ******************************************
 *  class for cells in grid-formatted property lists.
 **/
treecell.propertylist {
  padding-left: 5px;
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
}

.tree-cell-primary-icon {
  list-style-image: inherit;
  padding-right: 2px;
}

.tree-cell-icon {
  list-style-image: inherit;
  padding-right: 2px;
}

.treecell-indent > .tree-cell-primary-icon {
  padding-left: 14px;
 }

treeitem[container="true"] > treerow > .treecell-indent > .tree-cell-primary-icon {
  padding-left: 0px;
}

.tree-cell-twisty {
 list-style-image: url("chrome://global/skin/closedtwisty.gif");
 -moz-user-focus:ignore;
 padding-right: 2px;
}

treeitem[selected="true"] > treerow {
 color: #000000;
 background-color: #CCCCCC;
}

tree:focus > treechildren treeitem[selected="true"] > treerow,
treeitem[dd-dropon="true"] > treerow {
  color: #ffffff;
	background-color: #486380;
}

treerow {
  border: 1px solid transparent;
}

tree:focus > treechildren treeitem[selected="true"][current="true"] > treerow {
  border: 1px solid #AECDCD;
}

treeitem[selected="true"] > treerow > treecell > .tree-cell-twisty {
  list-style-image: url("chrome://global/skin/closedtwisty-selected.gif");
}

.tree-cell-twisty:hover {
 text-decoration: none;
}

.tree-cell-twisty:active {
 text-decoration: none;
}

.tree-cell-twisty[disabled="true"] {
 list-style-image: none;
}

treeitem[container="true"][open="true"] > treerow > treecell > .tree-cell-twisty {
 list-style-image: url("chrome://global/skin/opentwisty.gif");
}

treeitem[selected="true"][container="true"][open="true"] > treerow > treecell > .tree-cell-twisty {
  list-style-image: url("chrome://global/skin/opentwisty-selected.gif");
}


/* tree header with sort direction indicators */
.sortDirectionIndicator[sortDirection="ascending"]  > .tree-header-sortdirection {
  list-style-image: url("chrome://global/skin/sortAscending.gif");
  margin-right: 3px;
}

.sortDirectionIndicator[sortDirection="descending"] > .tree-header-sortdirection {
  list-style-image: url("chrome://global/skin/sortDescending.gif");
  margin-right: 3px;
}

treecol[sortDirection="true"],
treecol[sortActive="true"]
  {
  }

.treecell-popup-icon
  {
    list-style-image       : url("chrome://global/skin/columnselect.gif");
  }
