/* stylesheet for XUL <checkbox> element */

/* default checkbox for dialogs */
/* outer frame */
  checkbox 
    {
      -moz-binding        : url("chrome://global/skin/classicBindings.xml#checkbox");
      margin              : 3px 5px 3px 5px;
    }

  .checkbox-checkmark-box-1
    {
      border-top          : 1px solid threedshadow;
      border-left         : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      background-color    : window;
      margin              : 2px 2px 0px 0px;
      width               : 13px;
      height              : 13px;
      -moz-user-focus     : ignore;
    }

  .checkbox-checkmark-box-1[disabled="true"]
    {
      background-color    : threedface;
    }

  .checkbox-checkmark-box-2
    {
      border-left         : 1px solid threeddarkshadow;
      border-top          : 1px solid threeddarkshadow;
      border-right        : 1px solid threedface;
      border-bottom       : 1px solid threedface;
      padding             : 1px;
      width               : 11px;
      height              : 11px;
    }  

  /* ensure that no list-style-image is inherited in from the Outside */
  .checkbox-check
    {
      list-style-image    : none;
    }

  .checkbox-check[checked="true"]
    {
      list-style-image    : url(chrome://global/skin/check-check.gif);
    }
  
  .checkbox-check[checked="true"][disabled="true"]
    {
      list-style-image    : url(chrome://global/skin/check-check-disabled.gif);
    }

  checkbox:hover:active > .checkbox-internal-box > .checkbox-checkmark-box-1
    {
      background-color    : threedface;
    }

/* text/icon frames */
  .checkbox-text
    {
      margin              : 0px 0px 0px 2px;
      padding             : 1px;
    }

  .checkbox-icon 
    {
      list-style-image    : inherit;
    }    
    
  .checkbox-text[disabled="true"]
    {
      color               : graytext;
    }
  
  checkbox:focus > .checkbox-internal-box > .checkbox-text
    { 
      border              : 1px dotted threeddarkshadow;
      padding             : 0px;
    }
    
  .checkbox-internal-box
    {
      -moz-user-focus     : none;
    }
