/** this should only contain XUL dialog and document window widget defaults. Defaults for widgets of
    a particular application should be in that application's style sheet.
	For example style definitions for navigator can be found in navigator.css

   THIS FILE IS LOCKED DOWN.  YOU ARE NOT ALLOWED TO MODIFY IT WITHOUT FIRST HAVING YOUR
   CHANGES REVIEWED BY hyatt@netscape.com.
**/

/* import the widget style sheets */

/* all localizable skin settings shall live here */
@import url(chrome://global/locale/intl.css);

@import url(chrome://global/skin/box.css);
@import url(chrome://global/skin/button.css);
@import url(chrome://global/skin/checkbox.css);
@import url(chrome://global/skin/radio.css);
@import url(chrome://global/skin/tree.css);
@import url(chrome://global/skin/splitter.css);
@import url(chrome://global/skin/radio.css);
@import url(chrome://global/skin/menubutton.css);
@import url(chrome://global/skin/menulist.css);
@import url(chrome://global/skin/menu.css);
@import url(chrome://global/skin/formatting.css);
@import url(chrome://global/skin/textfield.css);
@import url(chrome://global/skin/tabcontrol.css);
@import url(chrome://global/skin/toolbar.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); 
@namespace html url("http://www.w3.org/1999/xhtml"); 

/**
 * XXX-DEBUG: HTML namespace/titledbutton striping. 
 **/ 
  html|* 
    {
      border              : 1px solid green !important;
    }
  
  html|form 
    {
      border              : none !important;
    }
  
  titledbutton 
    {
      border              : 1px solid purple !important;
    }

/**  
 * XUL <window> element
 **/
  window 
    { 
      background-color    : threedface;
      color               : windowtext;
      padding             : 0px;
      font                : dialog, sans-serif;
    }
  
  window[wait-cursor] 
    { 
      cursor              : wait !important; 
    }
  
  window.dialog 
    { 
      background-color    : threedface;
      padding             : 7px 5px 5px 5px;
    }

/**
 * XUL <box> debugging
 **/
  :-moz-horizontal-box-debug 
    {
      border              : 2px solid blue;
      border-top-width    : 10px;
      padding             : 2px;
      margin              : 2px;
      color               : white;
    }
  
  :-moz-vertical-box-debug 
    {
      border              : 2px solid red;
      border-left-width   : 10px;
      padding             : 2px;
      margin              : 2px;
      color               : white;
    }

/**
 * Utility icons (used for alert dialogs, etc)
 **/
  .message-icon 
    {
      list-style-image    : url("chrome://global/skin/message-icon.gif");
    }

  .alert-icon 
    {
      list-style-image    : url("chrome://global/skin/alert-icon.gif");
    }
  
  .error-icon 
    {
      list-style-image    : url("chrome://global/skin/error-icon.gif");
    }
  
  .question-icon 
    {
      list-style-image    : url("chrome://global/skin/question-icon.gif");
    }

/**
 * status-bar
 */
  statusbar
    {
      background-color    : threedface;
      overflow            : hidden;
      min-width           : 1px;
      min-width			  : 1px;      // DON'T DELETE.  Removes disappearance of scrollbars in content pane when window is made smaller.
									  // Talk to evaughan@netscape.com for details.
    }
  
  statusbarpanel  
    {
      border-left         : 1px solid threedshadow;
      border-top          : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      padding             : 1px 1px 0px 1px;
      margin              : 1px;
    }

  .statusbar-panel-icon
    {
      list-style-image    : inherit;
    }    
/*  
  #status-bar 
    {
      border-top          : 1px solid threedhighlight;
  	  background-color    : threedface;
  	  -moz-user-focus     : ignore;
      overflow            : hidden
    }
*/

/**
 * html|iframe default sizing 
 **/
  html|iframe 
    {
      min-width           : 10px;
      min-height          : 10px;
      width               : 100px;
      height              : 100px;
      border              : none;
    }

/** 
 * XUL <progressmeter> 
 **/
  progressmeter[mode="undetermined"] > .progressmeter-internal-box
    {
      background-image    : url(chrome://global/skin/progressmeter-busy.gif);
    }
 
  progressmeter[mode="undetermined"] > .progressmeter-internal-box > .progressmeter-stack > .progressmeter-progressbar 
    {
      visibility          : collapse;
    }

  progressmeter 
    {
      min-width           : 100px;
      margin              : 1px;
      border-left         : 1px solid threedshadow;
      border-top          : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      background-color    : threedface;
      color               : highlighttext;
    }

  .progressmeter-internal-box
    {
      border              : 1px solid threedface;
      padding             : 1px;
    }
  
  .progressmeter-inset  
    {
      margin              : 1px 5px 2px 5px;
    }
  
  .progressmeter-inset > .progressmeter-internal-box 
    {
      border-left         : 1px solid threeddarkshadow;
      border-top          : 1px solid threeddarkshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
    }

/* progress indicators */
  .progress-bar 
    {
	    background-color    : highlight;
    }
  
/** XUL <scrollbar> element **/
  scrollbar 
    { 
      -moz-user-focus     : ignore; 
    } 


/* XUL <colorpicker> pieces */
.colorpickertile 
  {
    width                 : 20px;
    height                : 20px;
    margin                : 1px;
    border-left           : 1px solid threedshadow;
    border-top            : 1px solid threedshadow;
    border-right          : 1px solid threedhighlight;
    border-bottom         : 1px solid threedhighlight;
  }

.colorpickertile:hover 
  {
    border                : 1px solid #FFFFFF;
  }

.colorpickertile[selected="true"] 
  {
    border                : 1px solid #000000;
  }

  
  
/*  
text[disabled="true"]
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#textdisabled");
  }  
  
text[disabled="true"] > .text-top
  {
    color                 : threedshadow;
    margin                : 0px 1px 1px 0px;
  }  
  
text[disabled="true"] > .text-bottom
  {
    color                 : threedhighlight;
    margin                : 1px 0px 0px 1px;
  }

  */
