 
menubar 
  {
    background-color      : threedface;
  }

menu, menuitem  
  {
	  vertical-align        : middle;
  }

menuitem 
  {
	padding	: 0px !important; 
  }

menu[disabled="true"], menuitem[disabled="true"],
menu[menuactive="true"][disabled="true"],
menuitem[menuactive="true"][disabled="true"]
  {
	  color                 : graytext;
  }

menuitem[default="true"]
  {
    font-weight           : bold;
  }  
  
/* XXX menupopups have to have a color explicitly specified. this is a bug */
menupopup, popup 
  {
    background-color      : threedface;
    border-left           : 1px solid threedface;
    border-top            : 1px solid threedface;
    border-right          : 1px solid threeddarkshadow;
    border-bottom         : 1px solid threeddarkshadow;
    color                 : menutext !important;
  }

.popup-internal-box
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
    padding               : 1px;
  }  
  
menupopup > menu, popup > menu,
menupopup > menuitem, popup > menuitem
  {
    max-width             : 60em; /* should move to content */
    min-width             : 20em; /* should move to content */
    margin                : 0px;
  }

/* Don't display grayed items in the contextual popup menus */
/* BUGGY: DON'T UNCOMMENT UNTIL BUG #46005 IS RESOLVED (7/20/00)
popup > menuitem[disabled="true"], popup > menu[disabled="true"] 
  {
  	display				  : none;
  }
*/

menuseparator 
  {
    border-top            : 1px solid threedshadow;
    border-bottom         : 1px solid threedhighlight;
    margin                : 2px 0px 2px 0px;
  }

menubar > menu 
  {
    padding               : 2px 3px 2px 3px;
    margin                : 2px 0px 2px 0px;
    border                : 1px solid threedface;
  }

menubar > menu[menuactive="true"] 
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
  }

menubar > menu[menuactive="true"][open="true"] 
  {
    border-left           : 1px solid threedshadow;
    border-top            : 1px solid threedshadow;
    border-right          : 1px solid threedhighlight;
    border-bottom         : 1px solid threedhighlight;
  }

menupopup > menu[menuactive="true"],
menupopup > menuitem[menuactive="true"],
popup > menu[menuactive="true"],
popup > menuitem[menuactive="true"]
  {
    background-color      : highlight;
    color                 : highlighttext;
  }

/** 
 * Atomic sub-parts of standard menus
 **/
.menu-right 
  {
    margin                : 0px 0px 0px 6px;
    width                 : 8px;
    text-align            : center;
    list-style-image      : url("chrome://global/skin/menu-arrow.gif");
  }

.menu-iconic-left 
  {
    color                 : inherit;
    margin                : 0px 2px 2px 0px;
    width                 : 13px;
    text-align            : center;
    list-style-image      : inherit;
  }

/*.menu-iconic-left[menuactive="true"]
  {
  }*/ 
  
.menubar-left 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }

.menu-iconic-text, .menu-iconic-accel, .menu-text, .menu-accel 
  {
    color                 : inherit;
    margin                : 0px 2px 0px 0px;
  }

.menu-text 
  {
    margin                : 2px 2px 2px 15px;
  }

.menu-accel 
  {
    margin                : 2px 14px 2px 6px;
  }

.menu-iconic-accel 
  {
    margin-left           : 4px;
  }

.menubar-text 
  {
    color                 : inherit;
    margin-right          : 2px;
  }

menuitem[checked="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check.gif");
  }

menuitem[checked="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-check-disabled.gif");
  }

menuitem[checked="true"][type="radio"] 
  {
    list-style-image      : url("chrome://global/skin/menu-radio.gif");
  }

menuitem[checked="true"][type="radio"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-radio-disabled.gif");
  }

.menu-right[disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"][disabled="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-disabled.gif");
  }

.menu-right[menuactive="true"] 
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-hover.gif");
  }

/** Tooltips (tooltip <popup> element)
 *  class="tooltip"
 **/
.tooltip
  {
    background-color      : infobackground;
    border                : 1px outset infobackground;
    color                 : infotext;
    font                  : smaller;
    padding               : 3px;
  }

    
/*
 * Autorepeatbutton
 */
.autorepeatbutton-up {
    list-style-image: url("chrome://global/skin/scroll-up.gif")
}

.autorepeatbutton-down {
    list-style-image: url("chrome://global/skin/scroll-down.gif")
}

autorepeatbutton {
  text-align: center;
  vertical-align: middle;
}

autorepeatbutton:hover {
  background-color: highlight;
}

  
  
  
  
  
  
