/******* Splitters *******/

splitter 
  {
    cursor                : e-resize;
    background-color      : threedface;
    vertical-align        : middle;
  }

grippy, grippy[collapse="before"]
  {
    -moz-binding          : url("chrome://global/skin/classicBindings.xml#grippy");
    border                : 1px solid threedshadow;
	  list-style-image      : url("chrome://global/skin/grippy-horizontal-before.gif");
	  cursor                : pointer;
    background-color      : 
  }

grippy:hover
  {
	  background-color      : #CCCCFF;
  }

splitter[state="collapsed"] > grippy
  {
	  list-style-image      : url("chrome://global/skin/grippy-horizontal-after.gif");
  }  
  
.grippy-box
  {
    border-top            : 1px solid threedhighlight;
    border-left           : 1px solid threedhighlight;
    border-right          : 1px solid threedface;
    border-bottom         : 1px solid threedface;
  }  
  
.grippy-image
  {
    list-style-image      : inherit;
  }  
  
splitter[state="dragging"],
splitter:hover:active
  {
    background-color      : threedface;
    background-image      : url("chrome://global/skin/splitter-drag-bg.gif");
  }

/* vertical splitters */
  window > splitter, box > splitter 
    {
    	width               : 8px;
    }
  
/* horizontal splitters */  
  /* XXX we should comment out the 'align' support to force people to migrate 
         to 'orient' */
  rows > splitter,
  window[orient="vertical"] > splitter,
  box[orient="vertical"] > splitter,
  window[align="vertical"] > splitter,
  box[align="vertical"] > splitter
    {
      cursor              : n-resize;
    }

/**** NOTE *****/
/* The images below are correct, even though their names are switched. */

  window[orient="vertical"] > splitter > grippy,
  window[orient="vertical"] > splitter > grippy[collapse="before"],
  box[orient="vertical"] > splitter > grippy,
  box[orient="vertical"] > splitter > grippy[collapse="before"]
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-after.gif");
    }
    
  window[orient="vertical"] > splitter[state="collapsed"] > grippy,
  box[orient="vertical"] > splitter[state="collapsed"] > grippy
    {
      list-style-image    : url("chrome://global/skin/grippy-vertical-before.gif");
    }
