@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */

/** generic text fields (in dialogs)
 **/
 
/* outer frame */
  textfield
    {
      border-left         : 1px solid threedshadow;
      border-top          : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      font                : dialog;
      color               : #000000;
      padding             : 0px;
      margin              : 1px 5px 2px 5px;
      background-color    : #FFFFFF;
      cursor              : text;
    }
    
  textfield[readonly="true"]
    {
      background-color    : threedface;
    }
  
/* internal frame */
  .textfield-internal-box 
    {
      margin              : 0px;
      padding             : 1px 2px 1px 2px;
      cursor              : text;
      border-left         : 1px solid threeddarkshadow;
      border-top          : 1px solid threeddarkshadow;
      border-right        : 1px solid threedface;
      border-bottom       : 1px solid threedface;
      background-color    : inherit;
      color               : inherit;
    }
  
  .textarea-internal-box
    {
      border-left         : 1px solid threeddarkshadow;
      border-top          : 1px solid threeddarkshadow;
      border-right        : 1px solid threedface;
      border-bottom       : 1px solid threedface;
      padding             : 0px 0px 0px 2px;
    }
  
/* internal text widget */
  .textfield-input, .textfield-textarea
    {
      border              : none !important;
      margin              : 0px;
      font                : inherit;
      background-color    : inherit;
      color               : inherit;
    }

  textfield[disabled="true"] 
    {
      cursor              : default ! important;
      background-color    : threedface;
      color               : graytext;
    } 
    
/** plain atomic textfields, class="plain" **/
  textfield.plain, 
  textfield.plain > .textfield-internal-box, 
  textfield.plain > .textarea-internal-box
    {
      padding             : 0px !important;
      margin              : 0px !important;
      border              : none !important;
    }

  .autocomplete-icon
    {
      border              : none;
      margin              : 0px;
    }

  .autocomplete-icon > .autocomplete-icon-internal-box
    {
      border              : none;
      padding             : 0px;
      margin              : 0px;
    }  
    
  .autocomplete-icon-icon
    {
      margin              : 2px 3px 2px 3px;
      list-style-image    : inherit;
      cursor              : default !important;
    }
    
  .autocomplete-icon-input
    {
      border              : none !important;
    }    


