#wiz-back-button {
  list-style-image            : url("chrome://global/skin/scroll-left.gif");
}
#wiz-back-button[disabled] {
  list-style-image            : url("chrome://global/skin/scroll-left-disabled.gif");
}
#wiz-next-button {
  list-style-image            : url("chrome://global/skin/scroll-right.gif");
}
#wiz-next-button[disabled] {
  list-style-image            : url("chrome://global/skin/scroll-right-disabled.gif");
}

box#wizardButtons {
  margin-top                  : 3px;
}

