/* 
 * The contents of this file are subject to the Mozilla Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/MPL/
 * 
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 * 
 * The Original Code is Mozilla Communicator.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corp. Portions created by Netscape Communications
 * Corp. are Copyright (C) 1999 Netscape Communications Corp. All
 * Rights Reserved.
 * 
 * Contributor(s): Stephen Lamm <slamm@netscape.com>
 */ 

#sidebar-splitter {
    margin-right: 1px;
    margin-top: 1px;
    padding: 0px;
    border: none;
    background-color: #003366;
    -moz-binding: 
        url("chrome://communicator/skin/sidebar/sidebarSplitterBindings.xml#sidebar-splitter");
}

.sidebar-splitter-topright-cap {
    margin-left: 1px;
    height: 7px; 
    width: 7px;
    list-style-image:
        url("chrome://communicator/skin/sidebar/sidebar-topright-cap.gif"); 
}

.sidebar-splitter-bottomright-cap {
    margin-left: 1px;
    height: 7px; 
    width: 7px;
    list-style-image:
        url("chrome://communicator/skin/sidebar/sidebar-bottomright-cap.gif"); 
}

.sidebar-splitter-grippy {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    background-image:
       url("chrome://communicator/skin/sidebar/sbgrippy-left.gif"); 
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sidebar-splitter-grippy:hover,
.sidebar-splitter-grippy:active {
    background-color: transparent;
    background-image:
       url("chrome://communicator/skin/sidebar/sbgrippy-left-hover.gif"); 
}

#sidebar-splitter[state="collapsed"] > .sidebar-splitter-grippy {
    background-image:
       url("chrome://communicator/skin/sidebar/sbgrippy-right.gif"); 
}

#sidebar-splitter[state="collapsed"] > .sidebar-splitter-grippy:hover,
#sidebar-splitter[state="collapsed"] > .sidebar-splitter-grippy:active {
    background-image:
       url("chrome://communicator/skin/sidebar/sbgrippy-right-hover.gif"); 
}

.sidebar-header-grippy {
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    background-image:
       url("chrome://communicator/skin/sidebar/sbgrippy-down.gif"); 
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.sidebar-header-grippy:hover,
.sidebar-header-grippy:active {
    background-color: transparent;
    background-image:
       url("chrome://communicator/skin/sidebar/sbgrippy-down-hover.gif"); 
}

#sidebar-title-box[state="collapsed"] > .sidebar-header-grippy {
    background-color: transparent;
    background-image:
       url("chrome://communicator/skin/sidebar/sbgrippy-up.gif"); 
}

#sidebar-title-box[state="collapsed"] > .sidebar-header-grippy:hover,
#sidebar-title-box[state="collapsed"] > .sidebar-header-grippy:active {
    background-image:
       url("chrome://communicator/skin/sidebar/sbgrippy-up-hover.gif"); 
}

#sidebar-status-grippy {
    padding: 2px 2px 2px 0px;
    background-color: #003366;
    background-image:
       url("chrome://communicator/skin/sidebar/sidebar-open.gif"); 
}
#sidebar-status-grippy:hover {
    background-image:
       url("chrome://communicator/skin/sidebar/sidebar-open-hover.gif"); 
}
#sidebar-status-grippy[open="true"] {
    background-image:
       url("chrome://communicator/skin/sidebar/sidebar-close.gif"); 
}
#sidebar-status-grippy[open="true"]:hover {
    background-image:
       url("chrome://communicator/skin/sidebar/sidebar-close-hover.gif"); 
}


/**/

#sidebar-box {
    margin-top: 1px;
    border: none;
    border-bottom: 8px solid #003366;
}

.text-panel-loading {
    margin: 5px 0px;
}
.image-panel-loading {
    margin: 5px;
    list-style-image: url("chrome://global/skin/loading.gif"); 
}

/*
 *    Sidebar and Panel title buttons
 */
.sidebarheader-main {
    color: #CCFFFF;
    background-color: #003366;
    border: 0px !important;
    padding-left: 4px;
}
.sidebarheader-main > .sidebar-header-text {
    font-weight: bold;
    margin: 2px;
}

.sidebarheader-main > .sidebar-header-grippy {
    min-height: 8px;
}

#sidebar-panel-picker:hover {
    background-color: #336699;
}
#sidebar-panel-picker > .menu-right {
    list-style-image: url("chrome://global/skin/toolbar-menu-arrow.gif");
    padding-right: 2px;
}
#sidebar-panel-picker > .menu-text {
    color: #CCFFFF;
    padding-left: 4px;
}
#sidebar-panel-picker > .menu-accel {
    display: none;
}

/**
 * texttab folder lookalike e.g. for sidebar panel headers
 */
  .box-texttab
    {
      -moz-binding        : url("chrome://communicator/content/sidebar/sidebarBindings.xml#texttab");
      background-color    : #CCCCCC;
      padding-top         : 2px;
    }

  .box-texttab[selected="true"] 
    {
      border-bottom       : 1px solid #FFFFFF;
    }    
    
  .box-texttab[top-panel="true"]
    {
      background-color    : #003366;
    }
  
  .box-texttab[first-panel-after-selected="true"] 
    {
      background-color    : #FFFFFF;
    }

  .box-texttab-right-space 
    {
      width               : 30px;
      border-bottom       : 1px solid #000000;
    }

  .box-texttab[last-panel="true"] > .box-texttab-right-space 
    {
      border-bottom       : none;
    }

  .box-texttab[last-panel="true"][selected="true"] > .box-texttab-right-space 
    {
      border-bottom       : 1px solid #000000;
    } 

  .box-texttab-left
    {
      list-style-image    : url("chrome://global/skin/tab-leftedge.gif");
    }

  .box-texttab-right
    {
      list-style-image    : url("chrome://global/skin/tab-rightedge.gif");
    }

  .box-texttab[selected="true"] > .box-texttab-left
    {
      list-style-image    : url("chrome://global/skin/seltab-leftedge.gif");
    }

  .box-texttab[selected="true"] > .box-texttab-right
    {
      list-style-image    : url("chrome://global/skin/seltab-rightedge.gif");
    }

  .box-texttab-text-container
    {
      border-top          : 1px solid #000000;
      background-color    : #CCCCCC;
    }

  .box-texttab[selected="true"] > .box-texttab-text-container
    {
      background-color    : #FFFFFF;
      font-weight         : bold;
    }
    
