/*
 * The contents of this file are subject to the Mozilla Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is Mozilla JSIRC Library.
 *
 * The Initial Developer of the Original Code is New Dimensions Consulting,
 * Inc. Portions created by New Dimensions Consulting, Inc. are
 * Copyright (C) 1999 New Dimenstions Consulting, Inc. All
 * Rights Reserved.
 *
 * Contributor(s):
 *  Robert Ginda, rginda@ndcico.com, original author
 * 
 * Styles for UI, See output-default.css for output window styles
 *
 */

@import url(chrome://communicator/skin/);
/*@import url(chrome://global/skin/global.css);*/


window {

    width: 640px;
    height: 480px;

}

#outer-box {

    margin: 5px;

}

#main-splitter {
}

#views-tbar, #views-tbox {
    height: 0px;
}

.activity-button-image {

    color: black;
    background: lightgrey;

}

.activity-button-image[state="normal"] {

    list-style-image: url(chrome://chatzilla/skin/images/view-normal.gif);

}

.activity-button-image[state="activity"] {

    list-style-image: url(chrome://chatzilla/skin/images/view-activity.gif);
}

.activity-button-image[state="current"] {

    list-style-image: url(chrome://chatzilla/skin/images/view-current.gif);

}

.activity-button-image[state="attention"] {

    list-style-image: url(chrome://chatzilla/skin/images/view-attention.gif);

}

.activity-button-text {

    color: black;
    background: lightgrey;

}

.activity-button-text[state="normal"] {

}

.activity-button-text[state="activity"] {

    color: darkgreen;

}

.activity-button-text[state="current"] {
    
    color: darkcyan;

}

.activity-button-text[state="attention"] {

    color: red;

}

.status-box {

    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;

}

.status-label {
    
    text-align: right;
    margin-left: 10px;

}

.status-data {

    text-align: left;
    color: darkslategrey;
    margin-left: 5px;

}

/* Activity indicator buttons */
.activity-button {
    
    font-weight: bold;

}

.output-container {

    border: thin silver inset;
    width: 100%;

}

/* op image column */
.op-image[state="true"] {

    list-style-image: url(chrome://chatzilla/skin/images/is-op.gif)

}

.op-image[state="false"] {

    list-style-image: url(chrome://chatzilla/skin/images/isnt-op.gif)

}

/* voice image column */
.voice-image[state="true"] {

    list-style-image: url(chrome://chatzilla/skin/images/is-voice.gif)

}

.voice-image[state="false"] {

    list-style-image: url(chrome://chatzilla/skin/images/isnt-voice.gif)

}
<
