tree {
 display: table;
 background-color: white;
 border: none;
 border-spacing: 0px;
 //border-collapse: collapse;
 width: 100%;
 table-layout: fixed;
}

treeitem { 
 display: table-row; 
} 

treehead { 
 display: table-header-group; 
} 

treebody { 
 display: table-row-group; 
} 

treecell { 
 display: table-cell; 
 color: black;
 font-family: Verdana;
 font-size: 10pt;
 white-space: nowrap;
} 

treecell[selectedcell] { 
 background-color: #666699; 
 color: white;
} 
