
/** Standard toolbar buttons
 *  class="button-toolbar"
 **/
  .button-toolbar
    {
      -moz-binding          : url("chrome://global/content/xulBindings.xml#buttonleft");
      border                : 0px solid transparent;
      margin                : 0px 0px 0px 0px;
      -moz-border-radius    : 0px;
      color                 : #FFFFFF;
      padding               : 0px;
      font                  : 11px arial;
      max-width             : 10em;
      min-width             : 0px;
    }
    
  .button-toolbar:hover
    {
      border                : 0px solid #FFFFFF;
    }
  
  .button-toolbar:hover:active,
  .button-toolbar[home-dragover="true"]
    {
      border                : 0px solid #336699;
      color					: #D0E7E7;
    }
    
  .button-toolbar > .button-internal-box,
  .button-toolbar:hover > .button-internal-box,
  .button-toolbar[disabled="true"] > .button-internal-box,
  .button-toolbar[disabled="true"]:hover > .button-internal-box,
  .button-toolbar[disabled="true"]:hover:active > .button-internal-box
    {
      padding               : 1px 3px 1px 3px;
      border                : none;
    }
    
  .button-toolbar > .button-internal-box > .button-text-container,
  .button-toolbar > .button-internal-box > .button-text-container > .button-text
    {
      padding               : 0px;
      margin                : 0px;
    }

  button.bookmarkitem.button-toolbar:hover
    {
      text-decoration     : underline;
      cursor              : pointer;
    }

  .button-toolbar:hover:active > .button-internal-box
    {
      padding               : 2px 2px 0px 4px;
      border                : none;
    }
    
  .button-toolbar:hover:active[home-dragover="true"] > .button-internal-box
    {
      padding               : 1px 3px 1px 3px;
      border                : none;
    }
    
  .button-toolbar[toggled="true"]
    {
/*      border                : 0px solid #036;
      background-color      : #DFFFFF;
      -moz-border-radius    : 4px;
  */  }    

  .button-toolbar[disabled="true"],
  .button-toolbar[disabled="true"]:hover,
  .button-toolbar[disabled="true"]:hover:active
    {
      border                : 0px solid transparent;
      color					: #D0E7E7;
    }

/** The largest type of toolbar buttons. In the Seamonkey implementation, 
 *  these are only used in the navigation toolbar in the navigator package.
 **/
 
  /* outer frame */
  .button-toolbar-1
    {
      -moz-binding        : url("chrome://global/content/xulBindings.xml#buttontop");
      color               : #D0E7E7;
      margin              : 3px 2px 9px 2px;
      font-size           : smaller;
      border              : 0px;
      padding			  : 0px;
      -moz-border-radius  : 0px;
      min-width           : 0px;
      text-align		  : center;
    }
    
  .button-toolbar-1:hover 
    {
      border              : 0px;
      padding			  : 0px;
    } 

  .button-toolbar-1:hover:active
    {
      border              : 0px;
      padding			  : 0px;
      color					: #D0E7E7;
    }

  .button-toolbar-1[disabled="true"],
  .button-toolbar-1[disabled="true"]:hover,
  .button-toolbar-1[disabled="true"]:hover:active
    {
      margin              : 3px 2px 9px 2px;
      border              : none;
      color					: #D0E7E7;
      text-align		  : center;
    }
    
/* internal frame */
  .button-toolbar-1[disabled="true"] > .button-internal-box,
  .button-toolbar-1[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-1[disabled="true"]:hover:active > .button-internal-box
    {
      border              : 0px;
      padding			  : 0px;
    }
      
  .button-toolbar-1 > .button-internal-box,
  .button-toolbar-1:hover > .button-internal-box,
  .button-toolbar-1:hover:active > .button-internal-box
    {
      border              : 0px;
      vertical-align      : middle;
      padding			  : 0px;
    }
    
  .button-toolbar-1 > .button-internal-box > .button-text-container 
    {
      text-align          : center;
    }
    
/** Styles for the standard 'large' toolbar button, these buttons are used for
 *  toolbar buttons that are the most commonly used elements on a toolbar, e.g.
 *  'GetMsg' in Mailnews or 'Send' in Mail/Compose.
 **/
  .button-toolbar-2
    {
      -moz-binding		  : url(chrome://global/skin/globalBindings.xml#button-doubletext);
      color               : #D0E7E7;
      margin              : 3px 3px 1px 3px;
      font-size           : smaller;
      border              : 0px;
      padding			  : 0px;
      min-width           : 0px;
      text-align		  : center;
    }
    
  .button-toolbar-2:hover 
    {
      border              : 0px;
      padding			  : 0px;
    } 

  .button-toolbar-2:hover:active
    {
      border              : 0px;
      padding			  : 0px;
      color				  : #D0E7E7;
    }

  .button-toolbar-2[disabled="true"],
  .button-toolbar-2[disabled="true"]:hover,
  .button-toolbar-2[disabled="true"]:hover:active
    {
      border              : 0px;
      padding			  : 0px;
      color				  : #D0E7E7;
    }
    
/* internal frame */
  .button-toolbar-2[disabled="true"] > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover:active > .button-internal-box
    {
      border              : 0px;
      padding			  : 0px;
      vertical-align      : middle;
      text-align		  : center;
    }
      
  .button-toolbar-2 > .button-internal-box,
  .button-toolbar-2:hover > .button-internal-box,
  .button-toolbar-2:hover:active > .button-internal-box
    {
      border              : 0px;
      padding			  : 0px;
    }
  
/* text wrapper frame */
  .button-toolbar-2 > .button-internal-box > .button-text-container 
    {
      text-align          : center;
      margin			  : 0px;
      border              : 0px;
      margin-top		  : -1px;
    }

  .button-text-shadow
    {
      margin			  : 1px 0px 0px 3px;
      color				  : #394B6E;
    }

  .button-text-shadow[disabled="true"]
	{
	  display			  : none;
	}

  .button-toolbar-2[disabled="true"] > .button-internal-box > .button-text-container > stack > .button-text
	{
	  color: #425D84;
	}


/** "Green" buttons, e.g. "Search"
 *  class="button-toolbar-3"
 **/  
  button.button-toolbar-3 
    {
	  -moz-binding			: url("chrome://global/skin/globalBindings.xml#three-slice-button");
      background-color : transparent;
      border				: 0px;
      margin				: 3px 7px 2px 0px;
      font-family   : Arial, sans-serif;
    }

  .button-toolbar-3 > box > box > .button-text-box {
      font-weight           : bold;
  }

  button.button-toolbar-3[disabled="true"], .button-toolbar-3[disabled="true"]:hover, .button-toolbar-3[disabled="true"]:hover:active
    {
      border				: 0px;
    }

/** Expanding Region Button **/

/* outer frame */
  button.expander
    {
      border              : none;
      padding             : 0;
      margin              : 1px 5px 3px 1px;
      background-color    : inherit;
      list-style-image    : url("chrome://global/skin/closedtwisty.gif");
    }
    
  button[open="true"].expander 
    {
      list-style-image    : url("chrome://global/skin/opentwisty.gif");
    }
    
/* internal frame */
  button.expander > .button-internal-box
    {
      border              : none;
      background-color    : inherit;
      padding             : 0;
      margin              : 0;
    }

/* text frame */
  button.expander > .button-internal-box > .button-text-container > .button-text
    {
      color               : #0000FF;
      text-decoration     : underline;
    }
    
  button.expander:hover > .button-internal-box > .button-text-container > .button-text
    {
      color               : #FF0000;
    }

/** 
 * button styles for taskbar, sidebar headers, etc.
 **/
.button-toolbar-4
  {
    -moz-binding          : url("chrome://global/content/xulBindings.xml#buttonleft");
    color                 : #D0E7E7;
    background            : inherit;
    font                  : inherit;
    padding               : 1px;
    margin                : 0px;
    min-width			  : 0px;
    border				  : 0px;
  }

.button-toolbar-4:hover 
  {
    text-decoration       : none;
  }

.button-toolbar-4:hover:active 
  {
    text-decoration       : none;
    color                 : #CCFFFF;
  }
  
menubutton.button-toolbar-4
  {
    -moz-binding          : url("chrome://global/content/menulistBindings.xml#menubutton-single-right") !important;
	margin				  : 0px 6px;
    min-width             : 0px;
  }

.button-toolbar-4 > .menubutton-internal-box > .menubutton-single-icon
  {
      list-style-image	  : url(chrome://global/skin/mb-single-arrow.gif);
  }

.button-toolbar-4 > .button-internal-box,
.button-toolbar-4 > .menubutton-internal-box
  {
    border                : 0px !important;
    padding               : 0px !important;
  }  
