#security-button 
  {
    list-style-image:url("chrome://communicator/skin/unlock.gif");
    margin-right	:14px;
  }

#security-button[level="high"] 
  {
    list-style-image:url("chrome://communicator/skin/lock.gif");        
  }

#security-button[level="low"] 
  {
    list-style-image:url("chrome://communicator/skin/lock.gif");        
  }

#security-button[level="broken"] 
  {
    list-style-image:url("chrome://communicator/skin/broken.gif");        
  }

