#mini-nav 
  {
	  list-style-image      : url("chrome://global/skin/taskbar-navigator.gif");
  }

#mini-nav:hover:active 
  {
	  list-style-image      : url("chrome://global/skin/taskbar-navigator-clicked.gif");
  }

#mini-mail
  {
	  list-style-image      : url("chrome://global/skin/taskbar-mail.gif");
  }

#mini-mail:hover:active
  {
	  list-style-image      : url("chrome://global/skin/taskbar-mail-clicked.gif");
  }

#mini-mail[BiffState="NewMail"]
  {
	  list-style-image      : url("chrome://global/skin/taskbar-mailnew.gif");
  }

#mini-addr 
  {
	  list-style-image      : url("chrome://global/skin/taskbar-addressbook.gif");
  }

#mini-addr:hover:active
  {
	  list-style-image      : url("chrome://global/skin/taskbar-addressbook-clicked.gif");
  }

#mini-comp 
  {
	  list-style-image      : url("chrome://global/skin/taskbar-composer.gif");
  }

#mini-comp:hover:active
  {
	  list-style-image      : url("chrome://global/skin/taskbar-composer-clicked.gif");
  }

#taskbar
  {
    -moz-binding		  : url(chrome://global/skin/globalBindings.xml#taskbar);
    min-height            : 1em;
    -moz-user-focus       : ignore;
  }

.taskbar-image-middle
  {
	background			  : url(chrome://global/skin/taskbar-bg.gif) repeat-x;
	height				  : 17px;
  }

.taskbar-image-right
  {
	background			  : url(chrome://global/skin/taskbar-bg-right.gif) no-repeat;
	width				  : 12px;
	height				  : 17px;  
  }

.taskbutton 
  {
	margin-right          : -4px;
	margin-left			  : 0px;
	padding				  : 0px;
  }

.taskbarspacer
  {
  	max-width				  : 0px;
  }

#taskbarMenuBox 
  {
	-moz-binding      : url(chrome://global/skin/globalBindings.xml#taskbar-menu-box);
	-moz-user-focus	  : ignore;
  }

.taskbar-mb-image-left
  {
	background			  : url(chrome://global/skin/taskbar-groove-left.gif) no-repeat;
	width				  : 6px;
	height				  : 17px;
  }

.taskbar-mb-middle-border-outer
  {
	border-top			  : 1px solid #5A728E;
  }

.taskbar-mb-middle-border-middle
  {
	border-top			  : 1px solid #2B3746;
  }

.taskbar-mb-middle-border-inner
  {
	border-top			  : 1px solid #A9BED8;
  }

.taskbar-mb-image-right
  {
	background			  : url(chrome://global/skin/taskbar-groove-right.gif) no-repeat;
	width				  : 7px;
	height				  : 17px;
  }
  
/* hide goto menu bug #47633 */ 
#taskbarGotoMenuBox{
	display:none;	
}  
