<title>Test</title>
<style type="text/css">
table { 
        border-collapse: collapse; 
        border: 1px solid black;
}
tr {
  border-top: 4 px solid red;
}
</style>

<body>

<table>
<tbody id="mytable">
</tbody>
</table>

<script type="text/javascript">



mytable = document.getElementById("mytable");

dump("before\n");
var newrow = mytable.insertRow(0);
dump("after row insert\n");
var newcell = newrow.insertCell(0);
dump("after cell insert\n");
var text = document.createTextNode("here is content in the cell from the script appendRowGroupWithContent\n");
newcell.appendChild(text);



</script>

</body>
