this table should be center aligned
<BR>
<table align=center border=1>
 <tr><td>foo</td></tr>
</table>

this div should be center aligned with an image and a table centered in it
<BR>
<DIV ALIGN=CENTER>
<IMG width=50 height=50 SRC="file://s:/mozilla/dist/win32_d.obj/bin/res/samples/raptor.jpg">
<TABLE border=1 WIDTH=600>
<TR><TD>foo</TD></TR>
</TABLE>
</DIV>

