<hr style="border: 2px solid black; width:1000px" align=left>
<BR>
<TABLE width="640" cellpadding="0" cellspacing="0">
 <TR>
  <TD COLSPAN="3" WIDTH="640">
   <IMG SRC="../images/raptor.jpg" WIDTH="640" HEIGHT="25" BORDER="1" ALT="EarthWeb"></td>
 <TR>
  <TD WIDTH="150"><IMG SRC="../images/raptor.jpg" WIDTH="100" HEIGHT="78" BORDER="1" 
   ALT="programmers resources at developer.com">
  <TD><img src="raptor.jpg" WIDTH="40" HEIGHT="1"></TD>
  <TD>
   <img src=../images/raptor.jpg ALT="Click Here!" BORDER="1" ><BR>
   Click Here!
 </tr>
</table>
