<title>Test</title>
<style type="text/css">
table { border-collapse: collapse; }
</style>

<body>

<table border>
<tbody id="mytable">
</tbody>
</table>

<script type="text/javascript">


mytable = document.getElementById("mytable");

dump("before\n");
var newrow = mytable.insertRow(0);
dump("after\n");


</script>

</body>
