/* -*- Mode: C++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 * 
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 * 
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 */

@import url(chrome://communicator/skin/);
@import url(chrome://communicator/skin/sidebar/sidebar.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */

[hide] 
  {
    display               : none;
  } 

/**
 * toolbar button images
 */
#button-getmsg 
  {
	  list-style-image      : url("chrome://messenger/skin/getmsg.gif");
  } 

#button-getmsg[disabled="true"],
#button-getmsg[disabled="true"]:hover,
#button-getmsg[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/getmsg-disabled.gif");
  } 

#button-getmsg:hover
  {
    list-style-image      : url("chrome://messenger/skin/getmsg-hover.gif");
  } 

#button-getmsg:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/getmsg-hover-active.gif");
  } 

#button-newmsg 
  {
	  list-style-image      : url("chrome://messenger/skin/newmsg.gif");
  } 

#button-newmsg[disabled="true"],
#button-newmsg[disabled="true"]:hover,
#button-newmsg[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/newmsg-disabled.gif");
  } 

#button-newmsg:hover
  {
    list-style-image      : url("chrome://messenger/skin/newmsg-hover.gif");
  } 

#button-newmsg:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/newmsg-hover-active.gif");
  } 

#button-reply 
  {
	  list-style-image      : url("chrome://messenger/skin/reply.gif");
  } 

#button-reply[disabled="true"],
#button-reply[disabled="true"]:hover,
#button-reply[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/reply-disabled.gif");
  } 

#button-reply:hover
  {
    list-style-image      : url("chrome://messenger/skin/reply-hover.gif");
  } 

#button-reply:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/reply-hover-active.gif");
  } 

#button-replyall 
  {
	  list-style-image      : url("chrome://messenger/skin/replyall.gif");
  } 

#button-replyall[disabled="true"],
#button-replyall[disabled="true"]:hover,
#button-replyall[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/replyall-disabled.gif");
  } 

#button-replyall:hover
  {
    list-style-image      : url("chrome://messenger/skin/replyall-hover.gif");
  } 

#button-replyall:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/replyall-hover-active.gif");
  } 

#button-forward 
  {
	  list-style-image      : url("chrome://messenger/skin/forward.gif");
  } 

#button-forward[disabled="true"],
#button-forward[disabled="true"]:hover,
#button-forward[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/forward-disabled.gif");
  } 

#button-forward:hover
  {
    list-style-image      : url("chrome://messenger/skin/forward-hover.gif");
  } 

#button-forward:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/forward-hover-active.gif");
  } 

#button-file 
  {
	  list-style-image      : url("chrome://messenger/skin/file.gif");
  } 

#button-file[disabled="true"],
#button-file[disabled="true"]:hover,
#button-file[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/file-disabled.gif");
  } 

#button-file:hover
  {
    list-style-image      : url("chrome://messenger/skin/file-hover.gif");
  } 

#button-file:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/file-hover-active.gif");
  } 

#button-next 
  {
	  list-style-image      : url("chrome://messenger/skin/next.gif");
  } 

#button-next[disabled="true"],
#button-next[disabled="true"]:hover,
#button-next[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/next-disabled.gif");
  } 

#button-next:hover
  {
    list-style-image      : url("chrome://messenger/skin/next-hover.gif");
  } 

#button-next:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/next-hover-active.gif");
  } 

#button-delete 
  {
	  list-style-image      : url("chrome://messenger/skin/trash.gif");
  } 

#button-delete[disabled="true"],
#button-delete[disabled="true"]:hover,
#button-delete[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/trash-disabled.gif");
  } 

#button-delete:hover
  {
    list-style-image      : url("chrome://messenger/skin/trash-hover.gif");
  } 

#button-delete:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/trash-hover-active.gif");
  } 

#button-print {
	list-style-image:url("chrome://global/skin/print.gif");
}

#button-print 
  {
    list-style-image      : url("chrome://global/skin/print.gif");
  }

#button-print[disabled="true"],
#button-print[disabled="true"][buttonover="true"],
#button-print[disabled="true"][buttondown="true"]
  {
    list-style-image      : url("chrome://global/skin/print-disabled.gif");
  }

#button-print[buttonover="true"]
  {
    list-style-image      : url("chrome://global/skin/print-hover.gif");
  }

#button-print[buttondown="true"]
  {
    list-style-image      : url("chrome://global/skin/print-hover-active.gif");
  }

#button-stop 
  {
	  list-style-image      : url("chrome://global/skin/stop.gif");
  } 

#button-stop[disabled="true"],
#button-stop[disabled="true"]:hover,
#button-stop[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://global/skin/stop-disabled.gif");
  } 

#button-stop:hover
  {
    list-style-image      : url("chrome://global/skin/stop-hover.gif");
  } 

#button-stop:hover:active
  {
    list-style-image      : url("chrome://global/skin/stop-hover-active.gif");
  } 


.folderMenuItem 
  {
    list-style-image      : url("chrome://messenger/skin/folder-closed.gif");
  }


.folderMenuItem[open="true"] 
  {
    list-style-image      : url("chrome://messenger/skin/folder-open.gif");
  }

/* special folder */
.folderMenuItem[SpecialFolder="Inbox"] 
  {
    list-style-image      : url("chrome://messenger/skin/folder-inbox.gif");
  }

.folderMenuItem[SpecialFolder="Inbox"][open="true"]
  {
    list-style-image      : url("chrome://messenger/skin/folder-inbox.gif");
  }

.folderMenuItem[SpecialFolder="Trash"] 
  {
    list-style-image      : url("chrome://messenger/skin/folder-trash.gif");
  }

.folderMenuItem[SpecialFolder="Trash"][open="true"]
  {
    list-style-image      : url("chrome://messenger/skin/folder-trash.gif");
  }

.folderMenuItem[IsServer="true"]
  {
    list-style-image      : url("chrome://messenger/skin/server-mail.gif");
  }

.folderMenuItem[IsServer="true"][open="true"]
  {
    list-style-image      : url("chrome://messenger/skin/server-mail.gif");
  }

/* IMAP folders */
.folderMenuItem[IsServer="true"][ServerType="imap"][IsSecure="true"]
  {
    list-style-image      : url("chrome://messenger/skin/server-remote-lock.gif");
  }

/* Local Servers */
.folderMenuItem[IsServer="true"][ServerType="none"]
  {
    list-style-image      : url("chrome://messenger/skin/server-local.gif");
  }

/* News folders */
.folderMenuItem[ServerType="nntp"] 
  {
    list-style-image      : url("chrome://messenger/skin/folder-newsgroup.gif");
  }

.folderMenuItem[IsServer="true"][ServerType="nntp"][IsSecure="true"]
  {
    list-style-image      : url("chrome://messenger/skin/server-news-lock.gif");
  }

.folderMenuItem[IsServer="true"][ServerType="nntp"]
  {
    list-style-image      : url("chrome://messenger/skin/server-news.gif");
  }

/**
 * this belongs in the mail filter window
 */

.enabledcol 
  {
    list-style-image      : url("chrome://messenger/skin/readmail.gif");
  }

.enabledcol[value="true"] 
  {
    list-style-image      : url("chrome://messenger/skin/unreadmail.gif");
  }

.usesMailWidgets 
  {
    -moz-binding          : url(chrome://messenger/content/mailWidgets.xml#dummy);
  }

searchattribute 
  {
    -moz-binding          : url(chrome://messenger/content/mailWidgets.xml#searchattribute);
  }

searchoperator 
  {
    -moz-binding          : url(chrome://messenger/content/mailWidgets.xml#searchoperator);
  }

searchvalue 
  {
    -moz-binding          : url(chrome://messenger/content/mailWidgets.xml#searchvalue);
  }

searchterm 
  {
    -moz-binding          : url(chrome://messenger/content/mailWidgets.xml#searchterm);
  }

/* addressing widget trees */
.treecell-mailcardicon
  {
    border-bottom       : 1px solid #CACAFF !important;
    padding             : 0px;
  }
  
.textfield-mailcardicon
  {
    list-style-image    : url("chrome://messenger/skin/abcard.gif");
  }

/* for the main standard mail window ONLY */    
.mailwindow-statusbar
  {
    border-left         : none;
  }
  
#messagepane
  {
    border-left         : 1px solid #000000;
    border-top          : 1px solid #000000;
    border-right        : 1px solid #DDDDDD;
    border-bottom       : 1px solid #DDDDDD;
  }  
  
  
#sidebar-splitter
  {
    border-right        : 1px solid #9D9D9D;
  }
    
#threadpane-splitter
  {
    border-left         : 1px solid #FFFFFF;
  }
    
#messagepanebox
  {
    border-right        : 1px solid #FFFFFF;
  }
  
  

/** 
 *Focus rings on 3 pane view
 */

#folderTree{
	border: 2px solid transparent !important;
} 
 
#folderTree:focus{
	border: 2px solid black !important;
} 
  
  
.window-focusborder[focusring="true"]{
 border:2px solid black;
}

.window-focusborder[focusring="false"]{
 border:2px solid transparent;
} 
 
 
  
  
  
      
