/* 
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *  
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *  
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 2000 Netscape Communications Corporation. All
 * Rights Reserved.
 * 
 * Contributor(s): 
 *   Dan Haddix
 *   Brian King
 */

.rect {position:absolute; top:1px; left:1px; height:1px; width:1px; border: 1 solid #0000ff;}
.cir {position:absolute; top:1px; left:1px; height:1px; width:1px; border: 1 solid #00ff00; -moz-border-radius: 50%;}
.poly {position:absolute; top:0px; left:0px; height:100%; width:100%;}
.point {position:absolute; top:1px; left:1px; height:3px; width:3px; background-color:#ff0000;}
.pointStart {position:absolute; top:1px; left:1px; height:3px; width:3px; background-color:#8000ff;}
.handletl {position:absolute; top:-5px; left:-5px; height:5px; width:5px; background-color:#ff00ff;}
.handletr {position:absolute; top:-5px; left:100%; height:5px; width:5px; background-color:#ff00ff;}
.handlebl {position:absolute; top:100%; left:-5px; height:5px; width:5px; background-color:#ff00ff;}
.handlebr {position:absolute; top:100%; left:100%; height:5px; width:5px; background-color:#ff00ff;}
.handlel {position:absolute; top:48%; left:-5px; height:5px; width:5px; background-color:#ff00ff;}
.handler {position:absolute; top:48%; left:100%; height:5px; width:5px; background-color:#ff00ff;}
.handlet {position:absolute; top:-5px; left:48%; height:5px; width:5px; background-color:#ff00ff;}
.handleb {position:absolute; top:100%; left:48%; height:5px; width:5px; background-color:#ff00ff;}
#marquee {position:absolute; top:1px; left:-5px; height:-5px; width:1px; border: 1 dashed #0000ff; z-index:10000; visibility: hidden;}
#bgDiv {position:absolute; top:0px; left:0px; width:1; background:url("chrome://editor/skin/images/Map_checker.gif"); background-color: white; cursor: inherit;}
BODY {background-color:appworkspace;}
HTML {height: 100%;}
IMG {-moz-opacity: .99;}
