/** The largest type of toolbar buttons. In the Seamonkey implementation, 
 *  these are only used in the navigation toolbar in the navigator package.
 **/
 
  /* outer frame */
  .button-toolbar-1, .button-toolbar-2
    {
      background-color    : transparent;
      -moz-binding        : url("chrome://global/content/xulBindings.xml#buttontop");
      min-width           : 47px;
      margin              : 0px;
      border              : 1px solid transparent;
      -moz-user-focus     : ignore;
    }

  .button-toolbar-1:hover, .button-toolbar-2:hover
    {
      border              : 1px solid threeddarkshadow;
      color               : #0000FF;
    } 
    
  .button-toolbar-1 > .button-internal-box,
  .button-toolbar-2 > .button-internal-box
    {
      padding             : 2px 7px 2px 6px;
      vertical-align      : middle;
      text-align          : center;
      border              : 1px solid transparent;
    }    
    
  .button-toolbar-1[disabled="true"],
  .button-toolbar-1[disabled="true"]:hover,
  .button-toolbar-1[disabled="true"]:hover:active,
  .button-toolbar-2[disabled="true"],
  .button-toolbar-2[disabled="true"]:hover,
  .button-toolbar-2[disabled="true"]:hover:active
    {
      border              : 1px solid transparent;
      color               : graytext;
    }

  .button-toolbar-1[disabled="true"]:hover:active > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover:active > .button-internal-box
    {
      color               : graytext;
    }

  .button-toolbar-1:hover > .button-internal-box,
  .button-toolbar-2:hover > .button-internal-box
    {
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
    }

  .button-toolbar-1:hover:active > .button-internal-box,
  .button-toolbar-2:hover:active > .button-internal-box
    {
      padding             : 3px 6px 1px 7px;
      border-left         : 1px solid threedshadow !important;
      border-top          : 1px solid threedshadow !important;
      border-right        : 1px solid threedhighlight !important;
      border-bottom       : 1px solid threedhighlight !important;
      color               : #000080;
    }
    
  .button-toolbar-1[disabled="true"] > .button-internal-box,
  .button-toolbar-1[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-1[disabled="true"]:hover:active > .button-internal-box,
  .button-toolbar-2[disabled="true"] > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover:active > .button-internal-box
    {
      padding             : 2px 7px 2px 6px !important;
      border              : 1px solid transparent !important;
    }

  .button-toolbar-1 > .button-internal-box > .button-text-container,
  .button-toolbar-2 > .button-internal-box > .button-text-container
    {
      text-align          : center;
    }
          
/**
 * Standard Toolbar Buttons
 *   for secondary command toolbars, e.g. formatting toolbar 
 **/
  .button-toolbar
    {
      -moz-binding        : url("chrome://global/content/xulBindings.xml#buttonleft");
      min-width           : 0px;
      margin              : 0px 1px 0px 1px; 
      border              : 1px solid transparent;
      -moz-user-focus     : ignore;
      max-width           : 14em;
    }

  .button-toolbar > .button-internal-box
    {
      border              : 1px solid transparent;
  	  padding             : 1px 3px 1px 3px;
    }
    
  /* toggled toolbar styles (editor formatting toolbars, etc) */
  .button-toolbar[toggled="true"] > .button-internal-box
    {
      border-left         : 1px solid threedshadow;
      border-top          : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      background-color	  : threedface;
      background-image    : url("chrome://global/skin/scrollbar-slider-bg.gif");
    }
    
  .button-toolbar[toggled="true"]:hover > .button-internal-box
    {
      border-left         : 1px solid threedshadow;
      border-top          : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      background-color	  : threedface;
      background-image    : none;
    }
    
  .button-toolbar[value] > .button-internal-box > .button-text-container
    {
      padding-left        : 4px;
    }    

  .button-toolbar:hover
    {
      border              : 1px solid threeddarkshadow;
    }
    
  .button-toolbar:hover > .button-internal-box
    { 
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
      color               : #0000FF;
    }
    
  .button-toolbar:hover:active > .button-internal-box
    {
      padding             : 2px 2px 0px 4px;
      border-left         : 1px solid threedshadow;
      border-top          : 1px solid threedshadow;
      border-right        : 1px solid threedhighlight;
      border-bottom       : 1px solid threedhighlight;
      color               : #000080;
    }
    
  .button-toolbar[disabled="true"],
  .button-toolbar[disabled="true"]:hover,
  .button-toolbar[disabled="true"]:hover:active    
    {
      color               : graytext;
      border              : 1px solid transparent;
    }

  .button-toolbar[disabled="true"] > .button-internal-box,
  .button-toolbar[disabled="true"]:hover > .button-internal-box,
  .button-toolbar[disabled="true"]:hover:active > .button-internal-box
    {
  	  padding             : 1px 3px 1px 3px !important;
    }
    
/**
 * Low profile toolbar buttons
 *   e.g. taskbar
 **/
  .button-toolbar-4    
    {
      background-color    : transparent;
      -moz-binding        : url("chrome://global/content/xulBindings.xml#buttonleft");
      min-width           : 0px;
      margin              : 0px;
      border              : 1px solid transparent;
      -moz-user-focus     : ignore;
    }
    
  .button-toolbar-4 > .button-internal-box
    {
      padding             : 0px;
      border              : 1px solid transparent;
      vertical-align      : middle;
      text-align          : center;
    }
  
  .button-toolbar-4:hover
    {
      border              : 1px solid threeddarkshadow;
      color               : #0000FF;
    } 
    
  .button-toolbar-4[disabled="true"],
  .button-toolbar-4[disabled="true"]:hover,
  .button-toolbar-4[disabled="true"]:hover:active
    {
      border              : 1px solid transparent;
      color               : graytext;
    }
    
  .button-toolbar-4:hover > .button-internal-box
    {
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
    }

  .button-toolbar-4:hover:active > .button-internal-box
    {
      padding             : 0px;
      border-left         : 1px solid threedshadow !important;
      border-top          : 1px solid threedshadow !important;
      border-right        : 1px solid threedhighlight !important;
      border-bottom       : 1px solid threedhighlight !important;
    }

  .button-toolbar-4 > .button-internal-box > .button-text-container
    {
      text-align          : center;
    }
    
  .button-toolbar-4[disabled="true"] > .button-internal-box,
  .button-toolbar-4[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-4[disabled="true"]:hover:active > .button-internal-box
    {
      padding             : 0px !important;
      border              : 1px solid transparent !important;
    }

  menubutton.button-toolbar-4
    {
      -moz-binding          : url("chrome://global/content/menulistBindings.xml#menubutton-single-right");
    }

/** Low profile rollover buttons, e.g. "search"
 **/  
  .button-toolbar-3,
  .button-toolbar-3[disabled="true"],
  .button-toolbar-3[disabled="true"]:hover,
  .button-toolbar-3[disabled="true"]:hover:active
    {
      -moz-binding          : url("chrome://global/content/xulBindings.xml#buttonleft");
      margin                : 1px 1px 2px 4px !important;
      border                : 0px;
      background-color      : threedface;
      min-width             : 0px;
      -moz-user-focus       : ignore;
    }  
    
  .button-toolbar-3:hover, .button-toolbar-3:hover:active
    {
      margin                : 0px 0px 1px 3px !important;
      border                : 1px solid threeddarkshadow;
    }
    
  .button-toolbar-3 > .button-internal-box,
  .button-toolbar-3 > .button-internal-box[disabled="true"],
  .button-toolbar-3:hover > .button-internal-box[disabled="true"],
  .button-toolbar-3:hover:active > .button-internal-box[disabled="true"]
    {
      border-left           : 1px solid threedhighlight !important;
      border-top            : 1px solid threedhighlight !important;
      border-right          : 1px solid threedshadow !important;
      border-bottom         : 1px solid threedshadow !important;
      padding               : 1px 4px 1px 4px;
    }
    
  .button-toolbar-3:hover:active > .button-internal-box 
    {
      border-left           : 1px solid threedshadow !important;
      border-top            : 1px solid threedshadow !important;
      border-bottom         : 1px solid threedhighlight !important;
      border-right          : 1px solid threedhighlight !important;
      padding               : 2px 3px 0px 5px;
    } 

  .button-toolbar-3 > .button-internal-box > .button-icon
    {
      margin-right          : 5px;
    }  

/** Expanding Region Button **/

/* outer frame */
  .button-expander
    {
      border              : none;
      padding             : 0;
      margin              : 1px 5px 3px 1px;
      background-color    : inherit;
      list-style-image    : url("chrome://global/skin/closedtwisty.gif");
      color               : #0000FF;
      text-decoration     : underline;
    }
    
  .button-expander[open="true"]
    {
      list-style-image    : url("chrome://global/skin/opentwisty.gif");
    }
    
  .button-expander > .button-internal-box
    {
      border              : none;
      background-color    : inherit;
      padding             : 0;
      margin              : 0;
    }

  .button-expander:hover 
    {
      color               : #FF0000;
    }


