/* 
 * These are the style attributes for the XUL display.
 */
window						          { overflow: auto; }
mailheader					        { display: block; }
mailattachcount				      { display: none; }

box[name=header-attachment] { background-color: #EFEFEF; border: 0px solid #EFEFEF; border-left-width: 4px; }
box[name=header-part1]      { background-color: #EFEFEF; border: 0px solid #EFEFEF; border-left-width: 4px; }
box[name=header-part2]      { background-color: #DEDEDE; border: 0px solid #DEDEDE; border-left-width: 4px; }
box[name=header-part3]      { background-color: #DEDEDE; border: 0px solid #DEDEDE; border-left-width: 4px; }
box[name=header-seamonkey]  { background-color: #DEDEDE; border: 0px solid #DEDEDE; border-left-width: 4px; }

headerdisplayname			      { font-weight: bold;  white-space: pre; }
header						          { text-align: left; }

menubar[name=attachment-menubar]  { background-color: #EFEFEF; border: 0px solid #EFEFEF; }
menu[name=attachment-menu]        { background-color: #EFEFEF; border: 0px solid #EFEFEF; }

/* 
 * For printing/HTML display...
 */
table[name=header-part1]    { background-color: #EFEFEF; border: 0px solid #EFEFEF; border-left-width: 4px; }
table[name=header-part2]    { background-color: #DEDEDE; border: 0px solid #DEDEDE; border-left-width: 4px; }
table[name=header-part3]    { background-color: #DEDEDE; border: 0px solid #DEDEDE; border-left-width: 4px; }
div.headerdisplayname       { font-weight: bold;  white-space: pre; display: inline; }

body {
  background-color: white;
}



.moz-text-flowed blockquote {
  margin: inherit;
  border-width: medium;
  border-color: gray;
}

.moz-text-plain pre {
  font-family: inherit;
  margin: inherit;
}
.moz-text-plain[wrap=true] {
  white-space: -moz-pre-wrap;
}
.moz-text-plain[wrap=false] {
  white-space: pre;
}
.moz-text-plain[wrap=flow] .moz-txt-sig {
  white-space: -moz-pre-wrap;
}
.moz-text-plain[graphical-quote=false] blockquote {
  padding-left: inherit;
  border-left: inherit;
  margin: inherit;
}
.moz-text-plain[graphical-quote=true] blockquote {
  margin: inherit;
  border-width: medium;
  border-color: gray;
}
.moz-text-plain[graphical-quote=true] .moz-txt-citetags {
  display: none;
}

.moz-txt-sig, .moz-signature {
  color: gray;
}
.moz-txt-sig > a, .moz-signature > a {
  color: 7777FF /* light blue */;
}
