<HEAD>
 <TITLE>Mozilla Cross-Reference</TITLE>
</HEAD>
<BODY   BGCOLOR="#FFFFFF" TEXT="#000000"
	LINK="#0000EE" VLINK="#551A8B" ALINK="#FF0000">

<TABLE BGCOLOR="#000000" WIDTH="100%" BORDER=0 CELLPADDING=0 CELLSPACING=0>
<TR><TD><A HREF="http://www.mozilla.org/"><IMG
 SRC="http://www.mozilla.org/images/mozilla-banner.gif" ALT=""
 BORDER=0 WIDTH=600 HEIGHT=58></A></TD></TR></TABLE>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=6 WIDTH="100%">
 <TR>
  <TH ALIGN=CENTER COLSPAN=3>
   <BR>
   <FONT SIZE="+3">Mozilla Cross-Reference</FONT>
   <BR><BR>
  </TH>
 </TR>
 <TR>
  <TD VALIGN=TOP ALIGN=LEFT>
   <TABLE BORDER CELLPADDING=10 CELLSPACING=0 WIDTH="100%" BGCOLOR="#EEEEEE">
    <TR>
     <TD>

      <BR>
      <P ALIGN=CENTER><FONT SIZE="+1"><B>Starting Points:</B></FONT>
      <P>

      <TABLE BORDER=0 CELLPADDING=0 CELLSPACING=2 WIDTH="100%">
       <TR>
        <TD>
         <FONT SIZE="+1"><A HREF="source/"><B>/mozilla</B></A></FONT>
        </TD>
        <TD>
         <FONT SIZE="-1">
          Click here to start<BR>
          browsing at the root<BR>
          of the directory tree.
         </FONT>
        </TD>
       </TD>
      </TABLE>

      <P>

      <TABLE BORDER=0 CELLPADDING=0 CELLSPACING=0 WIDTH="100%">
       <TR>
	<TD ALIGN=RIGHT VALIGN=TOP NOWRAP>

	 <FORM METHOD=GET ACTION="search">
	  <TABLE BORDER=0 CELLPADDING=2 CELLSPACING=0>
	   <TR>
	    <TD ALIGN=RIGHT VALIGN=CENTER>
	     <A HREF="search"><B>Text <BR>Search:</A></B>
	    </TD>
	    <TD>
	     <INPUT TYPE=TEXT NAME="string" VALUE="" SIZE=8>
	     <INPUT TYPE=SUBMIT VALUE="Find">
	    </TD>
	   </TR>
	   <TR>
	    <TD></TD>
	    <TD><FONT SIZE="-1">
	     Use this field to search<BR>through all the text.</FONT>
	    </TD>
	   </TR>
	  </TABLE>
	 </FORM>

	 <FORM METHOD=GET ACTION="find">
	  <TABLE BORDER=0 CELLPADDING=2 CELLSPACING=0>
	   <TR>
	    <TD ALIGN=RIGHT VALIGN=CENTER>
	     <A HREF="find"><B>File Name <BR>Search:</B></A>
	    </TD>
	    <TD>
	      <INPUT TYPE=TEXT NAME="string" VALUE="" SIZE=8>
	      <INPUT TYPE=SUBMIT VALUE="Find">
	    </TD>
	   </TR>
	   <TR>
	    <TD></TD>
	    <TD><FONT SIZE="-1">
	     Use this field to search<BR>for files by name.</FONT>
	    </TD>
	   </TR>
	  </TABLE>
	 </FORM>

	 <FORM METHOD=GET ACTION="ident">
	  <TABLE BORDER=0 CELLPADDING=2 CELLSPACING=0>
	   <TR>
	    <TD ALIGN=RIGHT VALIGN=CENTER>
	     <A HREF="ident"><B>Identifier <BR>Search:</B></A>
	    </TD>
	    <TD>
	     <INPUT TYPE=TEXT NAME="i" VALUE="" SIZE=8>
	     <INPUT TYPE=SUBMIT VALUE="Find">
	    </TD>
	   </TR>
	   <TR>
	    <TD></TD>
	    <TD><FONT SIZE="-1">
	     Use this field to find<BR>a particular function,<BR>variable, etc.</FONT>
	    </TD>
	   </TR>
	  </TABLE>
	 </FORM>

	</TD>
       </TR>
      </TABLE>

     </TD>
    </TR>
   </TABLE>

  </TD>
  <TD WIDTH=8></TD>
  <TD ALIGN=TOP VALIGN=LEFT>

<P>This is a cross referenced display of the 
<A HREF="http://www.mozilla.org/">Mozilla</A> source code.
The sources displayed are those that are currently checked 
in to the mainline of the mozilla.org
<A HREF="http://www.mozilla.org/cvs.html">CVS server</A>;
these pages are updated many times a day, so they should
be pretty close to the latest-<WBR>and-<WBR>greatest.

<P>It's possible to search through the entire Mozilla source text;
or to search for files whose name matches a pattern; or to search
for the definitions of particular functions, variables, etc.

<P>The individual files of the source code are formatted on the fly
and presented with clickable identifiers.  An <I>identifier</I> is a
macro, typedef, struct, enum, union, function, function prototype or
variable.  Clicking on them shows you a summary of how and where they
are used.

<P>The <A HREF="search">free-text search</A> command is implemented
using <A HREF="http://glimpse.cs.arizona.edu">Glimpse</A>, so all the
capabilities of Glimpse are available.  
<A HREF="search-help.html">Regular expression</A> searches are
especially useful.

<P>(Don't use use a web-crawler to try and download all of these pages;
the CGIs will feed you several <I>gigabytes</I> worth of generated HTML!)

<P>The pages here are generated by the 
<A HREF="http://lxr.linux.no/">LXR</A> tool, which was originally 
written to display the source code of the Linux kernel (LXR stands
for ``Linux Cross Reference.'')  Check out the
<A HREF="http://lxr.linux.no/">main LXR site</a> for more information.

<P>Thanks to 
 <A HREF="mailto:lxr@linux.no">Arne Georg Gleditsch</A> and
 <A HREF="mailto:lxr@linux.no">Per Kristian Gjermshus</A>, the
 authors of the LXR tool, for writing it and making it available
 to the world.

  </TD>
 </TR>
</TABLE>

<P>
