<table bgcolor=blue width=100 style="box-sizing:content-box; border: 20px solid black; padding:10px;" border>
 <tr>
  <td>foo</td>
 </tr>
 <tr>
  <td>bar</td>
 </tr>
</table>
<BR>
<table bgcolor=blue width=100 style="box-sizing:padding-box; border: 20px solid black; padding:10px;" border>
 <tr>
  <td>foo</td>
 </tr>
 <tr>
  <td>bar</td>
 </tr>
</table>
<BR>
<table bgcolor=blue width=100 style="box-sizing:border-box; border: 20px solid black; padding:10px;" border>
 <tr>
  <td>foo</td>
 </tr>
 <tr>
  <td>bar</td>
 </tr>
</table>
