/* -*- Mode: C; c-basic-offset: 2 -*-
 *
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */

/*

   Style rules specific to the Customize dialog.

*/

/* These rules apply appropriate images to the 'reorder' buttons */
.up {
  list-style-image:url("chrome://global/skin/scroll-up.gif");
  min-width: 0px;
}

.up[disabled="true"] {
  list-style-image:url("chrome://global/skin/scroll-up-disabled.gif");
}

.down {
  min-width: 0px;
  list-style-image:url("chrome://global/skin/scroll-down.gif");
}

.down[disabled="true"] {
  list-style-image:url("chrome://global/skin/scroll-down-disabled.gif");
}

.treecell-panel
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-item.gif");
}

.treecell-panel[haslink="true"],
treeitem[container="true"] > treerow > .treecell-panel
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-closed.gif");
}
treeitem[selected="true"] > treerow > .treecell-panel[haslink="true"],
treeitem[selected="true"][container="true"] > treerow > .treecell-panel
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-closed-sel.gif");
}

treeitem[container="true"][open="true"] > treerow > .treecell-panel
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-open.gif");
}
treeitem[selected="true"][container="true"][open="true"] > treerow > .treecell-panel
{
 list-style-image: url("chrome://communicator/skin/bookmarks/bookmark-folder-open-sel.gif");
}

#header {
  list-style-image: url("chrome://communicator/skin/sidebar/sidebar-icon.gif");
}

box#reorder {
  text-align: center;
}
