<!--    -*- Mode: HTML; tab-width: 8; indent-tabs-mode: nil -*-
  
   The contents of this file are subject to the Netscape Public
   License Version 1.1 (the "License"); you may not use this file
   except in compliance with the License. You may obtain a copy of
   the License at http://www.mozilla.org/NPL/
  
   Software distributed under the License is distributed on an "AS
   IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
   implied. See the License for the specific language governing
   rights and limitations under the License.
  
   The Original Code is mozilla.org code.
  
   The Initial Developer of the Original Code is Netscape
   Communications Corporation.  Portions created by Netscape are
   Copyright (C) 1998 Netscape Communications Corporation. All
   Rights Reserved.
  
   Contributor(s): 
 -->
<HEAD>
<TITLE>The Book of Mozilla, 3:31</TITLE>
<BODY bgcolor="#800000" text="#FFFFFF">
<CENTER>
<FONT size=4><I>
<BR><BR><BR><BR><BR><BR><BR><BR>

And the beast shall be made <FONT size="+2">legion</FONT>.  Its numbers shall
be increased a <FONT size="+2">thousand thousand</FONT> fold.  The din of a
million keyboards like unto a great <FONT size="+2">storm</FONT> shall cover
the earth, and the followers of Mammon shall <FONT size="+2">tremble.</FONT>

<P ALIGN=RIGHT>
<FONT SIZE=6>from <B>The Book of Mozilla,</B> 3:31</FONT><BR>
<FONT SIZE=5>(Red Letter Edition)</FONT>
