
#sidebar-splitter 
  {
    border-top            : 1px solid threedhighlight;
  }

#sidebar-box 
  {
    border-left           : 1px solid threedshadow;
    border-right          : 1px solid threedhighlight;
    border-bottom         : 1px solid threedhighlight;
    background-color      : #808080;
  }

.text-panel-loading 
  {
    margin                : 5px 0px;
  }

.image-panel-loading 
  {
    margin                : 5px;
    list-style-image      : url("chrome://global/skin/loading.gif"); 
  }

.sidebarheader-main 
  {
    border                : 1px outset inactivecaption;
    background-color      : activecaption;
    color                 : activecaptiontext;
    padding               : 1px 2px 1px 6px;
  }
  
.sidebar-header-text  
  {
    font-weight           : bold;
  }

.sidebar-header-grippy
  { 
    /* This image still has to be added to the tree (8/8/00).  I'll do it after german's approval */
    list-style-image	    : url("chrome://global/skin/grippy-short-vert-after.gif");
  	background-color	    : threedface;
  	max-width			        : 32px;
  	height				        : 4px;
  }

#sidebar-title-box[state="collapsed"] > .sidebar-header-grippy 
  {
    /* This image still has to be added to the tree (8/8/00).  I'll do it after german's approval */
    list-style-image	    : url("chrome://global/skin/grippy-short-vert-before.gif"); 
  }
  
.menubutton-toolbar-single-dropmarker[menubuttontype="sidebar-panels"]
  {
    list-style-image      : url("chrome://global/skin/menu-arrow-hover.gif");  
    margin-left           : 2px;
  }

/**
 * texttab folder lookalike e.g. for sidebar panel headers
 */
  .box-texttab
    {
      -moz-binding        : url("chrome://communicator/skin/sidebar/sidebarBindings.xml#panelheader");
      background-color    : threedface;
      cursor              : pointer;
    }

  .panelheader-grippy-box
    {
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
      width               : 12px;
      padding-bottom      : 1px;
    }

  .panelheader-grippy-texture
    {
      margin                : 2px 3px 1px 2px;
      background-image      : url("chrome://global/skin/toolbargrippy-texture.gif");
      background-position   : 50% 0%;
      background-repeat     : repeat-y;
    }
    
  .box-texttab:hover > .panelheader-box-1
    {
      background-color      : #CCCCFF;
    }
    
  .box-texttab[selected="true"]:hover > .panelheader-box-1
    {
      background-color      : threedface;
    } 
    
  .box-texttab[last-panel="true"], .box-texttab[selected="true"]
    {
      margin-bottom       : 0px;
    }
      
  .panelheader-box-1
    {
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
/*
      border              : 1px outset threedshadow;
      background-color    : threedshadow;
      color               : threedhighlight;
 */
      background-color    : threedface;
      background-image    : url("chrome://global/skin/scrollbar-slider-bg.gif");
      padding             : 3px 2px 3px 0px;
    }

  .panelheader-grippy-icon
    {
      margin              : 2px 7px 0px 7px;
      list-style-image    : url("chrome://global/skin/tbg-twisty-collapsed.gif");
    }

  .panelheader-grippy-icon[selected="true"]
    {
      margin              : 2px 5px 0px 5px;
      list-style-image    : url("chrome://global/skin/toolbargrippy-twisty.gif");
    }

  .panelheader-box-1[selected="true"]
    {
      background-color    : threedface;
      background          : transparent;
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
      color               : black;
      font-weight         : bold;
    }
    
  .panelheader-texture
    {
      margin              : 1px 0px 1px 0px;
      background-image    : url("chrome://global/skin/toolbargrippy-texture.gif");
      background-position : 50% 0%;
      background-repeat   : repeat-y; 
      width               : 12px;
    }

  .sidebar-iframe-no-panels, .loadarea
    {
      background-color      : #FFFFFF;
    }
    
  .iframe-panel
    {
      border-left           : 1px solid threedhighlight;
      border-bottom         : 1px solid threedshadow;
      border-right          : 1px solid threedshadow;
    }  

    
