/* 
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *  
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *  
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 * 
 * Contributor(s): 
 */

/* Styles to alter look of things in the Editor content window 
 *  for the "Normal Edit Mode" These settings will be removed
 *  when we display in completely WYSIWYG "Edit Preview" mode
 *  Anything that should never change, like cursors, should be 
 *  place in EditorOverride.css, instead of here.
*/

a[name] {
  min-height: 17px; margin-left: 2px; margin-top: 2px;
  padding-left: 20px; 
  background-image: url(chrome://editor/content/images/tag-anchor.gif);
  background-repeat: no-repeat; 
  background-position: top left;
}

/* Force border display for empty cells 
   and tables with 0 border
*/
table {
  empty-cells: show;
}

table[empty-cells],
  table[border="0"], 
  table[border="0"] td, table[border="0"] th
{
  border: 1px dotted red;
}

