/* 
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *  
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *  
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 * 
 * Contributor(s): 
 */

/* Styles to alter look of things in the Editor content window 
 *  that should NOT be removed when we display in completely WYSIWYG 
 *  "Browser Preview" mode.
 *  Anything that should change, like appearance of table borders
 *  and Named Anchors, should be placed in EditorContent.css instead of here.
*/

/* Override the browser's pointer cursor over links */
a:link, a:visited, a:active, a:out-of-date {
  cursor: text;
}

/* We want the default arrow when hover over the 
   various objects, such as the image that 
   represents the named anchor
*/
a:link img, a:visited img, a:active img,
a:out-of-date img, img[usemap], 
object[usemap], 
a[name] {
  cursor: default;
}

a:link img, a:visited img, a:active {
  -moz-user-input: none;
}

a:visited, a:active, a:out-of-date {
  cursor: text;
  color : inherit;
  -moz-user-input: none;
}

input, select, textarea {
  -moz-user-select: all !important;
  -moz-user-input: none !important;
  -moz-user-focus: none !important;
}

input[type="hidden"] {
  border: 1px solid black !important;
  visibility: visible !important;
}

label {
    -moz-user-select: all !important;
}

:-moz-display-comboboxcontrol-frame {
  -moz-user-select: text !important;
}

:-moz-dropdown-list {
  -moz-user-select: text !important;
} 

option {
  -moz-user-select: text !important;
}
