#security-button 
  {
    list-style-image:url("chrome://navigator/skin/unlock.gif");
  }

#security-button[level="high"] 
  {
    list-style-image:url("chrome://navigator/skin/lock.gif");        
  }

#security-button[level="low"] 
  {
    list-style-image:url("chrome://navigator/skin/lock.gif");        
  }

#security-button[level="broken"] 
  {
    list-style-image:url("chrome://navigator/skin/broken.gif");        
  }