/** this should only contain XUL dialog and document window widget defaults. Defaults for widgets of
    a particular application should be in that application's style sheet.
	For example style definitions for navigator can be found in navigator.css

   THIS FILE IS LOCKED DOWN.  YOU ARE NOT ALLOWED TO MODIFY IT WITHOUT FIRST HAVING YOUR
   CHANGES REVIEWED BY hyatt@netscape.com.
**/

@import url(chrome://global/skin/);

@import url(chrome://communicator/skin/box.css);
@import url(chrome://communicator/skin/toolbar.css);
@import url(chrome://communicator/skin/button.css);
@import url(chrome://communicator/skin/brand.css);
@import url(chrome://communicator/skin/menubutton.css);
@import url(chrome://communicator/skin/splitter.css);
@import url(chrome://communicator/skin/formatting.css);
@import	url(chrome://communicator/skin/prefpanels.css);


@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */

#offline-status[offline="true"]
  {
    list-style-image: url("chrome://communicator/skin/offline.gif");
  }

#offline-status
  {
    list-style-image: url("chrome://communicator/skin/online.gif");
  }


.up {
  list-style-image:url("chrome://global/skin/scroll-up.gif");
  min-width: 0px;
}

.up[disabled="true"] {
  list-style-image:url("chrome://global/skin/scroll-up-disabled.gif");
}

.down {
  min-width: 0px;
  list-style-image:url("chrome://global/skin/scroll-down.gif");
}

.down[disabled="true"] {
  list-style-image:url("chrome://global/skin/scroll-down-disabled.gif");
}


/**
 * File icons (32x32 and 16x16)
 **/
.file-icon-large
  {
    list-style-image      : url("chrome://communicator/skin/content-large.gif");
  }

.file-icon-small  
  {
    list-style-image      : url("chrome://communicator/skin/content-small.gif");
  }  

