
/** Styles applying to items in a button-toolbar-3 style menu
 *  menuitem class="button-toolbar-3"
 **/
  .button-toolbar-3 > .menubutton-icon-internal-box
    {
      border                : 1px outset #99CCCC;
    }

  .button-toolbar-3[open="true"] > .menubutton-icon-internal-box,
  .button-toolbar-3:hover:active > .menubutton-icon-internal-box
    {
      border                : 1px inset #99CCCC;
    }
  
  menupopup.button-toolbar-3 
    {
      border                : 1px solid #000000;
    }
  
  menuitem.button-toolbar-3 
    {
      font-weight           : normal;
    }
   
  .button-toolbar-3[menuactive="true"]
    {
      background-color      : #669999;
      color                 : #FFFFFF;
      font-weight           : normal;
    } 
    
/** menubuttons on generic grey toolbars
 *  class="button-toolbar"
 **/ 
  .button-toolbar > .menubutton-internal-box
    {
      border                : none;
      padding               : 1px 3px 1px 3px;
    }
 
 .button-toolbar[open="true"] > .menubutton-internal-box,
 .button-toolbar:hover:active > .menubutton-internal-box
    {
      border                : none;
      padding               : 1px 3px 1px 3px;
    }
 
 .button-toolbar[open="true"]
   {
     border                 : 1px solid #336699;
     border-bottom          : 1px solid #CCCCCC;
   }

/** 
 * Navigation bar style menubuttons 
 **/

.menubutton-dual.toolbar
  {
    -moz-binding            : url("chrome://communicator/skin/menubuttonBindings.xml#menubutton-dual-foo");
    border                  : none ! important;
  }

.button-toolbar-1.menubutton-dual-button
  {
    list-style-image        : inherit;
    min-height              : 0px;
  }

.button-toolbar-2.menubutton-dual-button
  {
    list-style-image        : inherit;
    margin                  : 4px 7px 1px 1px;
  }  

.button-toolbar-2.menubutton-dual-button > .button-internal-box > .button-text-container
  {
    padding-top             : 5px;
  }
  
.menubutton-dual-dropmarker
  {
    background              : transparent;
    list-style-image        : url("chrome://communicator/skin/tb-menubutton-dm.gif");
  } 

.menubutton-dual-dropmarker[disabled="true"]
  {
    background              : transparent;
    list-style-image        : url("chrome://communicator/skin/tb-menubutton-dm-disabled.gif");
  } 
  
.menubutton-dual-dropmarker-box
  {
    margin-left             : 32px;
    margin-bottom           : 1px;
  }
  
.button-toolbar-2 + .menubutton-dual-dropmarker-box  
  {
    margin-left             : 28px;
    margin-bottom           : 1em;
  }
  
/*  
  
  	  <xul:box class="button-internal-box" orient="vertical" autostretch="never" flex="1">
        <xul:image class="button-icon" inherits="src"/>
        <xul:box orient="vertical" class="button-text-container" autostretch="never" flex="1">
          <xul:text class="button-text" inherits="value,accesskey,crop"/>
        </xul:box>
      </xul:box>
  
