/******* Splitters *******/

splitter {
  border: none;
   cursor: e-resize;
   min-width: 5px;
   min-height: 5px;
}

splitter[state="dragging"]
{
   background-color: gray;
}

grippy {
	margin: 0px;
	border: 2px solid #003366;
	padding: 0px;
	background-color: #6699CC;
	list-style-image: none;
	cursor: pointer;
}

grippy:hover{
	background-color: #99CCFF;
}

grippy:hover:active{
	background-color: #99CCFF;
}

box[orient="vertical"]>splitter grippy {
	/* a horizontal splitter */
	width: 60px;
	height:8px;
}

box>splitter grippy {
	/* a vertical splitter */
	width: 8px;
	height: 60px;
}

window[orient="vertical"]>splitter grippy {
	/* a horizontal splitter */
	width: 8px;
	height: 10px;
}

window>splitter grippy {
	/* a vertical splitter */
	width: 8px;
	height: 60px;
}

box[orient="vertical"]>splitter {
	/* a vertical splitter */
    cursor: n-resize;
}

window[orient="vertical"]>splitter {
	/* a vertical splitter */
	cursor: n-resize;
}

  
rows>splitter {
	/* a vertical splitter */
    cursor: n-resize;
}

/* for backwards compatibility */
box[align="vertical"]>splitter grippy {
	/* a horizontal splitter */
	width: 60px;
	height: 8px;
}

window[align="vertical"]>splitter grippy {
	/* a horizontal splitter */
	width: 60px;
	height: 8px;
}

box[align="vertical"]>splitter {
	/* a vertical splitter */
    cursor: n-resize;
}

window[align="vertical"]>splitter {
	/* a vertical splitter */
	cursor: n-resize;
}

/**
 * gray horizontal splitter for pane views
 */
splitter.gray-horizontal-splitter { 
	min-height: 8px;
	background-color: #CCCCCC;
	border: none;
	padding: 0px;
}

splitter.gray-horizontal-splitter grippy { 
	margin: 0px;
	border: 2px solid #CCCCCC;
	padding: 0px;
	background-color: #6699CC;
	list-style-image: none;
}
splitter.gray-horizontal-splitter grippy:hover { 
	background-color: #003366;
}

splitter.gray-horizontal-splitter grippy:active { 
	background-color: #003366;
}

splitter.gray-horizontal-splitter #begincap { 
	min-width: 8px;
	width: 8px;
	background-image: url("chrome://global/skin/gray-bottomleft.gif");
	background-repeat: no-repeat;
	background-position: 0% 100%;
}

splitter.gray-horizontal-splitter #endcap { 
	min-width: 8px;
	width: 8px;
}
