#mini-nav 
  {
	  list-style-image      : url("chrome://global/skin/taskbar-navigator.gif");
  }

#mini-mail 
  {
	  list-style-image      : url("chrome://global/skin/taskbar-mail.gif");
  }

#mini-mail[BiffState="NewMail"]
  {
	  list-style-image      : url("chrome://global/skin/taskbar-mailnew.gif");
  }

#mini-addr 
  {
	  list-style-image      : url("chrome://global/skin/taskbar-addressbook.gif");
  }

#mini-comp 
  {
	  list-style-image      : url("chrome://global/skin/taskbar-composer.gif");
  }

#taskbar
  {
    margin-top            : 2px;
    min-height            : 1em;
    -moz-user-focus       : ignore;
  }

.taskbutton 
  {
	  margin-right          : 1em !important;
  }

.taskbarspacer 
  {
    min-width             : 0.3em;
    width                 : 1em;
  }
