/* -*- Mode: C++; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 * 
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 * 
 * The Original Code is Mozilla Communicator client code, released
 * March 31, 1998.
 * 
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation. Portions created by Netscape are
 * Copyright (C) 1998-1999 Netscape Communications Corporation. All
 * Rights Reserved.
 */

@import url(chrome://communicator/skin/);
@import url(chrome://communicator/skin/sidebar/sidebar.css);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */

[hide] {
 display: none;
} 

dummy.usesMailWidgets {
 -moz-binding: url(chrome://messenger/content/mailWidgets.xml#dummy);
}

spring.spacer {
    width: 5px;
    height: 5px;
}

box.cleanborder {
    margin: 10px;
    padding: 10px;
    border: 2px groove white;
    width: 100%;
}

box.padded {
    margin: 10px;
    width: 100%;
}

iframe {
 min-width: 10px;
 min-height: 10px;
 width: 100px;
 height: 100px;
}

/**
 * boxes
 */
#results_box {
	border-left: 8px solid #CCCCCC;
	min-width: 10px;
}


 
/**
 * toolbar button images
 */

#button-getmsg, #button-newmsg, #button-reply, #button-replyall, #button-forward, #button-file, #button-next, 
#button-delete, #button-print, #button-stop  {
	min-width			: 52px;
}

#button-getmsg {
	margin-left			: 0px;
	list-style-image	: url("chrome://messenger/skin/getmsg.gif");
}

#button-getmsg[disabled="true"],
#button-getmsg[disabled="true"]:hover,
#button-getmsg[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/getmsg-disabled.gif");
  } 

#button-getmsg:hover
  {
    list-style-image      : url("chrome://messenger/skin/getmsg-hover.gif");
  } 

#button-getmsg:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/getmsg-clicked.gif");
  } 

#button-newmsg {
	list-style-image:url("chrome://messenger/skin/newmsg.gif");
}

#button-newmsg[disabled="true"],
#button-newmsg[disabled="true"]:hover,
#button-newmsg[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/newmsg-disabled.gif");
  } 

#button-newmsg:hover
  {
    list-style-image      : url("chrome://messenger/skin/newmsg-hover.gif");
  } 

#button-newmsg:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/newmsg-clicked.gif");
  } 

#button-reply {
	list-style-image:url("chrome://messenger/skin/reply.gif");
}

#button-reply[disabled="true"],
#button-reply[disabled="true"]:hover,
#button-reply[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/reply-disabled.gif");
  } 

#button-reply:hover
  {
    list-style-image      : url("chrome://messenger/skin/reply-hover.gif");
  } 

#button-reply:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/reply-clicked.gif");
  } 

#button-replyall {
	list-style-image:url("chrome://messenger/skin/replyall.gif");
}

#button-replyall[disabled="true"],
#button-replyall[disabled="true"]:hover,
#button-replyall[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/replyall-disabled.gif");
  } 

#button-replyall:hover
  {
    list-style-image      : url("chrome://messenger/skin/replyall-hover.gif");
  } 

#button-replyall:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/replyall-clicked.gif");
  } 

#button-forward {
	list-style-image:url("chrome://messenger/skin/forward.gif");
}

#button-forward[disabled="true"],
#button-forward[disabled="true"]:hover,
#button-forward[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/forward-disabled.gif");
  } 

#button-forward:hover
  {
    list-style-image      : url("chrome://messenger/skin/forward-hover.gif");
  } 

#button-forward:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/forward-clicked.gif");
  } 

#button-file {
	list-style-image:url("chrome://messenger/skin/file.gif");
}

#button-file[disabled="true"],
#button-file[disabled="true"]:hover,
#button-file[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/file-disabled.gif");
  } 

#button-file:hover
  {
    list-style-image      : url("chrome://messenger/skin/file-hover.gif");
  } 

menu:hover:active > #button-file,
menu[open="true"] > #button-file
  {
    list-style-image      : url("chrome://messenger/skin/file-clicked.gif");
  } 

#button-next {
	list-style-image:url("chrome://messenger/skin/next.gif");
}

#button-next[disabled="true"],
#button-next[disabled="true"]:hover,
#button-next[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/next-disabled.gif");
  } 

#button-next:hover
  {
    list-style-image      : url("chrome://messenger/skin/next-hover.gif");
  } 

#button-next:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/next-clicked.gif");
  } 

#button-delete {
	list-style-image:url("chrome://messenger/skin/trash.gif");
}

#button-delete[disabled="true"],
#button-delete[disabled="true"]:hover,
#button-delete[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/trash-disabled.gif");
  } 

#button-delete:hover
  {
    list-style-image      : url("chrome://messenger/skin/trash-hover.gif");
  } 

#button-delete:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/trash-clicked.gif");
  }

#button-print 
  {
    -moz-binding          : url("chrome://communicator/skin/menubuttonBindings.xml#menubutton-dual-standard");
	list-style-image      : url("chrome://global/skin/print.gif");
    margin                : 3px 3px 1px 3px;
    text-align			  : center;
  }

#button-print > .menubutton-dual-stack > .menubutton-dual-button
  {
  	margin				  : 0px;
  	padding				  : 0px;
  }

#button-print[disabled="true"],
#button-print[disabled="true"]:hover,
#button-print[disabled="true"]:hover:active,
#button-print[disabled="true"] > .menubutton-dual-stack > .menubutton-dual-button,
#button-print[disabled="true"] > .menubutton-dual-stack > .menubutton-dual-button:hover,
#button-print[disabled="true"] > .menubutton-dual-stack > .menubutton-dual-button:hover:active
  {
    list-style-image      : url("chrome://global/skin/print-disabled.gif");
  }

#button-print > .menubutton-dual-stack > .menubutton-dual-button:hover
  {
    list-style-image      : url("chrome://global/skin/print-hover.gif");
  }

#button-print > .menubutton-dual-stack > .menubutton-dual-button:hover:active
  {
    list-style-image      : url("chrome://global/skin/print-clicked.gif");
  }

#button-print > .menubutton-dual-stack > .menubutton-dual-dropmarker-box
  {
    margin-left             : 19px;
    margin-top				: 21px;
  }

#button-stop {
	list-style-image:url("chrome://global/skin/stop.gif");
}

#button-stop[disabled="true"],
#button-stop[disabled="true"]:hover,
#button-stop[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://global/skin/stop-disabled.gif");
  } 

#button-stop:hover
  {
    list-style-image      : url("chrome://global/skin/stop-hover.gif");
  } 

#button-stop:hover:active
  {
    list-style-image      : url("chrome://global/skin/stop-clicked.gif");
  }


.folderMenuItem > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-closed.gif");
}

.folderMenuItem[open="true"] > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-open.gif");
}

/* special folder */
.folderMenuItem[SpecialFolder="Inbox"] > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-inbox.gif");
}

.folderMenuItem[SpecialFolder="Inbox"][open="true"] > .menu-left
{
    list-style-image: url("chrome://messenger/skin/folder-inbox.gif");
}

.folderMenuItem[SpecialFolder="Trash"] > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-trash.gif");
}

.folderMenuItem[SpecialFolder="Trash"][open="true"] > .menu-left {
 list-style-image: url("chrome://messenger/skin/folder-trash.gif");
}

.folderMenuItem[IsServer="true"] > .menu-left
{
 list-style-image: url("chrome://messenger/skin/server-mail.gif");
}

.folderMenuItem[IsServer="true"][open="true"] > .menu-left
{
 list-style-image: url("chrome://messenger/skin/server-mail.gif");
}

/* IMAP folders */

.folderMenuItem[IsServer="true"][ServerType="imap"][IsSecure="true"] > .menu-left {
    list-style-image: url("chrome://messenger/skin/server-remote-lock.gif");
}

/* Local Servers */
.folderMenuItem[IsServer="true"][ServerType="none"] > .menu-left
{
 list-style-image: url("chrome://messenger/skin/server-local.gif");
}

/* News folders */
.folderMenuItem[ServerType="nntp"] > .menu-left {
    list-style-image: url("chrome://messenger/skin/folder-newsgroup.gif");
}

.folderMenuItem[IsServer="true"][ServerType="nntp"][IsSecure="true"] > .menu-left {
    list-style-image: url("chrome://messenger/skin/server-news-lock.gif");
}

.folderMenuItem[IsServer="true"][ServerType="nntp"] > .menu-left {
    list-style-image: url("chrome://messenger/skin/server-news.gif");
}


menu.push {
  border: 1px outset white;
  padding: 2px;
  margin: 2px;
  text-align: center;
  background-color:inherit;
  background-image: inherit;
}

menu.push:hover {
        border: 1px outset white;
        color:#003366;
        text-decoration:underline;
        padding: 2px;
}

menu.push:hover:-moz-outline {
   border : 1px solid black;
   color:#003366;
   padding: 2px;
}

menu.push:active {
  text-decoration:none;
  border: 1px inset;
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 1px;
}

menu.push[toggled="1"] {
  border: 1px white inset;
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 1px;
}

menu.push[toggled="2"] {
   background-color: lightgray;
   border: 1px solid gray;
}

menu.push:active:-moz-outline {
   border : 1px solid black;
}

menu.push[disabled="true"] {
        background-color:inherit;
        background-image: inherit;
        border : 1px solid #999999;
        color: #999999;
        text-decoration: none;
}

menu.push[disabled="true"]:hover {
        background-color:inherit;
        background-image: inherit;
        border : 1px solid #999999;
        color: #999999;
        text-decoration: none;
}

menu.push[disabled="true"]:active {
        background-color:inherit;
        background-image: inherit;
        border : 1px solid #999999;
        color: #999999;
        text-decoration: none;
}

/**
 * Make sure the min height is small so we can 
 * resize the pane vertically -EDV
 */
box#messagepanebox
{
   min-height: 10px;
   height: 0px;
}


/**
 * this belongs in the mail filter window
 */

.enabledcol {
  list-style-image: url("chrome://messenger/skin/readmail.gif");
}

.enabledcol[value="true"] {
  list-style-image: url("chrome://messenger/skin/unreadmail.gif");
}

searchattribute {
  -moz-binding: url(chrome://messenger/content/mailWidgets.xml#searchattribute);
}

searchoperator {
  -moz-binding: url(chrome://messenger/content/mailWidgets.xml#searchoperator);
}

searchvalue {
 -moz-binding: url(chrome://messenger/content/mailWidgets.xml#searchvalue);
}

searchterm {

 behavior: url(chrome://messenger/content/mailWidgets.xml#searchterm);
}

/** 
 *Focus rings on 3 pane view
 */

#folderTree > treehead,
#threadTree[focusring="false"] > treehead
{
  border-left: 1px solid #EFEFEF;
  border-top: 1px solid #EFEFEF;
  border-right: 1px solid transparent;
}

#folderTree > treechildren,
#threadTree[focusring="false"] > treechildren
{
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

#folderTree:focus > treehead,
#threadTree[focusring="true"]  > treehead
{
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#folderTree:focus > treechildren,
#threadTree[focusring="true"]  > treechildren
{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#folderTree > treehead > treerow > .treecell-header:first-child,
#threadTree > treehead > treerow > .treecell-header:first-child
{
  border-left: none;
}

#folderTree > treehead > treerow > .treecell-header,
#threadTree > treehead > treerow > .treecell-header
{
  border-top: none !important;
}

#folderTree > treehead > treerow > .treecell-header > .treecell-header-box,
#threadTree > treehead > treerow > .treecell-header > .treecell-header-box 
{
  border-top: none  !important;
}

#msgHeaderView {
  border-left: 1px solid #8C9EA5;
  border-top: 1px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
}

#messagepane {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

#messagepanebox[focusring="true"] > #msgHeaderView
{
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
}

#messagepanebox[focusring="true"] > #messagepane
{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

sidebarheader 
{
  border: 1px solid #5C7794;
}
