
#navigator-throbber
  {
    -moz-binding          : url("chrome://global/content/xulBindings.xml#buttontop");
    border                : 1px solid threedface;
    list-style-image      : url("chrome://global/skin/animthrob_single.gif");
    margin                : 0px;
    cursor                : pointer;
    -moz-user-focus       : ignore;
  }  
  
#navigator-throbber:hover
  {
    border                : 1px solid threeddarkshadow;
  }
  
#navigator-throbber > .button-internal-box
  {
    border-left           : 1px solid threedhighlight;
    border-top            : 1px solid threedhighlight;
    border-right          : 1px solid threedshadow;
    border-bottom         : 1px solid threedshadow;
    padding               : 1px;
  }  

#navigator-throbber:hover:active > .button-internal-box
  {
    border-left           : 1px solid threedshadow;
    border-top            : 1px solid threedshadow;
    border-right          : 1px solid threedhighlight;
    border-bottom         : 1px solid threedhighlight;
    padding               : 2px 0xp 0xp 2px;
  }  
  
#navigator-throbber[busy="true"]
  {
    list-style-image      : url("chrome://global/skin/animthrob.gif");
  }
  
