/** The largest type of toolbar buttons. In the Seamonkey implementation, 
 *  these are only used in the navigation toolbar in the navigator package.
 **/
 
  /* outer frame */
  .button-toolbar-1, .button-toolbar-2
    {
      -moz-binding        : url("chrome://global/content/xulBindings.xml#buttontop");
      min-width           : 0px;
      margin              : 0px 1px 0px 1px;
      border              : 1px solid transparent;
    }

  .button-toolbar, .button-toolbar-4
    {
      -moz-binding        : url("chrome://global/content/xulBindings.xml#buttonleft");
      min-width           : 0px;
      margin              : 1px;
      border              : 1px solid transparent;
    }
    
  .button-toolbar-1:hover, .button-toolbar:hover, .button-toolbar-2:hover, .button-toolbar-4:hover
    {
      border              : 1px solid threeddarkshadow;
      color               : #0000FF;
    } 

  .button-toolbar-1 > .button-internal-box,
  .button-toolbar-2 > .button-internal-box
    {
      padding             : 2px 8px 2px 7px;
      vertical-align      : middle;
      text-align          : center;
      border              : 1px solid transparent;
    }    
    
  .button-toolbar > .button-internal-box > .button-text-container
    {
      padding-left        : 4px;
    }    

  .button-toolbar > .button-internal-box,
  .button-toolbar-4 > .button-internal-box
    {
      padding             : 1px 4px 1px 3px;
      vertical-align      : middle;
      text-align          : center;
      border              : 1px solid transparent;
    }
    
  .button-toolbar-1[disabled="true"],
  .button-toolbar-1[disabled="true"]:hover,
  .button-toolbar-1[disabled="true"]:hover:active,
  .button-toolbar[disabled="true"],
  .button-toolbar[disabled="true"]:hover,
  .button-toolbar[disabled="true"]:hover:active    
  .button-toolbar-2[disabled="true"],
  .button-toolbar-2[disabled="true"]:hover,
  .button-toolbar-2[disabled="true"]:hover:active,
  .button-toolbar-4[disabled="true"],
  .button-toolbar-4[disabled="true"]:hover,
  .button-toolbar-4[disabled="true"]:hover:active
    {
      border              : 1px solid transparent;
      color               : graytext;
    }
    
/* internal frame */
  .button-toolbar-1:hover > .button-internal-box,
  .button-toolbar:hover > .button-internal-box,
  .button-toolbar-2:hover > .button-internal-box,
  .button-toolbar-4:hover > .button-internal-box
    {
      border-left         : 1px solid threedhighlight;
      border-top          : 1px solid threedhighlight;
      border-right        : 1px solid threedshadow;
      border-bottom       : 1px solid threedshadow;
    }

  .button-toolbar-1:hover:active > .button-internal-box,
  .button-toolbar-2:hover:active > .button-internal-box
    {
      padding             : 3px 7px 1px 8px;
      border-left         : 1px solid threedshadow !important;
      border-top          : 1px solid threedshadow !important;
      border-right        : 1px solid threedhighlight !important;
      border-bottom       : 1px solid threedhighlight !important;
    }
    
  .button-toolbar:hover:active > .button-internal-box,
  .button-toolbar-4:hover:active > .button-internal-box
    {
      padding             : 1px 3px 0px 4px;
      border-left         : 1px solid threedshadow !important;
      border-top          : 1px solid threedshadow !important;
      border-right        : 1px solid threedhighlight !important;
      border-bottom       : 1px solid threedhighlight !important;
    }

  .button-toolbar-1 > .button-internal-box > .button-text-container,
  .button-toolbar > .button-internal-box > .button-text-container,
  .button-toolbar-2 > .button-internal-box > .button-text-container,
  .button-toolbar-4 > .button-internal-box > .button-text-container
    {
      text-align          : center;
    }
    
  .button-toolbar-1[disabled="true"] > .button-internal-box,
  .button-toolbar-1[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-1[disabled="true"]:hover:active > .button-internal-box,
  .button-toolbar[disabled="true"] > .button-internal-box,
  .button-toolbar[disabled="true"]:hover > .button-internal-box,
  .button-toolbar[disabled="true"]:hover:active > .button-internal-box,
  .button-toolbar-2[disabled="true"] > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-2[disabled="true"]:hover:active > .button-internal-box,
  .button-toolbar-4[disabled="true"] > .button-internal-box,
  .button-toolbar-4[disabled="true"]:hover > .button-internal-box,
  .button-toolbar-4[disabled="true"]:hover:active > .button-internal-box
    {
      padding             : 2px 8px 2px 7px !important;
      border              : 1px solid transparent !important;
    }
      

/** "Green" buttons, e.g. "Search"
 *  class="button-toolbar-3"
 **/  
  .button-toolbar-3 
    {
      margin                : 0px 0px 0px 3px;
      font-weight           : bold;
      background-color      : #99CCCC;
    }  
    
  .button-toolbar-3 > .button-internal-box
    {
      border                : 1px outset #99CCCC;
      padding               : 1px;
    }
    
  .button-toolbar-3:hover:active > .button-internal-box 
    {
      border                : 1px inset #99CCCC;
      padding               : 2px 0px 0px 2px;
    } 

/** Expanding Region Button **/

/* outer frame */
  button.expander
    {
      border              : none;
      padding             : none;
      margin              : 1px 5px 3px 1px;
      background-color    : inherit;
      list-style-image    : url("chrome://global/skin/closedtwisty.gif");
    }
    
  button[open="true"].expander 
    {
      list-style-image    : url("chrome://global/skin/opentwisty.gif");
    }
    
/* internal frame */
  button.expander > .button-internal-box
    {
      border              : none;
      background-color    : inherit;
      padding             : none;
      margin              : none;
    }

/* text frame */
  button.expander > .button-internal-box > .button-text-container > .button-text
    {
      color               : #0000FF;
      text-decoration     : underline;
    }
    
  button.expander:hover > .button-internal-box > .button-text-container > .button-text
    {
      color               : #FF0000;
    }

menubutton.button-toolbar-4
  {
    -moz-binding          : url("chrome://global/content/menulistBindings.xml#menubutton-single-right");
  }
