
#sidebar-box 
  {
    border-left           : 1px solid #9D9D9D;
    border-right          : 1px solid #FFFFFF;
    border-bottom         : 1px solid #FFFFFF;
    background-color      : #9D9D9D;
  }

#sidebar-splitter
  {
    border-top            : 1px solid #FFFFFF;
  }

.text-panel-loading 
  {
    margin                : 5px 0px;
  }

.image-panel-loading 
  {
    margin                : 5px;
    list-style-image      : url("resource:/res/rdf/loading.gif"); 
  }

.sidebarheader-main 
  {
    border-left           : 1px solid #FFFFFF;
    border-top            : 1px solid #FFFFFF;
    border-right          : 1px solid #9D9D9D;
    border-bottom         : 1px solid #9D9D9D;
    background-color      : #DDDDDD;
    padding               : 3px 5px 3px 6px;
    background-image      : url("chrome://communicator/skin/smallheader-bg.gif");
  }

.sidebar-header-text  
  {
    font-weight           : bold;
  }

.sidebar-header-grippy
  { /* This image still has to be added to the tree (8/8/00).  I'll do it after german's approval */
    list-style-image	: url("chrome://global/skin/grippy-short-vert-after.gif");
  	background-color	: #DDDDDD;
  	max-width			: 32px;
  	height				: 4px;
  }

#sidebar-title-box[state="collapsed"] > .sidebar-header-grippy {
/* This image still has to be added to the tree (8/8/00).  I'll do it after german's approval */
    list-style-image	: url("chrome://global/skin/grippy-short-vert-before.gif"); 
}

#sidebar-panel-picker > .menu-right {
    padding-left		: 0px;
}
#sidebar-panel-picker > .menu-text {
    padding-left: 0px;
}
#sidebar-panel-picker > .menu-accel {
    display: none;
}

/**
 * texttab folder lookalike e.g. for sidebar panel headers
 * MAC-TODO: reimplement "Modern" tabs which look like OS8.x/9.x tabs. 
 */
  .box-texttab
    {
      -moz-binding        : url("chrome://communicator/skin/sidebar/sidebarSplitterBindings.xml#panelheader");
      background-color    : #DDDDDD;
      border-left         : 1px solid #FFFFFF;
      border-top          : 1px solid #FFFFFF;
      border-right        : 1px solid #9D9D9D;
      border-bottom       : 1px solid #9D9D9D;
    }
    
  .box-texttab[last-panel="true"], .box-texttab[selected="true"]
    {
      margin-bottom       : 0px;
    }
      
  .panelheader-box-1
    {
      border              : 1px solid #DDDDDD;
      padding             : 3px 5px 3px 6px;
    }

  .box-texttab:hover
    {
      border-right        : 1px solid #000000;
      border-bottom       : 1px solid #000000;
    }
  
  .box-texttab:hover > .panelheader-box-1
    { 
      border-right        : 1px solid #9D9D9D;
      border-bottom       : 1px solid #9D9D9D;
    } 

  .box-texttab:hover:active
    {
      border-left         : 1px solid #000000;
      border-top          : 1px solid #000000;
      border-right        : 1px solid #FFFFFF;
      border-bottom       : 1px solid #FFFFFF;
    }

  .box-texttab:hover:active > .panelheader-box-1
    {
      border-left         : 1px solid #9D9D9D;
      border-top          : 1px solid #9D9D9D;
      border-right        : 1px solid #DDDDDD;
      border-bottom       : 1px solid #DDDDDD;
    }
    
.sidebar-iframe-no-panels, .loadarea
  {
    background-color      : #FFFFFF;
  }
  
.iframe-panel
  {
    border-left           : 1px solid #FFFFFF;
    border-right          : 1px solid #9D9D9D;
    border-bottom         : 1px solid #9D9D9D;
/*  border-top            : 1px solid #FFFFFF;      DO NOT UNCOMMENT!!!  THERE IS A BUG WHERE, 
													FOR SOME REASON, BORDER-TOP CAUSES CERTAIN APPS 
													(E.G. MAIL) TO CRASH!!! Related to Bug #45336, #45925 (7/21/00) */
  }  
