/*
The contents of this file are subject to the Netscape Public
License Version 1.1 (the "License"); you may not use this file
except in compliance with the License. You may obtain a copy of
the License at http://www.mozilla.org/NPL/

Software distributed under the License is distributed on an "AS
IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
implied. See the License for the specific language governing
rights and limitations under the License.

The Original Code is Mozilla Communicator client code, released
March 31, 1998.

The Initial Developer of the Original Code is Netscape
Communications Corporation. Portions created by Netscape are
 Copyright (C) 1998-1999 Netscape Communications Corporation. All
Rights Reserved.
*/
 
@import url(chrome://communicator/skin/);

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to HTML */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for XUL elements */
 
/* CardView styles - used in the Card View Pane */

#CardViewOuterBox {
  border: 1px inset #CCCCCC;
}

#CardViewBox {
  overflow: auto;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  min-width: 150px;
  -moz-user-focus: ignore;
}

#CardViewInnerBox {
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
}

#CardTitle {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 2px solid black;
  min-width: 120px;
  margin: 0px;
}
 
.cardViewGroup {
  margin-top: 8px;
  padding-bottom: 5px;
  min-width: 50px;
}

[class="CardViewHeading"] {
  padding: 1px;
  padding-left: 5px;
  margin: 0px 0px 1px 0px;
  background-color: #CCCCFF;
  color: black;
  font-weight: bold;
  min-width: 30px;
}

[class="CardViewText"] {
  padding-left: 20px;
  padding-right: 2px;
  min-width: 30px;
  margin: 0px;
}

html|a {
  padding-left: 0px;
  padding-right: 2px;
  border: none !important;
}

html|p {
    border: none !important;
}

/* CardEdit styles - used in the Card Edit Dialog */

[class="CardEditWidth"] {
  width: 25em;
}

[class="CardEditLabel"] {
  padding: 0px;
  margin-top: 3px;
}

[class="alignBoxWithFieldset"] {
  margin-left: 6px;
  margin-right: 5px;
}

.stateZipSpacer { width: 3em; }


/* Custom Trees */

tree { 
}

treeitem[selected="true"] > treerow { 
  color: black;
  background-color: #CCCCCC;
}

tree[class="abDirectory"] treeitem > treerow > treecell > .tree-icon {
  list-style-image: url("chrome://messenger/skin/addressbook/myaddrbk.gif");
}

tree[class="abResults"] treeitem > treerow > treecell.cardicon {
  list-style-image: url("chrome://messenger/skin/addressbook/person.gif");
  height: 14px;
  min-height: 14px;
}

treeitem[empty="true"] > treerow > treecell > .tree-cell-twisty {               
  list-style-image: none !important;                                             
}

/* Address Book specific style */

#resultsTree {
  border-top: none;
}
 
[hide] {
  visibility: collapse;
}

/* Toolbar buttons */

#button-newcard {
  list-style-image:url("chrome://messenger/skin/addressbook/newcard.gif");
}

#button-newcard[disabled="true"],
#button-newcard[disabled="true"]:hover,
#button-newcard[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newcard-disabled.gif");
  } 

#button-newcard:hover
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newcard-hover.gif");
  } 

#button-newcard:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newcard-hover-active.gif");
  } 

#button-newlist {
  list-style-image: url("chrome://messenger/skin/addressbook/newlist.gif");
}

#button-newlist[disabled="true"],
#button-newlist[disabled="true"]:hover,
#button-newlist[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newlist-disabled.gif");
  } 

#button-newlist:hover
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newlist-hover.gif");
  } 

#button-newlist:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newlist-hover-active.gif");
  } 

#button-editcard {
  list-style-image:url("chrome://messenger/skin/addressbook/person.gif");
}

#button-editcard[disabled="true"],
#button-editcard[disabled="true"]:hover,
#button-editcard[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/person-disabled.gif");
  } 

#button-editcard:hover
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/person-hover.gif");
  } 

#button-editcard:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/person-hover-active.gif");
  } 

#button-newmessage {
  list-style-image:url("chrome://messenger/skin/addressbook/newmsg.gif");
}

#button-newmessage[disabled="true"],
#button-newmessage[disabled="true"]:hover,
#button-newmessage[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newmsg-disabled.gif");
  } 

#button-newmessage:hover
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newmsg-hover.gif");
  } 

#button-newmessage:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/newmsg-hover-active.gif");
  }

#button-delete {
  list-style-image:url("chrome://messenger/skin/addressbook/trash.gif");
}

#button-delete[disabled="true"],
#button-delete[disabled="true"]:hover,
#button-delete[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/trash-disabled.gif");
  } 

#button-delete:hover
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/trash-hover.gif");
  } 

#button-delete:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/trash-hover-active.gif");
  } 
  
  
/*
#button-stop {
  list-style-image:url("chrome://global/skin/stop.gif");
}

#button-stop[disabled="true"],
#button-stop[disabled="true"]:hover,
#button-stop[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://global/skin/stop-disabled.gif");
  } 

#button-stop:hover
  {
    list-style-image      : url("chrome://global/skin/stop-hover.gif");
  } 

#button-stop:hover:active
  {
    list-style-image      : url("chrome://global/skin/stop-hover-active.gif");
  } 

#button-search {
  list-style-image:url("chrome://messenger/skin/addressbook/searchold.gif");
}

#button-search[disabled="true"],
#button-search[disabled="true"]:hover,
#button-search[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/searchold-disabled.gif");
  } 

#button-search:hover
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/searchold-hover.gif");
  } 

#button-search:hover:active
  {
    list-style-image      : url("chrome://messenger/skin/addressbook/searchold-hover-active.gif");
  }
#searchlabel {
  padding: 0px;
  padding-left: 5px;
  padding-bottom:2px;
  white-space: nowrap;
  font-size: smaller;
  min-width: 20px;
}

#searchtext {
  min-width: 20px;
  padding: 0px;
}
*/

/* for abSelectAddressesDialog.xul */

#3PaneBox {
  border-top    : 1px solid #000000; 
  border-bottom  : 1px solid #000000;
  border-left    : 1px solid #000000;
}

#dirTreeBox {
  width      : 180px;
  height      : 100%; 
  background-color: #FFFFFF;
  border-right  : 1px solid #000000;
}

/* -note- #dirTree is shared with addressbook.xul */

#dirTree, #dirTree > .tree-container-treerows {
  border      : none;
}

#dirTree { // Tree that lists different Address Books
  height			   : 100px;
  min-width	     : 10px;
}

#results-bucket-tree-box {
  border-right  : 1px solid #000000;
}

#resultsTreeBox {
  background-color: #FFFFFF; 
  border-bottom  : 1px solid #000000;
}

#resultsTree {
  height      : 100px; 
  min-width    : 10px;
}

#addToBucketButtonBox { // Row of "To" "CC" and "Bcc" buttons
  padding      : 0.3em; 
  min-width    : 10px;
}

#bucketBox {
  height      : 170px;
  border-top    : 1px solid #000000;
}

#addressBucket {
  height      : 100px; 
  min-width    : 10px;
}

#rightColumnButtonBox { // Column with "New", "Edit" and "Remove" buttons
  padding      : .5em; 
  padding-right  : 0px;
}

.3rd-column-spring {  // Vertical Springs between 3rd column buttons
  height      : 10px;
}

.middle-button-spring { // Springs between To, CC, and BCC buttons
  width      : 10px;
}
