/* xmltpage.css: default style sheet for xmlterm.html */

BODY { font-family: monaco, courier, elite, monospace;
       background-color: #FFFFFF;
     }

DIV, PRE, SPAN { margin: 0; padding-top: 0; padding-bottom: 0 }

PRE { font-family: monaco;
      line-height: 120% }

/* Input components */
SPAN.prompt      { color: blue }
SPAN.command     { color: blue }

/* Error messages */
DIV.errmsg       { color: red }

/* Explicit hyperlinks (underlined) */
DIV.textlink     { font-family: monaco; color: blue; cursor: hand;
                    text-decoration: underline }
SPAN.textlink    { font-family: monaco; color: blue; cursor: hand;
                    text-decoration: underline }

/* Imlicit hyperlinks (highlighted) */
SPAN.highlight   { font-family: monaco; color: blue; cursor: hand }
SPAN.directory   { font-family: monaco; color: blue; cursor: hand }
SPAN.executable  { font-family: monaco; color: blue; cursor: hand }
SPAN.plainfile   { font-family: monaco; color: blue; cursor: hand }
SPAN.imagefile   { font-family: monaco; color: blue; cursor: hand }
SPAN.urlfile     { font-family: monaco; color: blue; cursor: hand }

/* Screen display */
PRE.row              { margin: 0; padding-top: 0; padding-bottom: 0 }
SPAN.row             { margin: 0; padding-top: 0; padding-bottom: 0 }
SPAN.boldstyle       { font-weight: bold; margin: 0;
                        padding-top: 0; padding-bottom: 0 }
SPAN.underlinestyle  { text-decoration: underline; margin: 0;
                        padding-top: 0; padding-bottom: 0 }
SPAN.blinkstyle      { font-weight: bold; margin: 0;
                        padding-top: 0; padding-bottom: 0 }
SPAN.inversestyle    { font-weight: bold; margin: 0;
                        padding-top: 0; padding-bottom: 0 }

/* Forms */
FORM             { margin: 0; padding-top: 0; padding-bottom: 0 }
SPAN.formhead    { font-family: sans-serif; font-weight: bold }

/* Tips */
SPAN.tipdata     { font-family: sans-serif; background-color: #DDDDDD }
TABLE.tiptable   { background-color: #DDDDDD }
DIV.tipelement   { font-family: sans-serif }

/* Help links */
SPAN.helphighlight { font-family: sans-serif; color: green; cursor: hand }
SPAN.helplink      { font-family: sans-serif; color: blue; cursor: hand;
                     text-decoration: underline }

/* Level style */
DIV.intermediate {display: block}
DIV.beginner     {display: none}

/* Icons style */
SPAN.noicons {display: inline}
SPAN.icons   {display: none}
IMG.icons    {display: none}
TR.icons     {display: none}
