/** Contains style definitions for the navigator application 
 **/

@import url(chrome://communicator/skin/);
@import url(chrome://communicator/skin/bookmarks/bookmarks.css);
@import url(chrome://communicator/skin/sidebar/sidebar.css);

#content
  {
    border-left           : 1px solid #000000;
    border-bottom         : 1px solid #000000;
  }

#browser
  {
    border-left           : 1px solid #9D9D9D;
  }  
  

#ubhist 
  {
    margin                : 0px;
    list-style-image      : url("chrome://global/skin/scroll-down.gif");
    width                 : 14px;
    height                : 14px;
  }

#urlbar-container
  {
    padding               : 3px 2px 2px 3px;
  }  
  
/*
 * Rules for 'hiding' portions of the chrome for special
 * kinds of browser windows.
 */
window[chromehidden~="menubar"] .chromeclass-menubar {
	display: none;
}

window[chromehidden~="toolbar"] .chromeclass-toolbar {
        display: none;
}

window[chromehidden~="location"] .chromeclass-location {
        display: none;
}

window[chromehidden~="directories"] .chromeclass-directories {
        display: none;
}

window[chromehidden~="status"] .chromeclass-status {
        display: none;
}

window[chromehidden~="extrachrome"] .chromeclass-extrachrome {
        display: none;
}

/*
 * Images for the main buttons
 */
#back-button 
  {
    list-style-image      : url("chrome://navigator/skin/back.gif");
    min-width	            : 55px;
  }

#back-button[disabled="true"],
#back-button[disabled="true"]:hover,
#back-button[disabled="true"]:hover:active,
#back-button[disabled="true"] > .classic-simplebutton-box > .classic-simplebutton:hover,
#back-button[disabled="true"] > .classic-simplebutton-box > .classic-simplebutton:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/back-disabled.gif");
  }

#back-button:hover,
#back-button > .classic-simplebutton-box > .classic-simplebutton:hover
  {
    list-style-image      : url("chrome://navigator/skin/back-hover.gif");
  }

#back-button:hover:active,
#back-button > .classic-simplebutton-box > .classic-simplebutton:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/back-hover-active.gif");
  }


#forward-button 
  {
    list-style-image      : url("chrome://navigator/skin/forward.gif");
    min-width             : 55px;
  }

#forward-button[disabled="true"],
#forward-button[disabled="true"]:hover,
#forward-button[disabled="true"]:hover:active,
#forward-button[disabled="true"] > .classic-simplebutton-box > .classic-simplebutton:hover,
#forward-button[disabled="true"] > .classic-simplebutton-box > .classic-simplebutton:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/forward-disabled.gif");
  }

#forward-button:hover,
#forward-button > .classic-simplebutton-box > .classic-simplebutton:hover
  {
    list-style-image      : url("chrome://navigator/skin/forward-hover.gif");
  }

#forward-button:hover:active,
#forward-button > .classic-simplebutton-box > .classic-simplebutton:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/forward-hover-active.gif");
  }


#stop-button 
  {
	  list-style-image      : url("chrome://navigator/skin/stop.gif");
	  min-width	            : 46px;
  } 

#stop-button[disabled="true"],
#stop-button[disabled="true"]:hover,
#stop-button[disabled="true"]:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/stop-disabled.gif");
  } 

#stop-button:hover
  {
    list-style-image      : url("chrome://navigator/skin/stop-hover.gif");
  } 

#stop-button:hover:active
  {
    list-style-image      : url("chrome://navigator/skin/stop-hover-active.gif");
  } 

#reload-button 
  {
  list-style-image        : url("chrome://navigator/skin/reload.gif");
  min-width	              : 46px;
  }

#reload-button:hover
  {
  list-style-image        : url("chrome://navigator/skin/reload-hover.gif");
  }

#reload-button:hover:active
  {
  list-style-image        : url("chrome://navigator/skin/reload-hover-active.gif");
  }

#reload-button[disabled="true"],
#reload-button[disabled="true"]:hover,
#reload-button[disabled="true"]:hover:active
  {
	  list-style-image      : url("chrome://navigator/skin/reload-disabled.gif");
  }
  
  
/*all the urlbar stuff*/
#page-proxy-button 
  {
	  list-style-image      : url("chrome://communicator/skin/bookmarks/location.gif"); 
	  cursor                : grab;
    margin                : 0px 2px 0px 0px;
  } 

#page-proxy-button:hover
  {
	  list-style-image      : url("chrome://communicator/skin/bookmarks/location-hover.gif");
  }

#page-proxy-button:hover:active
  {
	  list-style-image      : url("chrome://communicator/skin/bookmarks/location-clicked.gif");
  }

#ubhist-keyword-popup 
  {
	  margin                : 0px 4px 0px 0px;
	  width                 : 10px; 
	  list-style-image      : url("chrome://global/skin/ubhist-arrow.gif"); 
  } 

#action-popup 
  {
    list-style-image      : url("chrome://global/skin/dropmarker-down-on.gif"); 
	  margin                : 0px; 
	  -moz-border-radius    : 4px;
  }

#content-frame 
  {
    min-width             : 0px;
    min-height            : 0px;
  }

#nav-bar-inner
  {
    min-width			  : 0px;
    margin				  : 8px 0px 8px 6px;
  }
  
#search-button
  {
    margin-right          : 2px;
  }
  
#statusbar-icon
  {
    margin-left           : 0px;
  }

#print-button 
  {
    list-style-image      : url("chrome://global/skin/print.gif");
    min-width			  : 55px;
  }

#print-button[disabled="true"],
#print-button[disabled="true"][buttonover="true"],
#print-button[disabled="true"][buttondown="true"]
  {
    list-style-image      : url("chrome://global/skin/print-disabled.gif");
  }

#print-button[buttonover="true"]
  {
    list-style-image      : url("chrome://global/skin/print-hover.gif");
  }

#print-button[buttondown="true"]
  {
    list-style-image      : url("chrome://global/skin/print-hover-active.gif");
  }
