@import url(chrome://communicator/skin/);

treeitem[Type="1"] {
  color: green;
}

treeitem[Type="2"] {
  color: red;
}


treeitem[Type="3"] {
  color: blue;
}

treeitem[Type="leaf"] {
  color: black;
}

treeitem[Type~="content"] {
  color: green;
  font-style: italic;
}

treeitem[Type="contentAttribute"] {
  color: red;
  font-style: italic;
}

treeitem[Type="contentStyleRule"] {
    color: orange;
    font-style: italic;
}

treeitem[Type="style"] {
    color: brown;
    font-style: italic;
}

treeitem[Type="contentMisc"] {
    color:black;
    font-style: italic;
}
