/*
 * The contents of this file are subject to the Mozilla Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is Mozilla JSIRC Library.
 *
 * The Initial Developer of the Original Code is New Dimensions Consulting,
 * Inc. Portions created by New Dimensions Consulting, Inc. are
 * Copyright (C) 1999 New Dimenstions Consulting, Inc. All
 * Rights Reserved.
 *
 * Contributor(s):
 *  Robert Ginda, rginda@ndcico.com, original author
 * 
 * Styles for UI, See output-default.css for output window styles
 *
 */

@import url(chrome://communicator/skin/);
/*@import url(chrome://global/skin/global.css);*/

window {

    width: 640px;
    height: 480px;

}

#back-button
  {
	  list-style-image      : url("chrome://embedding/browser/skin/back.gif");
  }

#forward-button
  {
	  list-style-image      : url("chrome://embedding/browser/skin/forward.gif");
  }

#stop-button 
  {
	  list-style-image      : url("chrome://embedding/browser/skin/stop.gif");
  }

#reload-button 
  {
	  list-style-image      : url("chrome://embedding/browser/skin/reload.gif");
  }

