/** Contains style definitions for the navigator application 
 **/

titledbutton#print-button {
	list-style-image:url(resource:/res/toolbar/print.gif);
}

titledbutton#back-button {
	list-style-image:url(resource:/res/toolbar/back.gif);
}

titledbutton#forward-button {
	list-style-image:url(resource:/res/toolbar/forward.gif);
}

titledbutton#stop-button {
	list-style-image:url(resource:/res/toolbar/stop.gif);
} 

titledbutton#reload-button {
	list-style-image:url(resource:/res/toolbar/reload.gif);
}

titledbutton#home-button {
	list-style-image:url(resource:/res/toolbar/home.gif);
}

titledbutton#netscape-button {
	list-style-image:url(resource:/res/toolbar/mynetscape.gif);
}

titledbutton#security-button {
	list-style-image:url(resource:/res/toolbar/StatusBar-secure.gif);
}

titledbutton#Throbber
{
	list-style-image:url(resource:/res/throbber/anims00.gif);
}

titledbutton#Throbber[busy="true"] {
	list-style-image:url(resource:/res/throbber/throbbingN.gif);
}

toolbar#taskbar titledbutton{
  color:#CCCCFF; 
}

toolbar#taskbar titledbutton[pseudoclass~="active"] {

  text-decoration:none;
  border: 1px inset;

  padding-left: 2px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
}

toolbar#taskbar titledbutton[pseudoclass~="hover"] {
  border: 1px outset #666699;
	color:white;
	//text-decoration:underline;
  padding: 1px;
}

toolbar#taskbar {
    display:block;
    background-color: #666699;
    border-bottom: solid #333366 1px;
    border-top: solid #9999AA 1px;
    border-left: solid #9999AA 1px;
    border-right: solid #333366 1px;
    font: 10pt sans-serif;
    min-height: 16px;
    color: white;
}


box[class=insecure] {
   margin-top: 2px;
   border-top: 0px;
}

box[class=secure] {
   border-top: 2px solid yellow;
   margin-top: 0px;
}

box#status-bar titledbutton {
     font: 2.5mm sans-serif;
}

titledbutton[class=secure] {
  background-color: yellow;
}

titledbutton[class=insecure] {
}
 
toolbar#taskbar titledbutton[pseudoclass~="active"] {

	text-decoration:none;
  border: 1px inset;

  padding-left: 2px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
}

titledbutton[class="popup"]
{
	list-style-image:url(resource:/res/toolbar/taskbar-popup-arrow.gif);
}

titledbutton#mini-nav
{
	list-style-image:url(resource:/res/toolbar/taskbar-navigator.gif);
}

titledbutton#mini-mail
{
	list-style-image:url(resource:/res/toolbar/taskbar-mail.gif);
}

titledbutton#mini-addr
{
	list-style-image:url(resource:/res/toolbar/taskbar-addressbook.gif);
}

titledbutton#mini-comp
{
	list-style-image:url(resource:/res/toolbar/taskbar-composer.gif);
}

box[type="secure"] {
   border-top: 2px solid yellow;
}

box[type="unsecure"] {
   margin-top: 1px;
}

toolbar[class="main-bar"] {
}

window#main-window {
   width: 100%; 
   height: 100%;
}

box#outer-box {
   width: 100%; 
   height:100%;
}

iframe#content-frame {
 width: 100px;
 height: 100px;
}

toolbar titledbutton[pseudoclass~="hover"] {
   border-width: 10px;
}
