/** Contains style definitions for the navigator application 
 **/

titledbutton#print-button {
	list-style-image:url(http://www.mozillazine.org/toolbar/home.gif);
}

titledbutton#back-button {
	list-style-image:url(http://www.mozillazine.org/toolbar/back.gif);
}

titledbutton#forward-button {
	list-style-image:url(http://www.mozillazine.org/toolbar/forward.gif);
}

titledbutton#stop-button {
	list-style-image:url(http://www.mozillazine.org/toolbar/stop.gif);
} 

titledbutton#reload-button {
	list-style-image:url(http://www.mozillazine.org/toolbar/reload.gif);
}

titledbutton#home-button {
	list-style-image:url(http://www.mozillazine.org/toolbar/home.gif);
}

titledbutton#netscape-button {
	list-style-image:url(http://www.mozillazine.org/toolbar/mynetscape.gif);
}

titledbutton#security-button {
	list-style-image:url(resource:/res/toolbar/StatusBar-secure.gif);
}

titledbutton#Throbber
{
	list-style-image:url(http://www.mozillazine.org/toolbar/mozstat.gif);
}

titledbutton#Throbber[busy="true"] {
	list-style-image:url(resource:/res/throbber/throbbingN.gif);
}

toolbar#taskbar titledbutton{
  color:#CCCCFF; 
}

toolbar#taskbar titledbutton[pseudoclass~="active"] {

  text-decoration:none;
  border: 1px inset;

  padding-left: 2px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
}

toolbar#taskbar titledbutton[pseudoclass~="hover"] {
  border: 1px outset #666699;
	color:white;
	//text-decoration:underline;
  padding: 1px;
}

toolbar#taskbar {
    background-color: black;
    font: 10pt sans-serif;
    min-height: 16px;
    color: red;
}


box[class=insecure] {
   margin-top: 2px;
   border-top: 0px;
}

box[class=secure] {
   border-top: 2px solid yellow;
   margin-top: 0px;
}

box#status-bar titledbutton {
     font: 2.5mm sans-serif;
}

titledbutton[class=secure] {
  background-color: yellow;
}

titledbutton[class=insecure] {
}
 
toolbar#taskbar titledbutton[pseudoclass~="active"] {

  text-decoration:none;
  border: 1px inset;

  padding-left: 2px;
  padding-right: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
}

titledbutton[class="popup"]
{
	list-style-image:url(resource:/res/toolbar/taskbar-popup-arrow.gif);
}

titledbutton#mini-nav
{
	list-style-image:url(http://www.mozillazine.org/toolbar/taskbar-navigator.gif);
}

titledbutton#mini-mail
{
	list-style-image:url(http://www.mozillazine.org/toolbar/taskbar-mail.gif);
}

titledbutton#mini-addr
{
	list-style-image:url(http://www.mozillazine.org/toolbar/taskbar-addressbook.gif);
}

titledbutton#mini-comp
{
	list-style-image:url(http://www.mozillazine.org/toolbar/taskbar-composer.gif);
}

box[type="secure"] {
   border-top: 2px solid yellow;
}

box[type="unsecure"] {
   margin-top: 1px;
}

toolbar {
   background-color: black;
   border-color: black;
}

window#main-window {
   width: 100%; 
   height: 100%;
}

box#outer-box {
   width: 100%; 
   height:100%;
   background-color: black;
}

iframe#content-frame {
 width: 100px;
 height: 100px;
 margin: 5px;
}

titledbutton {
   color: red;
}

toolbox:toolbox-normal {
   background-color: black;
   background-image: none;
   border: none;
}

toolbox:toolbox-rollover {
   background-color: rgb(255,0,0);
   background-image: none;
   border: none;
}

progressmeter {
        border: 1px solid black;
        color : rgb(128,0,0);         
}

:progressmeter-stripe {
	color: rgb(0,128,0);
}
