/* -*- Mode: C; c-basic-offset: 2 -*-
 *
 * The contents of this file are subject to the Netscape Public
 * License Version 1.1 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of
 * the License at http://www.mozilla.org/NPL/
 *
 * Software distributed under the License is distributed on an "AS
 * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
 * implied. See the License for the specific language governing
 * rights and limitations under the License.
 *
 * The Original Code is mozilla.org code.
 *
 * The Initial Developer of the Original Code is Netscape
 * Communications Corporation.  Portions created by Netscape are
 * Copyright (C) 1998 Netscape Communications Corporation. All
 * Rights Reserved.
 *
 * Contributor(s): 
 */

/*

  Style rules specific to the directory listing window.

*/

/* Hide twisty for files */
.treecell-indent[type="FILE"] > .tree-cell-twisty 
  {
    list-style-image      : none;
  }

.treecell-filename
  {
    list-style-image      : url("chrome://communicator/skin/directory/file-icon.gif");
  }  
  
treeitem[selected="true"] > treerow > .treecell-filename
  {
    list-style-image      : url("chrome://communicator/skin/directory/file-icon-sel.gif");
  }
  
treeitem[container="true"] > treerow > .treecell-filename
  {
    list-style-image      : url("chrome://communicator/skin/directory/file-folder-closed.gif");
  }
treeitem[container="true"][selected="true"] > treerow > .treecell-filename
  {
    list-style-image      : url("chrome://communicator/skin/directory/file-folder-closed-sel.gif");
  }

treeitem[container="true"][open="true"] > treerow > .treecell-filename
  {
    list-style-image      : url("chrome://communicator/skin/directory/file-folder-open.gif");
  }
treeitem[container="true"][open="true"][selected="true"] > treerow > .treecell-filename
  {
    list-style-image      : url("chrome://communicator/skin/directory/file-folder-open-sel.gif");
  }
  
  
/* Show an animated icon when a directory/symlink is loading */
treeitem[type="SYMBOLIC-LINK"][loading="true"] > treerow > .treecell-filename > .tree-cell-twisty,
treeitem[type="DIRECTORY"][loading="true"] > treerow > treecell > .tree-cell-twisty
  {
    list-style-image      : url("chrome://global/skin/loading.gif");
  }

/* Italicize a symbolic link and make it look like a link (it can be a dir or link) */
.treecell-filename[type="SYMBOLIC-LINK"] 
  {
    color                 : inherit;
    text-decoration       : inherit;
    font-style            : italic;
  }

